$admin-color: #2271b1;
$admin-secondary-color:#8c8f94;

/* ----------------Utilities ----------------
-------------------------------------------*/
button {
    background-color: transparent;
    border: none;
    outline: none;
}
.button {
    display: inline-block;
    font-size: 13px;
    line-height: 2.3;
    text-decoration: none;
    text-transform: capitalize;
    height: 32px;
    margin: 0;
    padding: 0 8px;
    min-width: 60px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 4.5px;
    white-space: nowrap;
    transition: all .3s ease;
}
.base-select {
    padding: 0 24px 0 14px;
    height: 32px;
    min-height: 30px;
    min-width: 150px;
    font-size: 14px;
    line-height: 2.3;
    color: #2c3338;
    border-radius: 3px;
    border-width: 1px;
    border-color: #8c8f94;
    border-style: solid;
    appearance: none;
    -webkit-appearance: none;
    background: #fff url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E) no-repeat right 5px top 55%;
    background-size: 16px 16px;
    vertical-align: middle;
    cursor: pointer;
    transition: all .3s ease;
    &:hover {
        color: $admin-color;
    }
    &:focus {
        border-color: $admin-color;
        color: #0a4b78;
        box-shadow: 0 0 0 1px $admin-color;
    }
}
.base-input {
    border-radius: 4px;
    border: 1px solid #8c8f94;
    background-color: #fff;
    color: #2c3338;
    font-size: 14px;
}
.base-checkbox {
    border: 1px solid #8c8f94;
    border-radius: 4px;
    background-color: #fff;
    color: #50575e;
    cursor: pointer;
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin: -0.25rem 0.25rem 0 0;
    outline: 0;
    padding: 0;
    vertical-align: middle;
    appearance: none;
    -webkit-appearance: none;
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
    transition: .05s border-color ease-in-out;
    &::before {
        float: left;
        display: inline-block;
        vertical-align: middle;
        width: 1rem;
    }
    &:checked {
        border-color: $admin-color;
        box-shadow: 0 0 0 1px $admin-color;
        outline: 2px solid transparent;
        &::before {
            content: url(data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cpath%20d%3D%27M14.83%204.89l1.34.94-5.81%208.38H9.02L5.78%209.67l1.34-1.25%202.57%202.4z%27%20fill%3D%27%233582c4%27%2F%3E%3C%2Fsvg%3E);
            margin: -0.1875rem 0 0 -0.25rem;
            height: 1.3125rem;
            width: 1.3125rem;
        }
    }
}


/* ----------------Base styles----------------
----------------------------------------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#admin {
    color: #3c434a;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    align-items: flex-start;
    background-color: #f0f0f1;
    .page-fixed-header {
        + .content-wrapper {
            padding-top: 120px;
        }
    }
    .content-wrapper {
        padding: 60px 15px 20px;
        background: #f0f0f1;
        width: 100%;
    }

    @media screen and (min-width: 768px) {
        .main-content--small {
            flex: 0 0 350px;
            max-width: inherit;
        }
        .main-content--large {
            margin-right: 0;
            flex: 1;
            max-width: inherit;
        }
    }

    //title
    h1 {
        display: inline-block;
        font-size: 23px;
        font-weight: 400;
        color: #1d2327;
        margin: 0 20px 0 0;
    }
    h2 {
        border-bottom: 1px solid #cecece;
        text-transform: uppercase;
        display: inline-block;
        padding-bottom: 11px;
        margin-bottom: 15px;
        font-size: 26px;
    }
    h3 {
        color: #1d2327;
        font-size: 17px;
        font-weight: 600;
    }

    //page fixed header
    .page-fixed-header {
        position: absolute;
        top: 34px;
        display: flex;
        left: 180px;
        right: 0;
        align-items: center;
        padding: 0 0 0 40px;
        height: 60px;
        background-color: #fff;
        z-index: 10;
        transition: all .3s ease;
        .page-title {
            font-weight: 600;
            font-size: 14px;
            margin-bottom: 0;
        }
        &.fixed {
            position: fixed;
            box-shadow: 0 8px 16px 0 rgb(85 93 102 / 30%);
        }
    }

    .input-group-append .btn {
        z-index: 1;
    }
    .admin-payments-usaepay-edit .title-box .form-group.row, .admin-edit-bcc-emails .title-box .form-group.row {
        margin-bottom: 35px !important;
        label {
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
            min-width: fit-content;
            margin-right: 34px;
            font-weight: 600;
            line-height: 1.3;
            font-size: 14px;
            max-width: 100%;
            color: #1d2327;
            width: 200px;
            padding: 0;
        }
        input[type=checkbox] {
            box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
            border: 1px solid #8c8f94;
            padding: 0 !important;
            line-height: 0;
            height: 1rem;
            width: 1rem;
        }
        input[type=text], input[type=password], select {
            box-shadow: 0 0 0 transparent;
            border: 1px solid #8c8f94;
            background-color: #fff;
            border-radius: 4px;
            min-height: 30px;
            max-width: 100%;
            font-size: 14px;
            line-height: 2;
            padding: 0 8px;
            color: #2c3338;
            width: 400px;
            height: 30px;
            &:focus {
                box-shadow: 0 0 0 1px #2271b1;
                border-color: #2271b1;
                color: #0a4b78;
            }
        }
        input[type=file] {
            background-color: transparent;
            margin: 10px 0 5px;
            box-shadow: unset;
            cursor: pointer;
            max-width: 100%;
            font-size: 14px;
            width: 400px;
            height: auto;
            padding: 0;
            border: 0;
        }
    }
}

//remove bootstrap styles
.btn, button {
    font-size: 13px;
    &:focus,
    &:active {
        box-shadow: none;
    }
}
.card {
    background-color: transparent;
    border: 0;
    border-radius: 0;

    .card-header {
        background-color: transparent;
        padding: 0;
        border: 0;
    }
}
input, select, textarea, .form-control {
    box-shadow: none;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 3px;
    transition: all .3s ease;

    &:focus,
    &:active {
        border-color: $admin-color!important;
        box-shadow: 0 0 0 1px $admin-color;
        outline: 2px solid transparent;
    }
}

a:hover {
    text-decoration: none;
}

input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]) {
    @extend .base-input;
}

.form-group {
    label {
        margin-bottom: 0;
        padding: 2px 0;
        color: #1d2327;
        font-size: 13px;
    }
    input,
    select {
        font-size: 14px;
    }
    select.form-control {
        @extend .base-select;
    }
}

#toast-container {
    /*.toast.toast-error {
        padding: 10px 15px;
        opacity: 1;
        color: $admin-color;
        .toast-title {
            color: $admin-color;
            text-transform: uppercase;
        }
        .toast-message {
            color: #ff0000;
        }
    }
    .toast-success { color:  #fff; }*/
}

//user page

.filter-links { display: flex; }

.filter-links .filter-link-item { margin-right: 5px; margin-bottom: 0 }
#filter-links-container {
    display: flex;
    flex-wrap: wrap;
    a {
        text-transform: capitalize;
        text-decoration: none;
        line-height: 2;
        font-size: 13px;
        padding: 0.2em;
        color: #2271b1;
        margin-right: 5px;
        display: flex;
        white-space: nowrap;
        span {
            color: #50575e;
            display: inline-flex;
        }
        .count {
            font-weight: 400;
            margin: 0 5px;
        }
        .line {
            margin: 0 0 0 2px;
        }
        &:last-child {
            .line {
                display: none;
            }
        }
    }
}

.login-page {
    justify-content: flex-start;
    height: auto;
}

body #admin input[type=checkbox] {
    font-size: 14px;
    height: 1rem;
    width: 1rem;
    padding: 0;
}

.analytics-container .analytics-boxes-row {
    border-left: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    .analytics-box {
        border-bottom: 1px solid #e0e0e0;
        border-right: 1px solid #e0e0e0;
        justify-content: space-between;
        padding: 24px !important;
        background-color: #fff;
        flex-direction: column;
        min-height: 117px;
        display: flex;
        p {
            color: rgb(30, 30, 30);
            &.analytics-title {
                line-height: 20px;
                margin: 0 0 16px;
                font-size: 14px;
            }
            &.analytics-price {
                line-height: 28px;
                font-size: 20px;
                margin: 0;
            }
            &.analytics-percent {
                background-color: #d94f4f;
                width: fit-content;
                border-radius: 3px;
                line-height: 16px;
                font-size: 12px;
                padding: 5px;
                margin: 0;
                &.zero { background-color: #f0f0f0; }
                &.plus { background-color: #4ab866; }
            }
        }
        &:hover { background-color: #f0f0f0; }
    }
}

.vhd__datepicker__header {
    .vhd__datepicker__month-button {
        background-image: url("/images/icons/arrow-right.svg");
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: center;
    }
}

.admin-main-page-content {
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    border: 1px solid #c3c4c7;
    display: inline-block;
    background: #fff;
    width: 413px;
    a {
        display: inline-flex;
        align-items: center;
        padding: 9px 12px;
        gap: 12px;
        label {
            line-height: 1.2em;
            font-size: 18px;
            color: #21759b;
            margin: 0;
        }
        p {
            font-size: 12px;
            color: #aaa;
            margin: 0;
        }
        i {
            margin-bottom: 5px;
            line-height: 1.2em;
            font-size: 24px;
        }
        &.sales-this-month {
            border-bottom: 1px solid #ececec;
            width: 100%;
            i { color: #464646; }
        }
        &.processing-orders {
            border-bottom: 1px solid #ececec;
            border-right: 1px solid #ececec;
            width: 50%;
            .processing-icon-box {
                justify-content: center;
                align-items: center;
                background: #7ad03a;
                margin-bottom: 5px;
                border-radius: 50%;
                display: flex;
                height: 24px;
                width: 24px;
                span {
                    border-radius: 50%;
                    position: relative;
                    background: #fff;
                    height: 4px;
                    width: 4px;
                    &:after, &:before {
                        border-radius: 50%;
                        position: absolute;
                        background: #fff;
                        content: "";
                        height: 4px;
                        width: 4px;
                        top: 50%;
                    }
                    &:after {
                        transform: translate(5px, -50%);
                        left: 0;
                    }
                    &:before {
                        transform: translate(-5px, -50%);
                        right: 0;
                    }
                }
            }
        }
        &.out-of-stock {
            width: 100%;
            i { color: #a00; }
        }
    }
}

#admin .dataTables_length select{
    min-width: initial;
    height: 30px;
    margin-top: 3px;
}
