@media screen and (max-width: 1919px) and (min-width: 1440px) {

    .header {
        padding: 0px 50px 0px 94px;
    }

    .menu {
        margin: auto auto;
    }

    .svg_text_container {
        padding: 30px 0;
    }

    /* .menu_a {
        font-size: calc(18px + 12 * ((100vw - 1920px) / 1440));
    } */

    /* .svg_text {
        font-size: calc(18px + 12 * ((100vw - 1920px) / 1440));
    } */

    .section_1 {
        padding: 120px 0 25px 300px;
    }

    .h1_text {
        font-size: calc(100px + 88 * ((100vw - 1920px) / 1440));
    }

    .solar_img_container {
        margin-top: calc(-148px + -20 * ((100vw - 1920px) / 1440));
        margin-left: calc(72px + 450 * ((100vw - 1920px) / 1440));
    }

    .div_image_panel {
        margin-left: calc(76px + -75 * ((100vw - 1920px) / 1440));
    }

    .sec_2_img_cont {
        width: calc(950px - 100px);
    }

    .sec_2_text_info {
        margin: 337px 52px 317px 0;
        margin-left: calc(302px + -75 * ((100vw - 1920px) / 1440));
    }



}

/* @media (max-width: 500px) {
    .header-mobile {
        display: flex;
    }

    .header {
        display: none;
    }
} */

@media screen and (max-width: 1439px) and (min-width: 360px) {
    .header {
        padding: 0px 50px 0px 94px;
    }

    .menu {
        margin: auto auto;
    }

    .svg_text_container {
        padding: 30px 0;
    }

    /* @media screen and (max-width:1080px) {
        .header {
            display: none;
        }

        .header-mobile {
            display: flex;
        }
    }

    .dis-none {
        display: none;
    } */
}
