<template>
    <div>
        <div class="carousel-item">
            <img v-for="item in items" :item="item" :key="item.id" :src="item.image" alt="nk">
            <div class="carousel-caption d-none d-md-block">
                <h5>...</h5>
                <p>...</p>
            </div>
        </div>
    </div>


</template>
<script>
export default {
    props: ['items'],
    data() {

        return {
            items:[
                {
                id: 1,
                image: "/images/imgcars/slider/slider1.jpg",
            },
                {
                    id: 2,
                    image: "/images/imgcars/slider/slider2.jpg",
                },
                {
                    id: 3,
                    image: "/images/imgcars/slider/slider3.jpg",
                }
            ],

        }
    }

}
</script>
