.pharmacy_button {
    width: auto;
    color: #FDBF00 !important;
    border: 2px solid #FDBF00;
    border-radius: 5px;
    min-height: 40px;
    font-size: 16px;
    text-align: center;
    padding: 10px;
}

.pharmacy_button-yellow{
    margin: 20px 0;
    width: auto;
    color: white !important;
    background-color :#FDBF00;
    border-radius: 5px;
    min-height: 40px;
    font-size: 16px;
    text-align: center;
    padding: 10px;
}
a{
    cursor: pointer;
}



