.about-text-hidden {
    overflow: hidden;
}

.about-section-1 {
    width: 100%;
    max-width: 1920px;
    background: #F0F0F0;
    padding: 435px 269px 330px 300px;
}

.about-section-1-tablet {
    display: none;
    background: #F0F0F0;
}

.about-section-1-mobile {
    display: none;
    background: #F0F0F0;
}

.about-sec-1-text {
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 116.5%;
    color: #18191E;
    transform: translateY(90px);
}

.about-text-and-image {
    display: flex;
    position: relative;
}

.about-pos-left {
    margin-left: 275px;
}

.about-sec-1-img {
    position: absolute;
    left: 469px;
    top: 40px;
}

.about-dis-flex {
    display: flex;
}

.about-sec-1-text-s {
    margin: 15px 38px 0 50px;
    font-family: 'Space Grotesk-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 138.5%;
    text-transform: uppercase;
    color: #18191E;
    transform: translateY(90px);
}

.about-section-2 {
    width: 100%;
    max-width: 1920px;
    position: relative;
}

.about-marquee {
    margin-top: 47px;
    margin-bottom: 40px;
    overflow: hidden;
}

.about-marquee-content {
    display: flex;
    animation: scrolling 40s linear infinite;
}

.about-marquee-item {
    flex: 0 0 8vw;
}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translatex(-144vw);
    }
}

.about-sec-2-img-and-text-cont {
    margin: 199px 927PX 268px 300px;
}

.about-text-cont-tablet {
    display: none;
}

.about-sec-2-h4 {
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: #18191E;
    transform: translateY(90px);
}

.about-sec-2-h4-2 {
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    text-transform: uppercase;
    color: #18191E;
    transform: translateY(90px);
}

.about-sec-2-p {
    margin-top: 60px;
    margin-right: 150px;
    font-family: 'Space Grotesk-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 138.5%;
    color: #18191E;
}

.about-sec-2-p-mobile {
    display: none;
    margin-top: 60px;
    margin-right: 150px;
    font-family: 'Space Grotesk-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #18191E;
}

.about-sec-2-img-cont {
    position: absolute;
    top: 0;
    left: 755px;
}

.about-sec-2-yellow-cont {
    margin: 0 300px 206px 300px;
    background: #FFF353;
}

.about-yellow-text-cont {
    padding: 78px 261px;
}

.about-yellow-text-cont-tablet {
    display: none;
}

.about-yellow-h4 {
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    color: #18191E;
    transform: translateY(90px);
}

.about-yellow-h4-2 {
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    line-height: 31px;
    text-align: center;
    text-transform: uppercase;
    color: #18191E;
    transform: translateY(90px);
}

.about-yellow-p {
    margin: 21px 72px 0 72px;
    font-family: 'Space Grotesk-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 132%;
    text-align: center;
    color: #18191E;
}

.about-yellow-btn {
    margin: 36px 286px 0 286px;
    padding: 25px 56px;
    background: #18191E;
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 132%;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    outline: none;
}

.about-yellow-btn:hover {
    background: white;
    color: #18191E;
    transition: .2s linear;
}

.about-section-3 {
    width: 100%;
    max-width: 1920px;
    background: #F0F0F0;
    overflow: hidden;
}

.about-sec-3-text-cont {
    padding: 99px 1165px 71px 301px;
}

.about-sec-3-h4 {
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: #18191E;
    transform: translateY(90px);
}

.about-swiper-container {
    display: flex;
    margin: 0 0 75px 300px;
    cursor: grab;
}

.about-swiper-container:active {
    cursor: grabbing;
}


.about-swiper-wrapper {
    display: flex;
}


.about-swiper-slide {
    margin-right: 21px;
}

.about-swiper-slide-p {
    margin-top: 27px;
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 110%;
    text-transform: uppercase;
    color: #000000;
}

.about-swiper-slide-p-2 {
    margin-top: 12px;
    font-family: 'Space Grotesk-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 110%;
    color: rgba(0, 0, 0, 0.5);
}

.about-section-4 {
    width: 100%;
    max-width: 1920px;
    overflow: hidden;
    position: relative;
}

.about-sec-4-text-cont {
    position: absolute;
    top: 124px;
    left: 300px;
    right: 269px;
}

.about-sec-4-text-cont-tablet {
    display: none;
}

.about-sec-4-text-cont-mobile {
    display: none;
}

.about-sec-4-img-cont {
    display: flex;
}

.about-sec-4-h4 {
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 104%;
    color: #18191E;
    display: flex;
    transform: translateY(90px);
}

.about-sec-4-h4-2 {
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 31px;
    color: #18191E;
    display: flex;
    transform: translateY(90px);
}

.about-sec-4-h4-3 {
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 31px;
    color: #18191E;
    display: flex;
    transform: translateY(90px);
}

.about-sec-4-p {
    margin: 10px 123px 0 30px;
    font-family: 'Space Grotesk-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 138.5%;
    text-transform: uppercase;
    color: #18191E;
}

.about-section_8 {
    width: 100%;
    max-width: 1920px;
    background: #1931AF;
    overflow: hidden;
}

.about-sec_8_text_cont {
    padding: 187px 887px 0 303px;
}

.about-sec_8_h4 {
    font-family: "Space Grotesk-Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: #FFFFFF;
    transform: translateY(90px);
}

.about-sec_8_icons_cont {
    display: flex;
    gap: 114px;
    padding: 196px 236px 340px 260px;
}

.about-icons_text {
    width: 300px;
}

.about-icon {
    padding: 24px 60px;
}

.about-icon_2 {
    padding: 4px 46px;
}

.about-icon_3 {
    padding: 27px 49px;
}

.about-icon_4 {
    padding: 0 42px;
}

.about-icon_text {
    margin-top: 30px;
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.about-section-6 {
    width: 100%;
    max-width: 1920px;
    padding: 99px 300px 227px 300px;
}

.about-sec-6-text-cont {
    margin: 0 12px 151px 3px;
}

.about-sec-6-text-cont-mobile {
    display: none;
}

.about-sec-6-h4 {
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 104%;
    text-transform: uppercase;
    color: #18191E;
    transform: translateY(90px);
}

.about-sec-6-h4-2 {
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    text-transform: uppercase;
    color: #18191E;
    transform: translateY(90px);
}

.about-sec-6-p {
    margin: 20px 651px 0 0;
    font-family: 'Space Grotesk-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 138.5%;
    text-transform: uppercase;
    color: #18191E;
}

.about-info-group {
    display: flex;
    gap: 62px;
}

.about-info-group-top {
    margin-top: 50px;
}

.about-info-1 {
    border-bottom: 1.57143px solid #B3B3B3;
}

.about-sec-6-text-1-cont {
    margin: 0 553px 22px 0;
    padding: 6px 12px;
    background: rgba(255, 243, 83, 0.37);
    border: 1px solid #1A1B1F;
    border-radius: 6.28571px;
}

.about-sec-6-text-1 {
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #18191E;
}

.about-sec-6-text-2 {
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 50px;
    letter-spacing: -0.01em;
    color: #000000;
}

.about-text-circle-cont {
    display: flex;
}

.about-sec-6-text-3 {
    font-family: 'Space Grotesk-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 38px;
    color: #333333;
}

.about-svg-circle {
    margin: 19px 12px;
}

.about-sec-6-click {
    margin-top: 37px;
    margin-bottom: 37px;
    display: flex;
    text-decoration: none;
}

.about-click-text {
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 38px;
    color: #333333;
}

.about-sec-6-icon {
    margin: 7px 0 7px 5px;
}

// responsive


@media screen and (max-width: 1919px) and (min-width: 744px) {
    .about-section-1 {
        padding: calc(435px + 143* ((100vw - 1919px) / 744)) calc(269px + 158* ((100vw - 1919px) / 744)) calc(330px + 189* ((100vw - 1919px) / 744)) calc(300px + 187* ((100vw - 1919px) / 744));
    }

    .about-sec-1-text {
        font-size: calc(90px + 32* ((100vw - 1919px) / 744));
    }

    .about-sec-1-text-s {
        font-size: calc(20px + 2* ((100vw - 1919px) / 744));
    }

    .about-sec-1-img {
        position: absolute;
        left: calc(469px + 360* ((100vw - 1919px) / 1460));
        top: calc(40px + -47* ((100vw - 1919px) / 1460));
        width: calc(312px + 261* ((100vw - 1919px) / 1460));
    }

    .about-pos-left {
        margin-left: calc(275px + 335* ((100vw - 1919px) / 1460));
    }

    @media (max-width: 1460px) and (min-width: 744px) {
        .about-section-1 {
            display: none;
        }

        .about-section-1-tablet {
            display: block;
            padding: calc(347px + 144* ((100vw - 1460px) / 744)) calc(171px + 156* ((100vw - 1460px) / 744)) calc(213px + 190* ((100vw - 1460px) / 744)) calc(158px + 135* ((100vw - 1460px) / 744));
        }

        .about-sec-1-img {
            position: absolute;
            left: calc(115px + 110* ((100vw - 1460px) / 744));
            top: calc(486px + 159* ((100vw - 1460px) / 744));
            width: calc(230px + 100* ((100vw - 1460px) / 744));
        }

        .about-marg-left {
            margin-left: calc(145px + 51* ((100vw - 1460px) / 744));
        }

        .about-sec-1-text-s {
            margin: calc(0px + -15* ((100vw - 1460px) / 744)) calc(140px + -189* ((100vw - 1460px) / 744)) 0 0;
        }
    }

    .about-marquee-item {
        flex: 0 0 calc(8vw + -30* ((100vw - 1919px) / 744));
    }

    .about-sec-2-h4 {
        font-size: calc(60px + 12.6* ((100vw - 1919px) / 744));
        line-height: calc(60px + 13* ((100vw - 1919px) / 744));
    }

    .about-sec-2-img-and-text-cont {
        margin: calc(199px + 54* ((100vw - 1919px) / 744)) calc(927px + 587* ((100vw - 1919px) / 744)) calc(268px + 134* ((100vw - 1919px) / 744)) calc(300px + 174* ((100vw - 1919px) / 744));
    }

    .about-sec-2-img {
        width: calc(1083px + 362* ((100vw - 1919px)/ 744));
    }

    .about-sec-2-p {
        margin: calc(60px + 28* ((100vw - 1919px) / 744)) calc(150px + -166* ((100vw - 1919px) / 744)) 0 0;
        font-size: calc(20px + 2.5* ((100vw - 1919px) / 744));
    }

    .about-sec-2-img-cont {
        position: absolute;
        top: calc(0px + -75* ((100vw - 1919px) / 744));
        left: calc(755px + 290* ((100vw - 1919px) / 744));
    }

    @media (max-width: 744px) {
        .about-text-cont-pc {
            display: none;
        }

        .about-text-cont-tablet {
            display: block;
        }
    }

    .about-sec-2-yellow-cont {
        margin: 0 calc(300px + 190* ((100vw - 1919px) / 744)) 0 calc(300px + 190* ((100vw - 1919px) / 744));
    }

    .about-yellow-text-cont {
        padding: calc(78px + 26* ((100vw - 1919px) / 744)) calc(261px + 60* ((100vw - 1919px) / 744));
    }

    .about-yellow-h4 {
        font-size: calc(60px + 18* ((100vw - 1919px) / 744));
        line-height: calc(60px + 19* ((100vw - 1919px) / 744));
    }

    .about-yellow-p {
        margin: calc(21px + 2* ((100vw - 1919px) / 744)) calc(72px + 45* ((100vw - 1919px) / 744)) 0 calc(72px + 45* ((100vw - 1919px) / 744));
        font-size: calc(24px + 2* ((100vw - 1919px) / 744));
    }

    .about-yellow-btn {
        margin: calc(36px + -8* ((100vw - 1919px) / 744)) calc(286px + 181* ((100vw - 1919px) / 744)) 0 calc(286px + 181* ((100vw - 1919px) / 744));
        padding: calc(25px + 4* ((100vw - 1919px) / 744)) calc(56px + -62* ((100vw - 1919px) / 744));
    }

    @media (max-width: 744px) {
        .about-yellow-text-cont-pc {
            display: none;
        }

        .about-yellow-text-cont-tablet {
            display: block;
        }
    }

    .about-sec-3-text-cont {
        padding: calc(99px + 39* ((100vw - 1919px) / 744)) calc(1165px + 585* ((100vw - 1919px) / 744)) calc(71px + 19* ((100vw - 1919px) / 744)) calc(301px + 26* ((100vw - 1919px) / 744));
    }

    .about-sec-3-h4 {
        font-size: calc(60px + 19* ((100vw - 1919px) / 744));
        line-height: calc(60px + 20* ((100vw - 1919px) / 744));
    }

    .about-swiper-container {
        margin: 0 0 calc(75px + 18* ((100vw - 1919px) / 744)) calc(300px + 155* ((100vw - 1919px) / 744));
    }

    .about-swiper-img {
        width: calc(569px + 211* ((100vw - 1919px) / 744));
    }

    .about-sec-4-img {
        width: calc(1920px + 744* ((100vw - 1919px) / 744));
    }

    .about-sec-4-h4 {
        font-size: calc(90px + 38* ((100vw - 1919px) / 744));
        line-height: calc(104% + 4* ((100vw - 1919px) / 744));
    }

    .about-sec-4-p {
        font-size: calc(20px + 2.5* ((100vw - 1919px)/ 744));
        line-height: calc(138.5% + 3* ((100vw - 1919px) / 744));
    }

    .about-sec-4-text-cont {
        position: absolute;
        top: 124px;
        left: 300px;
        right: calc(269px + 504* ((100vw - 1919px) / 1460));
    }

    @media (max-width: 1459px) and (min-width: 744px) {
        .about-sec-4-text-cont {
            display: none;
        }

        .about-sec-4-text-cont-tablet {
            display: block;
            position: absolute;
            top: calc(124px + -27* ((100vw + 1459px) / 744));
            left: calc(190px + -52* ((100vw + 1459px) / 744));
        }

        .about-sec-4-p {
            margin: 10px calc(287px + 69* ((100vw - 1459px) / 744)) 0 0;
        }
    }

    .about-section-6 {
        padding: calc(99px + 26* ((100vw - 1991px) / 744)) calc(300px + 144* ((100vw - 1919px) / 744)) calc(227px + 52* ((100vw - 1919px) / 744)) calc(300px + 163* ((100vw - 1919px)/ 744));
    }

    .about-sec-6-text-cont {
        margin: 0;
    }

    .about-sec-6-h4 {
        font-size: calc(90px + 32* ((100vw - 1919px) / 744));
        line-height: calc(104% + 2* ((100vw - 1919px) / 744));
    }

    .about-sec-6-p {
        margin: calc(20px + -6* ((100vw - 1919px) / 744)) calc(651px + 445* ((100vw - 1919px) / 744)) 0 0;
        font-size: calc(20px + 2.5* ((100vw - 1919px) / 744));
    }

    .about-sec-6-info {
        margin-top: calc(0px + -59* ((100vw - 1919px) / 744));
    }

    .about-sec-6-text-3 {
        font-size: calc(22px + 2* ((100vw - 1919px) / 744));
    }

    .about-sec-6-text-2 {
        font-size: calc(35px + 6* ((100vw - 1919px) / 744));
    }

    .about-sec-6-text-1-cont {
        margin: 0 calc(553px + 200* ((100vw - 1919px) / 744)) calc(22px + 0* ((100vw - 1919px) / 744)) 0;
    }

    .about-sec_8_text_cont {
        padding: calc(187px + 96* ((100vw - 1920px) / 744)) 0 0 calc(303px + 165* ((100vw - 1920px) / 744));
    }

    .about-sec_8_h4 {
        font-size: calc(60px + 13 * ((100vw - 1920px) / 744));
        line-height: calc(60px + 15* ((100vw - 1920px) / 744));
    }

    .about-sec_8_icons_cont {
        padding: calc(169px + 140 * ((100vw - 1920px) / 1240)) calc(236px + 390 * ((100vw - 1920px) / 1240)) calc(340px + 400 * ((100vw - 1920px) / 1240)) calc(260px + 440 * ((100vw - 1920px) / 1240));
        gap: calc(114px + 76 * ((100vw - 1920px) / 1240));
    }

    @media (max-width: 1239px) and (min-width: 744px) {

        .about-sec_8_icons_cont {
            display: grid;
            grid-template-columns: auto auto;
            padding: calc(169px + 181 * ((100vw - 1240px) / 744)) calc(236px + 243 * ((100vw - 1240px) / 744)) calc(340px + 310 * ((100vw - 1240px) / 744)) calc(260px + 270 * ((100vw - 1240px) / 744));
        }

        .about-icons_text {
            width: calc(300px + 46* ((100vw - 1240px) / 744));
        }
    }
}

@media screen and (max-width: 743px) and (min-width: 360px) {

    .about-section-1 {
        display: none;
    }

    .about-section-1-tablet {
        display: block;
        padding: 208px 20px 30px 28px;
    }

    .about-sec-1-text {
        font-size: 40px;
        line-height: 46px;
    }

    .about-sec-1-text-s {
        font-size: 16px;
        line-height: 22px;
        margin: 14px calc(339px + 624* ((100vw - 743px) / 628)) 0 0px;
    }

    .about-sec-1-img {
        position: absolute;
        top: 333px;
        left: 6px;
        width: 133px;
    }

    .about-marg-left {
        margin-left: 94px;
    }

    @media (max-width: 627px) and (min-width: 360px) {
        .about-section-1-tablet {
            display: none;
        }

        .about-section-1-mobile {
            display: block;
            padding: calc(208px + 35* ((100vw - 628px) / 360)) 20px 30px 28px;
        }

        .about-sec-1-img {
            position: absolute;
            top: calc(381px + 38* ((100vw - 628px) / 360));
            left: 6px;
            width: 133px;
        }

        .about-marg-left {
            margin-left: 93px;
        }

        .about-sec-1-text-s {
            font-size: 16px;
            line-height: 22px;
            margin: 14px calc(339px + 449* ((100vw - 628px) / 360)) 0 0px;
        }
    }

    .about-marquee-item {
        flex: 0 0 calc(15vw + -40* ((100vw - 744px) / 360));
    }

    .about-sec-2-h4-2 {
        font-size: 40px;
        line-height: 42px;
    }

    .about-text-cont-pc {
        display: none;
    }

    .about-text-cont-tablet {
        display: block;
        padding: calc(25px + 0* ((100vw - 744px) / 360)) calc(0px + 0* ((100vw - 744px) / 360)) 0 calc(226px + 195* ((100vw - 744px) / 360));
    }

    .about-sec-2-img-and-text-cont {
        margin: 0;
    }

    .about-sec-2-p {
        display: none;
    }

    .about-sec-2-img-cont {
        position: inherit;
        margin-top: calc(-78px + -10* ((100vw - 744px) / 360));
        margin-left: calc(87px + 183* ((100vw - 744px) / 360));
    }

    .about-sec-2-p-mobile {
        display: block;
        margin: calc(-85px + -20* ((100vw - 744px) / 360)) calc(130px + 84* ((100vw - 744px) / 360)) calc(40px + 0* ((100vw - 744px) / 360)) calc(137px + 112* ((100vw - 744px) / 360));
    }

    .about-sec-2-img {
        width: 511px;
    }


    .about-sec-2-yellow-cont {
        margin: 0;
    }

    .about-yellow-text-cont-pc {
        display: none;
    }

    .about-yellow-text-cont-tablet {
        display: block;
    }

    .about-yellow-text-cont {
        padding: 37px calc(167px + 141* ((100vw - 744px) / 360));
    }

    .about-yellow-h4-2 {
        font-size: 31px;
        line-height: 31px;
    }

    .about-yellow-p {
        font-size: 16px;
        line-height: 21px;
        margin: 18px 0 0 0;
    }

    .about-yellow-btn {
        padding: 19px calc(153px + 75* ((100vw - 744px) / 360));
        margin: 49px calc(0px + -27* ((100vw - 744px) / 360)) 0 calc(0px + -27* ((100vw - 744px) / 360));
    }

    .about-sec-3-text-cont {
        padding: 32px calc(257px + 225* ((100vw - 744px) / 360)) 40px calc(260px + 190* ((100vw - 744px) / 360));
    }

    .about-sec-3-h4 {
        font-size: 30px;
        line-height: 25px;
    }

    .about-swiper-container {
        margin: 0 0 75px 34px;
    }

    .about-swiper-img {
        width: 235px;
    }

    .about-sec-4-h4-3 {
        font-size: 30px;
        line-height: 31px;
    }

    .about-sec-4-p {
        font-size: 16px;
        line-height: 22px;
        margin: 10px calc(160px + 358* ((100vw - 744px) / 570)) 0 0;
    }

    .about-sec-4-img {
        width: 745px;
    }

    .about-sec-4-text-cont {
        display: none;
    }

    .about-sec-4-text-cont-tablet {
        display: block;
        position: absolute;
        left: 40px;
        top: 55px;
        right: 0;
    }

    @media (max-width: 569px) and (min-width: 360px) {
        .about-sec-4-text-cont-tablet {
            display: none;
        }

        .about-sec-4-text-cont-mobile {
            display: block;
            position: absolute;
            top: 30px;
            left: calc(130px + 180* ((100vw - 560px) / 360));
        }

        .about-sec-4-img {
            width: calc(942px + -104* ((100vw - 560px) / 360));
            margin-left: calc(0px + 585* ((100vw - 560px) / 360));
        }

        .about-sec-4-p {
            margin: 10px calc(116px + 150* ((100vw - 560px) / 369)) 0 0;
        }
    }

    .about-section-6 {
        padding: 56px 81px 144px 30px
    }

    .about-sec-6-text-cont {
        margin: 0;
    }

    .about-sec-6-h4 {
        font-size: 40px;
        line-height: 42px;
    }

    .about-sec-6-p {
        margin: 20px 0 70px 0;
        font-size: 16px;
        line-height: 22px;
    }

    .about-sec-6-text-2 {
        font-size: 25px;
        line-height: 50px;
    }

    .about-sec-6-text-3 {
        font-size: 18px;
        line-height: 37px;
    }

    .about-click-text {
        font-size: 16px;
        line-height: 37px;
    }

    .about-sec-6-text-1-cont {
        margin: 0 185px 22px 0;
    }

    @media (max-width: 689px) and (min-width: 360px) {
        .about-sec-6-text-cont-tablet-pc {
            display: none;
        }

        .about-sec-6-text-cont-mobile {
            display: block;
        }

        .about-section-6 {
            padding: calc(56px + 19* ((100vw - 689px) / 360)) calc(81px + 61* ((100vw - 689px) / 360)) calc(144px + 105* ((100vw - 689px) / 360)) calc(30px + 0* ((100vw - 689px) / 360));
        }

        .about-info-group {
            display: inline-block;
        }

        .about-info-1 {
            margin-bottom: 30px;
        }
    }

    .about-sec_8_text_cont {
        padding: 34px 0 0 41px;
    }

    .about-sec_8_h4 {
        font-size: 40px;
        line-height: 39px;
    }

    .about-sec_8_icons_cont {
        display: grid;
        gap: 55px;
        grid-template-columns: auto;
        padding: calc(76px + 0 * ((100vw - 744px) / 360)) calc(211px + 156 * ((100vw - 744px) / 360)) calc(61px + 0 * ((100vw - 744px) / 360)) calc(230px + 174 * ((100vw - 744px) / 360));
    }

    .about-icons_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: calc(300px + 29* ((100vw - 743px) / 360));
    }

    .about-icons {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
