.blog-text-hidden {
    overflow: hidden;
}

.blog-section-1 {
    width: 100%;
    max-width: 1920px;
    padding: 382px 295px 111px 300px;
}

.blog-sec-1-text-cont-mobile {
    display: none;
}

.blog-sec-1-h3 {
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 116.5%;
    text-transform: uppercase;
    color: #18191E;
    transform: translateY(90px);
}

.blog-category-cont {
    margin-top: 180px;
    margin-bottom: 73px;
    display: flex;
    gap: 31px;
}

.blog-swiper-container {
    display: none;
}

.blog-category-p {
    position: relative;
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 132%;
    color: #18191E;
    cursor: pointer;
}

.blog-category-p::after {
    content: "";
    width: 100%;
    display: block;
    border-bottom: 1.5px solid #000000;
    margin-bottom: 7px;
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    transition: opacity .2s linear;
}

.blog-category-p:hover::after {
    opacity: 1;
    transition: opacity .2s linear;
}

.blog-sec-1-h4 {
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 110%;
    text-transform: uppercase;
    color: #18191E;
    transform: translateY(90px);
}

.blog-cont {
    display: flex;
    gap: 30px;
    margin-top: 60px;
}

.blog-cont-top {
    margin-top: 72px;
}

.blog-info-p-1 {
    margin-top: 40px;
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    color: #18191E;
}

.blog-info-p-2 {
    margin-top: 18px;
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 132%;
    color: #18191E;
}

.blog-sec-1-btn {
    background: #18191E;
    border: none;
    outline: none;
    padding: 20px 60px;
    margin: 114px 556px 0 551px;
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    cursor: pointer;
}

.blog-sec-1-btn:hover {
    background-color: #1931AF;
    color: #000000;
    transition: .3s linear;
}

.blog-a {
    text-decoration: none;
}

#off-items-bucket {
    display: none;
}

// responsive

@media screen and (max-width: 1919px) and (min-width: 744px) {
    .blog-section-1 {
        padding: calc(382px + 104* ((100vw - 1919px) / 744)) calc(295px + 175* ((100vw - 1919px) / 744)) calc(111px + 16* ((100vw - 1919px) / 744)) calc(300px + 178* ((100vw - 1919px) / 744));
    }

    .blog-sec-1-h3 {
        font-size: calc(90px + 32* ((100vw - 1919px) / 744));
    }

    .blog-category-cont {
        margin-top: calc(180px + 87* ((100vw - 1919px) / 744));
        margin-bottom: calc(73px + -17* ((100vw - 1919px) / 744));
        gap: calc(31px + -20* ((100vw - 1919px) / 744));
    }

    .blog-category-p {
        font-size: calc(24px + 3* ((100vw - 1919px) / 744));
    }

    .blog-sec-1-h4 {
        font-size: calc(60px + 18.9* ((100vw - 1919px) / 744));
    }

    .blog-blog-cont {
        gap: calc(30px + 0* ((100vw - 1919px) / 744));
        margin-top: calc(60px + 16* ((100vw - 1919px) / 744));
    }

    .blog-sec-1-img {
        width: calc(643px + 202* ((100vw - 1919px) / 744));
    }

    .blog-info-p-1 {
        margin-top: calc(40px + 9* ((100vw - 1919px) / 744));
        font-size: calc(16px + 3.7* ((100vw - 1919px) / 744));
    }

    .blog-info-p-2 {
        margin-top: calc(18px + 4* ((100vw - 1919px) / 744));
        font-size: calc(30px + 6* ((100vw - 1919px) / 744));
    }

    .blog-sec-1-btn {
        padding: 20px calc(60px + -62* ((100vw - 1919px) / 744));
        margin: calc(114px + 34* ((100vw - 1919px) / 744)) calc(556px + 266* ((100vw - 1919px) / 744)) 0 calc(551px + 262* ((100vw - 1919px) / 744));
    }
}

@media screen and (max-width: 743px) and (min-width: 360px) {
    .blog-section-1 {
        padding: calc(217px + 80* ((100vw - 743px) / 360)) calc(19px + 0* ((100vw - 743px) / 360)) calc(85px + 0* ((100vw - 743px) / 360)) calc(19px + 0* ((100vw - 743px) / 360));
    }

    .blog-sec-1-h3 {
        font-size: 40px;
        line-height: 46px;
    }

    .blog-category-p {
        font-size: 24px;
    }

    .blog-category-width {
        width: 22px;
    }

    .blog-category-width-2 {
        width: 140px;
    }

    .blog-swiper-container {
        display: flex;
        margin: 59PX 0 73px 0px;
        cursor: grab;
    }

    .blog-swiper-container:active {
        cursor: grabbing;
    }

    .blog-swiper-wrapper {
        display: flex;
    }


    .blog-swiper-slide {
        margin-right: 21px;
    }

    .blog-sec-1-h4 {
        font-size: 30px;
        line-height: 31px;
    }

    .blog-blog-cont {
        display: flex;
        gap: calc(35px + 140* ((100vw - 743px) / 650));
        margin-top: 35px;
    }

    .blog-sec-1-img {
        width: calc(324px + 195* ((100vw - 743px) / 650));
    }

    .blog-blog-info-p-1 {
        margin-top: 25px;
        font-size: 10px;
    }

    .blog-blog-info-p-2 {
        margin-top: 11px;
        font-size: 20px;
        line-height: 26px;
    }

    .blog-sec-1-btn {
        padding: 20px calc(157px + 95* ((100vw - 743px) / 360));
        margin: calc(70px + 33* ((100vw - 743px) / 360)) calc(136px + 78* ((100vw - 743px) / 360)) 0 calc(137px + 79* ((100vw - 743px) / 360));
    }

    .blog-category-cont {
        display: none;
    }

    .blog-swiper-container {
        display: flex;
        gap: 15px;
        margin-top: 59px;
        margin-bottom: 67px;
    }

    @media (max-width: 640px) {
        .blog-sec-1-text-cont-pc {
            display: none;
        }

        .blog-sec-1-text-cont-mobile {
            display: inline-block;
        }

        .blog-blog-cont {
            display: flex;
            flex-direction: column;
            gap: 35px;
        }

        .blog-a {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .blog-sec-1-img {
            width: 324px;
        }

        .blog-blog-info-p-1 {
            margin-left: calc(-540px + -360* ((100vw - 640px) / 360));
        }
    }
}
