.home_page_text_hidden {
    overflow: hidden;
}

.home_page_section_1 {
    width: 100%;
    max-width: 1920px;
    background: #F0F0F0;
    padding: 144px 359px 0 431px;
    position: relative;
    overflow: hidden;
    overflow-x: hidden;
}

.home_page_cont_img_1_hand {
    position: absolute;
    left: 0;
    top: 709px;
    transform: translateY(0) translateX(-250px);
}

.home_page_cont_img_2_hand {
    position: absolute;
    left: 1345px;
    top: 131px;
    transform: translateY(-100px) translateX(250px);
}

.home_page_hand_right {
    display: none;
}

.home_page_hand_left {
    display: none;
}

.home_page_div_image_panel {
    margin-left: 76px;
}

.home_page_cont_text_img {
    position: absolute;
    top: 301px;
    margin-left: -72px;
    margin-right: 444px;
}

.home_page_h1_text {
    font-family: "Space Grotesk-Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 104%;
    text-align: center;
    text-transform: uppercase;
    color: #18191E;
    transform: translateY(90px);
}

.home_page_h1_cont_mobile {
    display: none;
}


.home_page_solar_img_container {
    margin-top: -148px;
    margin-left: 72px;
    position: relative;
}

.home_page_image {
    position: absolute;
    left: 0;
    top: 0;
}

.home_page_img_1 {
    transform: translateX(262px) translateY(177px);
}

.home_page_img_2 {
    transform: translateX(382px) translateY(169px);
}

.home_page_img_3 {
    transform: translateX(492px) translateY(162px);
}

.home_page_img_4 {
    transform: translateX(604px) translateY(155px);
}

.home_page_img_5 {
    transform: translateX(705px) translateY(149px);
}

.home_page_img_6 {
    transform: translateX(340px) translateY(286px);
}

.home_page_img_7 {
    transform: translateX(467px) translateY(273px);
}

.home_page_img_8 {
    transform: translateX(586px) translateY(262px);
}

.home_page_img_9 {
    transform: translateX(698px) translateY(251px);
}

.home_page_img_10 {
    transform: translateX(803px) translateY(241px);
}

.home_page_section_2 {
    width: 100%;
    max-width: 1920px;
    background: #1931AF;
    display: flex;
    overflow: hidden;
    overflow-x: hidden;
}

.home_page_sec_2_text_info {
    margin: 337px 52px 317px 302px;
}

.home_page_sec_2_text_cont_tablet {
    display: none;
}

.home_page_sec_2_text_h4 {
    transform: translateY(90px);
    font-family: "Space Grotesk-Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.home_page_sec_2_text_p {
    margin: 30px 73px 0 0;
    font-family: "Space Grotesk-Regular";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 138.5%;
    color: #FFFFFF;
}

.home_page_sec_2_img_cont {
    width: 950px;
    height: 1080px;
}

.home_page_sec_2_img {
    height: 1500px;
}

.home_page_section_3 {
    width: 100%;
    max-width: 1920px;
    background: #F0F0F0;
    padding: 165px 305px 95px 305px;
    overflow: hidden;
    overflow-x: hidden;
}

.home_page_image_home {
    position: relative;
    background-image: url("/images/static/Group 1000004466.webp");
    width: 1304px;
    height: 859px;
    background-size: cover;
    background-position: center;
}

.home_page_pulse_1 {
    margin: 100px;
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #1931AF;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(25, 49, 175, 0.79);
    animation: pulse 2s infinite;
    position: absolute;
    top: 38%;
    left: 66%;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(25, 49, 175, 0.79);
    }

    70% {
        box-shadow: 0 0 0 25px rgba(25, 49, 175, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(25, 49, 175, 0);
    }
}

.home_page_pulse_2 {
    margin: 100px;
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #1931AF;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(25, 49, 175, 0.79);
    animation: pulse2 2s infinite;
    position: absolute;
    top: 50%;
    left: 76%;
}

@keyframes pulse2 {
    0% {
        box-shadow: 0 0 0 0 rgba(25, 49, 175, 0.79);
    }

    70% {
        box-shadow: 0 0 0 25px rgba(25, 49, 175, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(25, 49, 175, 0);
    }
}

.home_page_pulse_3 {
    margin: 100px;
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #1931AF;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(25, 49, 175, 0.79);
    animation: pulse3 2s infinite;
    position: absolute;
    top: 62%;
    left: 63%;
}

@keyframes pulse3 {
    0% {
        box-shadow: 0 0 0 0 rgba(25, 49, 175, 0.79);
    }

    70% {
        box-shadow: 0 0 0 25px rgba(25, 49, 175, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(25, 49, 175, 0);
    }
}

.home_page_pulse_1:hover,
.home_page_pulse_2:hover,
.home_page_pulse_3:hover {
    animation: none;
}

.home_page_pulse_info_1 {
    width: 268px;
    position: absolute;
    top: 31%;
    left: 77%;
    background: #FFFFFF;
    border-radius: 14px;
    z-index: 1;
    display: none;
}

.home_page_pulse_info_2 {
    width: 268px;
    position: absolute;
    top: 48%;
    left: 87%;
    background: #FFFFFF;
    border-radius: 14px;
    z-index: 1;
    display: none;
}

.home_page_pulse_info_3 {
    width: 268px;
    position: absolute;
    top: 58%;
    left: 74%;
    background: #FFFFFF;
    border-radius: 14px;
    z-index: 1;
    display: none;
}

.home_page_pulse_info_1_p_1 {
    margin: 20px 117px 0 20px;
    font-family: "Space Grotesk-Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 110%;
    text-transform: uppercase;
    color: #18191E;
}

.home_page_pulse_info_1_p_2 {
    margin: 12px 33px 0 20px;
    font-family: "Space Grotesk-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 110%;
    color: #5C5C5C;
}

.home_page_pulse_info_img {
    margin: 0 39px;
}

.home_page_pulse_1:hover~.home_page_pulse_info_1 {
    display: block;
}

.home_page_pulse_2:hover~.home_page_pulse_info_2 {
    display: block;
}

.home_page_pulse_3:hover~.home_page_pulse_info_3 {
    display: block;
}

.home_page_section_4 {
    width: 100%;
    max-width: 1920px;
    background: #FFF353;
    overflow-x: hidden;
    overflow: hidden;
}

.home_page_sec_4_texts_cont {
    padding: 361px 1075px 360px 302px;
    display: flex;
    flex-direction: column;
    gap: 300px;
}

.home_page_sec_4_p_1 {
    font-family: "Space Grotesk-Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 60px;
    color: rgba(0, 0, 0, 0.57);
}

.home_page_sec_4_p_2 {
    margin-top: 30px;
    font-family: "Space Grotesk-Regular";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 138.5%;
    color: #18191E;
}

.home_page_sec_4_h3 {
    font-family: "Space Grotesk-Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: #18191E;
}

.divider {
    position: absolute;
    left: 50%;
    width: 1px;
    height: 100%;
    background-color: black;
    transform: translateX(-1px);
}

.box {
    position: absolute;
    z-index: 3;
}

.one {
    top: 0;
    left: 50%;
    height: 50%;
    width: 50%;
    transform-origin: top center;
    transform: scaleY(0);
    border-bottom: solid 1px black;
    background: #FFF353;
}

.two {
    top: 50%;
    left: 75%;
    width: 25%;
    height: 50%;
    transform: scaleX(0);
    transform-origin: right center;
    background: #FFF353;
    border-left: solid 1px black;
}

.three {
    top: 50%;
    left: 50%;
    width: 25%;
    height: 50%;
    transform: scaleY(0);
    transform-origin: bottom center;
    background: #FFF353;
}

.four {
    top: 50%;
    left: 50%;
    width: 12.5%;
    height: 25%;
    transform: scaleX(0);
    transform-origin: left center;
    background: #FFF353;
}

.section {
    position: relative;
    height: 100vh;
    overflow-x: hidden;
    overflow: hidden;
}

.right {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    transform-origin: center right;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.home_page_sec_4_tablet_mobile_img_cont {
    display: flex;
}

.home_page_section_4_tablet_mobile {
    width: 100%;
    overflow: hidden;
    background: #FFF353;
    overflow-x: hidden;
    display: none;
    position: relative;
}

.home_page_sec_4_tablet_mobile_image {
    width: 100%;
}

.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    padding: 20px 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    left: 1.5rem;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    right: 1.5rem;
}

.swiper-container{
    margin:0 auto;
    position:relative;
    overflow:hidden;
    list-style:none;
    padding:0;
    z-index:1
}
.swiper-container-no-flexbox .swiper-slide{
    float:left
}
.swiper-container-vertical>.swiper-wrapper{
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column
}
.swiper-wrapper{
    position:relative;
    width:100%;
    height:100%;
    z-index:1;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-transition-property:-webkit-transform;
    transition-property:-webkit-transform;
    -o-transition-property:transform;
    transition-property:transform;
    transition-property:transform,-webkit-transform;
    -webkit-box-sizing:content-box;
    box-sizing:content-box
}
.swiper-container-android .swiper-slide,.swiper-wrapper{
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0)
}
.swiper-container-multirow>.swiper-wrapper{
    -webkit-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap
}
.swiper-container-free-mode>.swiper-wrapper{
    -webkit-transition-timing-function:ease-out;
    -o-transition-timing-function:ease-out;
    transition-timing-function:ease-out;
    margin:0 auto
}
.swiper-slide{
    -webkit-flex-shrink:0;
    -ms-flex-negative:0;
    flex-shrink:0;
    width:100%;
    height:100%;
    position:relative;
    -webkit-transition-property:-webkit-transform;
    transition-property:-webkit-transform;
    -o-transition-property:transform;
    transition-property:transform;
    transition-property:transform,-webkit-transform
}
.swiper-slide-invisible-blank{
    visibility:hidden
}
.swiper-container-autoheight,.swiper-container-autoheight .swiper-slide{
    height:auto
}
.swiper-container-autoheight .swiper-wrapper{
    -webkit-box-align:start;
    -webkit-align-items:flex-start;
    -ms-flex-align:start;
    align-items:flex-start;
    -webkit-transition-property:height,-webkit-transform;
    transition-property:height,-webkit-transform;
    -o-transition-property:transform,height;
    transition-property:transform,height;
    transition-property:transform,height,-webkit-transform
}
.swiper-container-3d{
    -webkit-perspective:1200px;
    perspective:1200px
}
.swiper-container-3d .swiper-cube-shadow,.swiper-container-3d .swiper-slide,.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top,.swiper-container-3d .swiper-wrapper{
    -webkit-transform-style:preserve-3d;
    transform-style:preserve-3d
}
.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    pointer-events:none;
    z-index:10
}
.swiper-container-3d .swiper-slide-shadow-left{
    background-image:-webkit-gradient(linear,right top,left top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));
    background-image:-webkit-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));
    background-image:-o-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));
    background-image:linear-gradient(to left,rgba(0,0,0,.5),rgba(0,0,0,0))
}
.swiper-container-3d .swiper-slide-shadow-right{
    background-image:-webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));
    background-image:-webkit-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));
    background-image:-o-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));
    background-image:linear-gradient(to right,rgba(0,0,0,.5),rgba(0,0,0,0))
}
.swiper-container-3d .swiper-slide-shadow-top{
    background-image:-webkit-gradient(linear,left bottom,left top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));
    background-image:-webkit-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));
    background-image:-o-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));
    background-image:linear-gradient(to top,rgba(0,0,0,.5),rgba(0,0,0,0))
}
.swiper-container-3d .swiper-slide-shadow-bottom{
    background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));
    background-image:-webkit-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));
    background-image:-o-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));
    background-image:linear-gradient(to bottom,rgba(0,0,0,.5),rgba(0,0,0,0))
}
.swiper-container-wp8-horizontal,.swiper-container-wp8-horizontal>.swiper-wrapper{
    -ms-touch-action:pan-y;
    touch-action:pan-y
}
.swiper-container-wp8-vertical,.swiper-container-wp8-vertical>.swiper-wrapper{
    -ms-touch-action:pan-x;
    touch-action:pan-x
}
.swiper-button-next,.swiper-button-prev{
    position:absolute;
    top:50%;
    width:27px;
    height:44px;
    margin-top:-22px;
    z-index:10;
    cursor:pointer;
    background-position:center;
    background-repeat:no-repeat
}
.swiper-button-next.swiper-button-disabled,.swiper-button-prev.swiper-button-disabled{
    opacity:.35;
    cursor:auto;
    pointer-events:none
}
.swiper-button-prev,.swiper-container-rtl .swiper-button-next{
    background-image:url("/images/static/prev.png");
    left:10px;
    right:auto
}
.swiper-button-next,.swiper-container-rtl .swiper-button-prev{
    background-image:url("/images/static/next.png");
    right:10px;
    left:auto
}
.swiper-button-prev.swiper-button-white,.swiper-container-rtl .swiper-button-next.swiper-button-white{
    background-image:url("/images/static/next.png");
}
.swiper-button-next.swiper-button-white,.swiper-container-rtl .swiper-button-prev.swiper-button-white{
    background-image:url("/images/static/next.png");
}
.swiper-button-prev.swiper-button-black,.swiper-container-rtl .swiper-button-next.swiper-button-black{
    background-image:url("/images/static/next.png");
}
.swiper-button-next.swiper-button-black,.swiper-container-rtl .swiper-button-prev.swiper-button-black{
    background-image:url("/images/static/next.png");
}
.swiper-button-lock{
    display:none
}
.swiper-pagination{
    position:absolute;
    text-align:center;
    -webkit-transition:.3s opacity;
    -o-transition:.3s opacity;
    transition:.3s opacity;
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
    z-index:10
}
.swiper-pagination.swiper-pagination-hidden{
    opacity:0
}
.swiper-container-horizontal>.swiper-pagination-bullets,.swiper-pagination-custom,.swiper-pagination-fraction{
    bottom:10px;
    left:0;
    width:100%
}
.swiper-pagination-bullets-dynamic{
    overflow:hidden;
    font-size:0
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{
    -webkit-transform:scale(.33);
    -ms-transform:scale(.33);
    transform:scale(.33);
    position:relative
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active{
    -webkit-transform:scale(1);
    -ms-transform:scale(1);
    transform:scale(1)
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main{
    -webkit-transform:scale(1);
    -ms-transform:scale(1);
    transform:scale(1)
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev{
    -webkit-transform:scale(.66);
    -ms-transform:scale(.66);
    transform:scale(.66)
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev{
    -webkit-transform:scale(.33);
    -ms-transform:scale(.33);
    transform:scale(.33)
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next{
    -webkit-transform:scale(.66);
    -ms-transform:scale(.66);
    transform:scale(.66)
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next{
    -webkit-transform:scale(.33);
    -ms-transform:scale(.33);
    transform:scale(.33)
}
.swiper-pagination-bullet{
    width:8px;
    height:8px;
    display:inline-block;
    border-radius:100%;
    background:#000;
    opacity:.2
}
button.swiper-pagination-bullet{
    border:none;
    margin:0;
    padding:0;
    -webkit-box-shadow:none;
    box-shadow:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none
}
.swiper-pagination-clickable .swiper-pagination-bullet{
    cursor:pointer
}
.swiper-pagination-bullet-active{
    opacity:1;
    background:#007aff
}
.swiper-container-vertical>.swiper-pagination-bullets{
    right:10px;
    top:50%;
    -webkit-transform:translate3d(0,-50%,0);
    transform:translate3d(0,-50%,0)
}
.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet{
    margin:6px 0;
    display:block
}
.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{
    top:50%;
    -webkit-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    transform:translateY(-50%);
    width:8px
}
.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{
    display:inline-block;
    -webkit-transition:.2s top,.2s -webkit-transform;
    transition:.2s top,.2s -webkit-transform;
    -o-transition:.2s transform,.2s top;
    transition:.2s transform,.2s top;
    transition:.2s transform,.2s top,.2s -webkit-transform
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
    margin:0 4px
}
.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{
    left:50%;
    -webkit-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    transform:translateX(-50%);
    white-space:nowrap
}
.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{
    -webkit-transition:.2s left,.2s -webkit-transform;
    transition:.2s left,.2s -webkit-transform;
    -o-transition:.2s transform,.2s left;
    transition:.2s transform,.2s left;
    transition:.2s transform,.2s left,.2s -webkit-transform
}
.swiper-container-horizontal.swiper-container-rtl>.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{
    -webkit-transition:.2s right,.2s -webkit-transform;
    transition:.2s right,.2s -webkit-transform;
    -o-transition:.2s transform,.2s right;
    transition:.2s transform,.2s right;
    transition:.2s transform,.2s right,.2s -webkit-transform
}
.swiper-pagination-progressbar{
    background:rgba(0,0,0,.25);
    position:absolute
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
    background:#007aff;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    -webkit-transform:scale(0);
    -ms-transform:scale(0);
    transform:scale(0);
    -webkit-transform-origin:left top;
    -ms-transform-origin:left top;
    transform-origin:left top
}
.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
    -webkit-transform-origin:right top;
    -ms-transform-origin:right top;
    transform-origin:right top
}
.swiper-container-horizontal>.swiper-pagination-progressbar,.swiper-container-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite{
    width:100%;
    height:4px;
    left:0;
    top:0
}
.swiper-container-horizontal>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,.swiper-container-vertical>.swiper-pagination-progressbar{
    width:4px;
    height:100%;
    left:0;
    top:0
}
.swiper-pagination-white .swiper-pagination-bullet-active{
    background:#fff
}
.swiper-pagination-progressbar.swiper-pagination-white{
    background:rgba(255,255,255,.25)
}
.swiper-pagination-progressbar.swiper-pagination-white .swiper-pagination-progressbar-fill{
    background:#fff
}
.swiper-pagination-black .swiper-pagination-bullet-active{
    background:#000
}
.swiper-pagination-progressbar.swiper-pagination-black{
    background:rgba(0,0,0,.25)
}
.swiper-pagination-progressbar.swiper-pagination-black .swiper-pagination-progressbar-fill{
    background:#000
}
.swiper-pagination-lock{
    display:none
}
.swiper-scrollbar{
    border-radius:10px;
    position:relative;
    -ms-touch-action:none;
    background:rgba(0,0,0,.1)
}
.swiper-container-horizontal>.swiper-scrollbar{
    position:absolute;
    left:1%;
    bottom:3px;
    z-index:50;
    height:5px;
    width:98%
}
.swiper-container-vertical>.swiper-scrollbar{
    position:absolute;
    right:3px;
    top:1%;
    z-index:50;
    width:5px;
    height:98%
}
.swiper-scrollbar-drag{
    height:100%;
    width:100%;
    position:relative;
    background:rgba(0,0,0,.5);
    border-radius:10px;
    left:0;
    top:0
}
.swiper-scrollbar-cursor-drag{
    cursor:move
}
.swiper-scrollbar-lock{
    display:none
}
.swiper-zoom-container{
    width:100%;
    height:100%;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    text-align:center
}
.swiper-zoom-container>canvas,.swiper-zoom-container>img,.swiper-zoom-container>svg{
    max-width:100%;
    max-height:100%;
    -o-object-fit:contain;
    object-fit:contain
}
.swiper-slide-zoomed{
    cursor:move
}
.swiper-lazy-preloader{
    width:42px;
    height:42px;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-21px;
    margin-top:-21px;
    z-index:10;
    -webkit-transform-origin:50%;
    -ms-transform-origin:50%;
    transform-origin:50%;
    -webkit-animation:swiper-preloader-spin 1s steps(12,end) infinite;
    animation:swiper-preloader-spin 1s steps(12,end) infinite
}
.swiper-lazy-preloader:after{
    display:block;
    content:'';
    width:100%;
    height:100%;
    background-image:url("data:image/svg+xml");
    //charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-position:50%;
    background-size:100%;
    background-repeat:no-repeat
    }
    .swiper-lazy-preloader-white:after{
    background-image:url("data:image/svg+xml");
        //charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")
        }
        @-webkit-keyframes swiper-preloader-spin{
        100%{
        -webkit-transform:rotate(360deg);
    transform:rotate(360deg)
}
}
@keyframes swiper-preloader-spin{
    100%{
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}
.swiper-container .swiper-notification{
    position:absolute;
    left:0;
    top:0;
    pointer-events:none;
    opacity:0;
    z-index:-1000
}
.swiper-container-fade.swiper-container-free-mode .swiper-slide{
    -webkit-transition-timing-function:ease-out;
    -o-transition-timing-function:ease-out;
    transition-timing-function:ease-out
}
.swiper-container-fade .swiper-slide{
    pointer-events:none;
    -webkit-transition-property:opacity;
    -o-transition-property:opacity;
    transition-property:opacity
}
.swiper-container-fade .swiper-slide .swiper-slide{
    pointer-events:none
}
.swiper-container-fade .swiper-slide-active,.swiper-container-fade .swiper-slide-active .swiper-slide-active{
    pointer-events:auto
}
.swiper-container-cube{
    overflow:visible
}
.swiper-container-cube .swiper-slide{
    pointer-events:none;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    z-index:1;
    visibility:hidden;
    -webkit-transform-origin:0 0;
    -ms-transform-origin:0 0;
    transform-origin:0 0;
    width:100%;
    height:100%
}
.swiper-container-cube .swiper-slide .swiper-slide{
    pointer-events:none
}
.swiper-container-cube.swiper-container-rtl .swiper-slide{
    -webkit-transform-origin:100% 0;
    -ms-transform-origin:100% 0;
    transform-origin:100% 0
}
.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-active .swiper-slide-active{
    pointer-events:auto
}
.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-next,.swiper-container-cube .swiper-slide-next+.swiper-slide,.swiper-container-cube .swiper-slide-prev{
    pointer-events:auto;
    visibility:visible
}
.swiper-container-cube .swiper-slide-shadow-bottom,.swiper-container-cube .swiper-slide-shadow-left,.swiper-container-cube .swiper-slide-shadow-right,.swiper-container-cube .swiper-slide-shadow-top{
    z-index:0;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden
}
.swiper-container-cube .swiper-cube-shadow{
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    height:100%;
    background:#000;
    opacity:.6;
    -webkit-filter:blur(50px);
    filter:blur(50px);
    z-index:0
}
.swiper-container-flip{
    overflow:visible
}
.swiper-container-flip .swiper-slide{
    pointer-events:none;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    z-index:1
}
.swiper-container-flip .swiper-slide .swiper-slide{
    pointer-events:none
}
.swiper-container-flip .swiper-slide-active,.swiper-container-flip .swiper-slide-active .swiper-slide-active{
    pointer-events:auto
}
.swiper-container-flip .swiper-slide-shadow-bottom,.swiper-container-flip .swiper-slide-shadow-left,.swiper-container-flip .swiper-slide-shadow-right,.swiper-container-flip .swiper-slide-shadow-top{
    z-index:0;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden
}
.swiper-container-coverflow .swiper-wrapper{
    -ms-perspective:1200px
}






.home_page_section_5 {
    width: 100%;
    max-width: 1920px;
    display: flex;
    overflow-x: hidden;
    overflow: hidden;
}

.home_page_sec_5_hidden {
    display: flex;
    overflow: hidden;
    height: 100%;
    max-height: 1080px;
}

.home_page_sec_5_hidden_tablet {
    display: none;
    overflow: hidden;
}

.home_page_sec_5_mobile_cont {
    display: block;
}

.home_page_sec_5_img_cont {
    margin: 242px 81px auto 300px;
    border-radius: 50%;
    border: 1px solid #B5BABD;
}

.home_page_sec_5_text_cont {
    margin: 362px 363px 200px 0;
}

.home_page_sec_5_text_p {
    font-family: "Space Grotesk-Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 60px;
    color: rgba(0, 0, 0, 0.57);
}

.home_page_sec_5_text_p_2 {
    margin: 10px 40px 30px 0;
    font-family: "Space Grotesk-Regular";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 138.5%;
    color: #18191E;
}

.home_page_sec_5_text_h4 {
    font-family: "Space Grotesk-Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: #18191E;
}

.home_page_section_6 {
    width: 100%;
    max-width: 1920px;
    background: #B5BABD;
    display: flex;
    overflow-x: hidden;
    overflow: hidden;
}

.home_page_sec_6_texts_cont {
    margin: 456px 330px auto 300px;
    display: flex;
    flex-direction: column;
    gap: 730px;
}

.home_page_sec_6_p {
    font-family: "Space Grotesk-Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 60px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.57);
}

.home_page_sec_6_h6 {
    font-family: "Space Grotesk-Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: #18191E;
}

.home_page_svg_color_blue {
    margin: 275px 334px 170px 227px;
}

.home_page_sec_6_img_cont {
    margin-left: 10px;
    position: relative;
    background: #F8F8F8;
}

.home_page_sec_6_image_cont {
    position: absolute;
    top: 50px;
}

.home_page_left_hand {
    position: absolute;
    top: 0px;
    left: 568px;
}

.home_page_right_hand {
    position: absolute;
    top: 590px;
}

.home_page_section_6_tablet_mobile {
    background: #B5BABD;
    overflow-x: hidden;
    overflow: hidden;
    display: none;
}


.home_page_section_7 {
    width: 100%;
    max-width: 1920px;
    background-color: #FFF353;
    display: flex;
    overflow-x: hidden;
    overflow: hidden;
}

.home_page_sec_7_img_cont {
    width: 958px;
    height: 1080px;
}

.home_page_sec_7_img {
    width: 958px;
    height: 2000px;
}

.home_page_sec_7_text_cont {
    margin: 342px 282px 340px 99px;
}

.home_page_sec_7_h4 {
    font-family: "Space Grotesk-Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: #18191E;
    transform: translateY(90px);
}

.home_page_sec_7_p {
    margin-top: 30px;
    font-family: "Space Grotesk-Regular";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 138.5%;
    color: #18191E;
}

.home_page_section_7_tablet_mobile {
    background-color: #FFF353;
    overflow-x: hidden;
    display: none;
}

.home_page_sec_7_tablet_mobile_text_cont {
    padding: 80px 73px 81px 36px;
}

.home_page_sec_7_tablet_mobile_img {
    width: 100%;
}

.home_page_sec_7_tablet_mobile_img_cont {
    display: flex;
}

.home_page_section_8 {
    width: 100%;
    max-width: 1920px;
    background: #1931AF;
    overflow-x: hidden;
    overflow: hidden;
}

.home_page_sec_8_text_cont {
    padding: 187px 887px 0 303px;
}

.home_page_sec_8_h4 {
    font-family: "Space Grotesk-Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: #FFFFFF;
    transform: translateY(90px);
}

.home_page_sec_8_icons_cont {
    display: flex;
    gap: 114px;
    padding: 196px 236px 340px 260px;
}

.home_page_icons_text {
    width: 300px;
}

.home_page_icon {
    padding: 24px 60px;
}

.home_page_icon_2 {
    padding: 4px 46px;
}

.home_page_icon_3 {
    padding: 27px 49px;
}

.home_page_icon_4 {
    padding: 0 42px;
}

.home_page_icon_text {
    margin-top: 30px;
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.home_page_section_9 {
    width: 100%;
    max-width: 1920px;
    background: #18191E;
    overflow-x: hidden;
    display: flex;
    overflow: hidden;
}

.home_page_sec_9_text_cont {
    margin: 233px 66px 156px 302px;
}

.home_page_sec_h4 {
    font-family: "Space Grotesk-Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: #FFFFFF;
    transform: translateY(90px);
}

.home_page_div_digit_text {
    display: flex;
    margin: 31px 175px 31px 0;
}

.home_page_digit {
    margin: 0 14px 14px 0;
    font-family: "Space Grotesk-Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: #FFF353;
}

.home_page_digit_text {
    margin-top: 14px;
    font-family: "Space Grotesk-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 60px;
    color: #FFFFFF;
}

.home_page_info_digits_texts {
    margin-right: 203px;
}

.home_page_info_p_1 {
    font-family: "Space Grotesk-Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 60px;
    color: #FFFFFF;
}

.home_page_div_info_p_2 {
    display: flex;
    margin-right: 125px;
}

.home_page_dolar_1 {
    width: 50%;
}

.home_page_dolar_p_1 {
    font-family: "Space Grotesk-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 60px;
    color: #FFFFFF;
}

.home_page_dolar_p_2 {
    font-family: "Space Grotesk-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.home_page_sec_9_text_end {
    margin-top: 36px;
    display: flex;
}

.home_page_end_1 {
    margin-right: 63px;
}

.home_page_end_p_1 {
    font-family: "Space Grotesk-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 60px;
    color: #FFFFFF;
}

.home_page_end_p_2 {
    font-family: "Space Grotesk-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.home_page_sec_9_2group {
    margin: 324px 135px 196px 0;
    Width: 835px;
    Height: 690px;
    //background-color: red;
}

.home_page_section_10 {
    width: 100%;
    overflow-x: hidden;
    max-width: 1920px;
    display: flex;
    overflow: hidden;
}

.home_page_sec_10_text_cont {
    margin: 309px 68px 306px 294px;
    width: 462px;
}

.home_page_sec_10_h4 {
    font-family: "Space Grotesk-Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: #18191E;
    transform: translateY(90px);
}

.home_page_sec_10_p {
    margin-top: 30px;
    font-family: "Space Grotesk-Bold";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 138.5%;
    color: #18191E;
}

.home_page_sec_10_btn {
    margin-top: 60px;
    padding: 20px 60px;
    background: #18191E;
    cursor: pointer;
    border: none;
    outline: none;
}

.home_page_sec_10_btn:hover {
    background: #FFF353;
    transition: 0.2s linear;
    color: black;
}

.home_page_sec_10_btn:hover .home_page_sec_10_btn_p {
    color: black;
    transition: 0.2s linear;
}

.home_page_sec_10_btn_p {
    font-family: "Space Grotesk-Bold";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    text-decoration: none;
}

.home_page_parallax_cont {
    width: 1090px;
    height: 1080px;
    overflow: hidden;
}

.home_page_sec_10_img_cont {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    clip-path: polygon(42% 0%, 58% 0%, 58% 30.5%, 80% 9%, 91% 21%, 70% 42%, 100% 42%, 100% 58%, 58% 58%, 58% 100%, 42% 100%, 42% 70%, 21% 91.5%, 9% 80%, 30.5% 58%, 0% 58%, 0% 42%, 30.5% 42%, 9% 21%, 21% 9%, 42% 30.5%);
}

.home_page_parallax_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1200px;
    background-image: url("/images/static/Frame 427318530.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home_page_sec_10_tablet_clip_path {
    height: 625px;
    clip-path: polygon(42% 0%, 58% 0%, 58% 30.5%, 80% 9%, 91% 21%, 70% 42%, 100% 42%, 100% 58%, 58% 58%, 58% 100%, 42% 100%, 42% 70%, 21% 91.5%, 9% 80%, 30.5% 58%, 0% 58%, 0% 42%, 30.5% 42%, 9% 21%, 21% 9%, 42% 30.5%);
}

.home_page_section_10_tablet_mobile {
    overflow-x: hidden;
    display: none;
}

.home_page_sec_10_tablet_text_cont {
    padding: 0 101px 60px 30px;
}

.home_page_section_11 {
    width: 100%;
    max-width: 1920px;
    background: #18191E;
    overflow-x: hidden;
    overflow: hidden;
}

.home_page_sec_11_text_cont {
    padding: 139px 890px 77px 300px;
}

.home_page_sec_11_h4 {
    font-family: "Space Grotesk-Regular";
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: #FFFFFF;
    transform: translateY(90px);
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 27px;
}

.content {
    display: none;
}

.home_page_video_text_cont_1 {
    margin-bottom: 30px;
}

.center {
    display: flex;
    width: 100%;
    height: 100%;
    cursor: auto;
}
.chech_video {
    width: 1240px;
    height: 800px;
    margin: auto;
}

.full {
    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    background: RGBA(0, 0, 0, 0.9);
    z-index: 999999999;
    text-align: center;
    display: none;
}

.full img:hover {
    transform: none;
    opacity: 1;
}

.full .close {
    position: absolute;
    padding: 7px;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.single-portfolio {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_page_close-color:hover {
    fill: #A89D0D;
    transition: 0.3s linear;
}

.cursor {
    position: absolute;
    opacity: 0;
    z-index: 1000;
}

.single-portfolio:hover .cursor {
    opacity: 1;
    transition: 0.5s linear;
    scale: 1.1;
}

.single-portfolio:hover .video {
    scale: 1.1;
    opacity: 0.6;
    transition: 0.5s linear;
}

.home_page_sec_11_p_1 {
    margin-top: 33px;
    font-family: "Space Grotesk-SemiBold";
    font-style: normal;
    font-weight: 600;
    font-size: 29.1045px;
    line-height: 110%;
    color: #FFFFFF;
}

.home_page_sec_11_p_2 {
    margin-top: 6px;
    font-family: "Space Grotesk-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 19.403px;
    line-height: 110%;
    color: #FFFFFF;
}

.home_page_sec_11_btn {
    display: flex;
    margin: 60px auto;
    background: #FFF353;
    padding: 20px 63px;
    cursor: pointer;
    font-family: "Space Grotesk-SemiBold";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #18191E;
}

.single-portfolio {
    cursor: pointer;
}

.home_page_sec_11_btn:hover {
    background: white;
    transition: 0.2s linear;
}

.home_page_section_12 {
    width: 100%;
    overflow-x: hidden;
    max-width: 1920px;
    overflow: hidden;
}

.home_page_sec_12_cont {
    padding: 161px 277px 80px 294px;
}

.home_page_sec_12_cont_tablet {
    display: none;
}

.home_page_sec_12_cont_mobile {
    display: none;
}

.home_page_sec_12_h4 {
    font-family: "Space Grotesk-Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 107%;
    text-transform: uppercase;
    color: #000000;
    transform: translateY(90px);
}

.home_page_sec_12_h4_display {
    display: flex;
    font-family: "Space Grotesk-Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 107%;
    text-transform: uppercase;
    color: #000000;
    transform: translateY(90px);
}

.home_page_zero {
    margin: -5px 10px 0 0;
    font-family: "Space Grotesk-Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 107%;
    text-transform: uppercase;
    color: #1931AF;
}

.home_page_dolar {
    margin: 52px 0 0 10px;
    font-family: "Space Grotesk-Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 107%;
    text-transform: uppercase;
    color: #1931AF;
}

.home_page_dolar_color {
    color: #FFF353;
}

.home_page_zero_color {
    color: #FFF353;
}

.home_page_sec_12_info {
    margin: 0 300px 122px 300px;
    background: #FFF353;
}

.home_page_sec_12_text_cont {
    padding: 68px 335px 21px 335px;
}

.home_page_sec_12_text_cont_tablet {
    display: none;
}

.home_page_sec_12_text_cont_mobile {
    display: none;
}

.home_page_sec_12_h5 {
    font-family: "Space Grotesk-Regular";
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    color: #18191E;
    transform: translateY(90px);
}

.home_page_sec_12_p {
    margin: 0 395px;
    font-family: "Space Grotesk-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 132%;
    text-align: center;
    color: #000000;
}

.home_page_cont_input {
    margin: 67px 333px 8px 333px;
    padding: 16px 26px;
    background: #EFE011;
}

.home_page_cont_input_2 {
    margin: 0px 333px 8px 333px;
    padding: 16px 26px;
    background: #EFE011;
}

.home_page_cont_input_3 {
    margin: 0px 333px 8px 333px;
    padding: 16px 26px;
    background: #EFE011;
}

.home_page_cont_input_3 {
    margin: 0px 333px 8px 333px;
    padding: 16px 26px;
    background: #EFE011;
}

.home_page_cont_input_4 {
    margin: 0px 333px 0px 333px;
    padding: 16px 26px;
    background: #EFE011;
}

.home_page_sec_12_input {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: none;
    outline: none;
    font-family: "Space Grotesk-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 132%;
}

.home_page_sec_12_input::-moz-placeholder {
    color: #A89D0D;
}

.home_page_sec_12_input::placeholder {
    color: #A89D0D;
}

.home_page_sec_12_input_2::-moz-placeholder {
    color: #A89D0D;
}

.home_page_sec_12_input_2::placeholder {
    color: #A89D0D;
}

.home_page_sec_12_input_2 {
    width: 100%;
    height: 111px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: none;
    outline: none;
    resize: none;
    font-family: "Space Grotesk-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 132%;
}

.home_page_sec_12_input_2::-webkit-input-placeholder {
    padding-top: 85px;
}

.home_page_sec_12_btn {
    margin: 50px 333px 83px 783px;
    padding: 25px 71px;
    border: none;
    outline: none;
    background: #1931AF;
    font-family: "Space Grotesk-Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 132%;
    color: #FFFFFF;
    cursor: pointer;
}

.home_page_sec_12_btn:hover {
    background: black;
    transition: 0.2s linear;
}




/*responsive*/


@media screen and (max-width: 1919px) and (min-width: 744px) {
    .home_page_section_1 {
        padding: 144px calc(359px + 115 * ((100vw - 1920px) / 744)) 0 calc(431px + 160 * ((100vw - 1920px) / 744));
    }

    .home_page_div_image_panel {
        margin-left: 0;
    }

    .home_page_arev_img {
        width: calc(957px + 400 * ((100vw - 1920px) / 744));
    }

    @media (max-width: 1100px) {
        .home_page_h1_cont {
            display: none;
        }

        .home_page_h1_cont_mobile {
            display: block;
        }
    }

    .home_page_h1_cont_mobile {
        margin-left: calc(0px + -78 * ((100vw - 1920px) / 744));
        margin-top: calc(0px + 74 * ((100vw - 1920px) / 744));
    }

    .home_page_h1_text {
        font-size: calc(100px + 38 * ((100vw - 1920px) / 744));
    }

    .home_page_cont_text_img {
        margin-left: calc(-72px + 38 * ((100vw - 1920px) / 744));
        margin-top: calc(0px + 38 * ((100vw - 1920px) / 744));
        margin-right: 0;
    }

    .home_page_solar_img_container {
        margin-top: calc(-148px + -65 * ((100vw - 1920px) / 744));
        margin-left: calc(72px + -25 * ((100vw - 1920px) / 744));
    }

    .home_page_solar_panel {
        width: calc(1130px + 470 * ((100vw - 1920px) / 744));
    }

    .home_page_hand_image {
        width: calc(569px + 80* ((100vw - 1920px) / 1500));
    }

    .home_page_cont_img_2_hand {
        top: calc(100px + 0* ((100vw - 1920px) / 1500));
        left: calc(1400px + 1400* ((100vw - 1920px) / 1500));
    }

    .home_page_cont_img_1_hand {
        top: calc(650px + 500* ((100vw - 1920px) / 1500));
        left: calc(0px + 150* ((100vw - 1920px) / 1500));
    }

    @media (max-width: 1500px) {
        .home_page_cont_img_1_hand {
            display: none;
        }

        .home_page_cont_img_2_hand {
            display: none;
        }

        .home_page_img_hand {
            width: calc(569px + 215* ((100vw - 1500px) / 744));
        }

        .home_page_hand_left {
            display: block;
            position: absolute;
            left: calc(1150px + 623* ((100vw - 1500px) / 744));
            top: calc(30px + -30* ((100vw - 1500px) / 744));
        }

        .home_page_hand_right {
            display: block;
            position: absolute;
            left: calc(-150px + -80* ((100vw - 1500px) / 744));
            top: calc(460px + 129* ((100vw - 1500px) / 744));
        }
    }

    .home_page_img_1 {
        width: calc(202px + 83 * ((100vw - 1920px) / 744));
        transform: translateX(calc(262px + 114 * ((100vw - 1920px) / 744))) translateY(calc(177px + 73 * ((100vw - 1920px) / 744)));
    }

    .home_page_img_2 {
        width: calc(198px + 80.9 * ((100vw - 1920px) / 744));
        transform: translateX(calc(382px + 163 * ((100vw - 1920px) / 744))) translateY(calc(169px + 69 * ((100vw - 1920px) / 744)));
    }

    .home_page_img_3 {
        width: calc(199px + 81 * ((100vw - 1920px) / 744));
        transform: translateX(calc(492px + 207 * ((100vw - 1920px) / 744))) translateY(calc(162px + 66 * ((100vw - 1920px) / 744)));
    }

    .home_page_img_4 {
        width: calc(189px + 75 * ((100vw - 1920px) / 744));
        transform: translateX(calc(604px + 252 * ((100vw - 1920px) / 744))) translateY(calc(155px + 63 * ((100vw - 1920px) / 744)));
    }

    .home_page_img_5 {
        width: calc(191px + 76 * ((100vw - 1920px) / 744));
        transform: translateX(calc(705px + 294 * ((100vw - 1920px) / 744))) translateY(calc(149px + 62 * ((100vw - 1920px) / 744)));
    }

    .home_page_img_6 {
        width: calc(224px + 93 * ((100vw - 1920px) / 744));
        transform: translateX(calc(340px + 146 * ((100vw - 1920px) / 744))) translateY(calc(286px + 117 * ((100vw - 1920px) / 744)));
    }

    .home_page_img_7 {
        width: calc(221px + 91 * ((100vw - 1920px) / 744));
        transform: translateX(calc(467px + 198 * ((100vw - 1920px) / 744))) translateY(calc(273px + 111 * ((100vw - 1920px) / 744)));
    }

    .home_page_img_8 {
        width: calc(219px + 90 * ((100vw - 1920px) / 744));
        transform: translateX(calc(586px + 247 * ((100vw - 1920px) / 744))) translateY(calc(262px + 106 * ((100vw - 1920px) / 744)));
    }

    .home_page_img_9 {
        width: calc(213px + 86 * ((100vw - 1920px) / 744));
        transform: translateX(calc(698px + 292 * ((100vw - 1920px) / 744))) translateY(calc(251px + 102 * ((100vw - 1920px) / 744)));
    }

    .home_page_img_10 {
        width: calc(208px + 83 * ((100vw - 1920px) / 744));
        transform: translateX(calc(803px + 335 * ((100vw - 1920px) / 744))) translateY(calc(241px + 99 * ((100vw - 1920px) / 744)));
    }

    .home_page_sec_2_text_info {
        margin-left: calc(302px + 600 * ((100vw - 1920px) / 744));
    }

    .home_page_sec_2_img_cont {
        width: 100%;
        overflow: hidden;
    }

    @media (max-width: 1600px) and (min-width: 744px) {
        .home_page_section_2 {
            display: block;
        }

        .home_page_sec_2_text_info {
            margin: 40px 68px 50px 41px;
        }

        .home_page_sec_2_text_h4 {
            font-size: calc(60px + 13 * ((100vw - 1920px) / 744));
            line-height: calc(60px + 13 * ((100vw - 1920px) / 744));
        }

        .home_page_sec_2_text_p {
            font-size: calc(20px + 3 * ((100vw - 1920px) / 744));
            margin: 30px 19px 0 0;
        }

        .home_page_sec_2_img {
            width: 100%;
        }

        .home_page_sec_2_img_cont {
            width: 100%;
            height: calc(400px + 128 * ((100vw - 1920px) / 744));
        }
    }

    .home_page_sec_2_text_cont {
        display: none;
    }

    .home_page_sec_2_text_cont_tablet {
        display: block;
    }

    .home_page_section_3 {
        padding: 22px calc(305px + 166 * ((100vw - 1920px) / 744)) 101px calc(305px + 166 * ((100vw - 1920px) / 744));
    }

    .home_page_image_home {
        width: calc(1304px + 408 * ((100vw - 1920px) / 744));
        height: calc(859px + 269* ((100vw - 1920px) / 744));
    }

    .home_page_pulse_1 {
        margin: 0;
        left: none;
        top: none;
        transform: translateX(calc(97px + 36* ((100vw - 1920px) / 744))) translateY(calc(102px + 35* ((100vw - 1920px) / 744)));
    }

    .home_page_pulse_2 {
        margin: 0;
        left: none;
        top: none;
        transform: translateX(calc(102px + 36* ((100vw - 1920px) / 744))) translateY(calc(100px + 32* ((100vw - 1920px) / 744)));
    }

    .home_page_pulse_3 {
        margin: 0;
        left: none;
        top: none;
        transform: translateX(calc(110px + 38* ((100vw - 1920px) / 744))) translateY(calc(97px + 34* ((100vw - 1920px) / 744)));
    }

    .home_page_pulse_info_1 {
        width: calc(268px + 62* ((100vw - 1920px) / 744));
        left: none;
        top: none;
        transform: translateX(calc(0px + 0* ((100vw - 1920px) / 744))) translateY(calc(-30px + 0* ((100vw - 1920px) / 744)));
    }

    .home_page_pulse_info_2 {
        width: calc(268px + 62 * ((100vw - 1920px) / 744));
        left: none;
        top: none;
        transform: translateX(calc(20px + 0* ((100vw - 1920px) / 900))) translateY(calc(-60px + 0* ((100vw - 1920px) / 900)));
    }

    .home_page_pulse_info_3 {
        width: calc(268px + 62 * ((100vw - 1920px) / 744));
        left: none;
        top: none;
        transform: translateX(calc(0px + 0* ((100vw - 1920px) / 744))) translateY(calc(-20px + 0* ((100vw - 1920px) / 744)));
    }

    @media (max-width: 1100px) {
        .home_page_pulse_info_2 {
            transform: translateX(calc(-250px + 0* ((100vw - 1920px) / 900))) translateY(calc(-60px + 0* ((100vw - 1920px) / 900)));
        }
    }

    .home_page_pulse_info_1_p_1 {
        font-size: calc(20px + 2.5 * ((100vw - 1920px) / 744));
        margin: calc(20px + 6 * ((100vw - 1920px) / 744)) calc(117px + 58 * ((100vw - 1920px) / 744)) 0px 20px;
    }

    .home_page_pulse_info_1_p_2 {
        font-size: calc(14px + 1.3 * ((100vw - 1920px) / 744));
        margin: calc(12px + 4* ((100vw - 1920px) / 744)) 36px 0px 20px;
    }

    .home_page_pulse_info_img {
        margin: 0 calc(39px + 16 * ((100vw - 1920px) / 744));
    }

    .home_page_pulse_img {
        width: calc(190px + 32 * ((100vw - 1920px) / 744));
    }

    .home_page_sec_4_texts_cont {
        padding: 361px calc(1075px + 644 * ((100vw - 1920px) / 1240)) 360px calc(302px + 370 * ((100vw - 1920px) / 1240));
    }

    .home_page_sec_4_p_1 {
        font-size: calc(20px + 8 * ((100vw - 1920px) / 1240));
    }

    .home_page_sec_4_h3 {
        font-size: calc(60px + 36 * ((100vw - 1920px) / 1240));
        line-height: calc(60px + 15 * ((100vw - 1920px) / 744));
    }

    .home_page_sec_4_p_2 {
        font-size: calc(20px + 8 * ((100vw - 1920px) / 1240));
    }

    @media (max-width: 1239px) and (min-width: 744px) {
        .home_page_section_4 {
            display: none;
        }

        .home_page_section_4_tablet_mobile {
            display: block;
        }

        .home_page_sec_4_h3 {
            font-size: calc(60px + 21 * ((100vw - 1920px) / 1240));
        }

        .home_page_sec_4_p_1 {
            font-size: calc(20px + 5 * ((100vw - 1920px) / 1240));
        }

        .home_page_sec_4_p_2 {
            font-size: calc(20px + 4 * ((100vw - 1920px) / 1240));
        }

        .swiper-slide {
            padding: calc(20px + 30* ((100vw - 1240px) / 744)) calc(60px + 34* ((100vw - 1240px) / 744));
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }

    .home_page_sec_5_img_cont {
        margin: calc(242px + 282 * ((100vw - 1920px) / 1501)) 81px auto calc(300px + 500 * ((100vw - 1920px) / 1501));
    }

    .home_page_image_scroll_2 {
        width: calc(597px + 145 * ((100vw - 1902px) / 1501));
    }

    .home_page_sec_5_text_cont {
        margin: 362px calc(363px + 888 * ((100vw - 1920px) / 1501)) calc(200px + 732 * ((100vw - 1920px) / 1501)) 0;
    }

    @media (max-width: 1500px) and (min-width: 744px) {
        .home_page_sec_5_hidden {
            display: none;
        }

        .home_page_sec_5_hidden_tablet {
            display: flex;
        }

        .home_page_section_5 {
            height: calc(1000px + 200 * ((100vw - 1920px) / 744));
        }

        .home_page_sec_5_img_cont {
            margin: calc(242px + 0 * ((100vw - 1920px) / 744)) calc(81px + 25 * ((100vw - 1920px) / 744)) auto calc(300px + 191 * ((100vw - 1920px) / 744));
        }


        .home_page_sec_5_text_cont {
            margin: calc(362px + 125 * ((100vw - 1920px) / 744)) calc(0px + -12 * ((100vw - 1920px) / 744)) calc(444px + -26 * ((100vw - 1920px) / 744)) calc(143px + 65 * ((100vw - 1920px) / 744));
        }

        .home_page_sec_5_text_p_2 {
            margin: 0 40px 0 0;
        }

        .home_page_sec_5_text_h4 {
            font-size: calc(60px + 13 * ((100vw - 1920px) / 744));
            line-height: calc(60px + 15* ((100vw - 1920px) / 744));
        }

        .home_page_sec_5_text_p_2 {
            font-size: calc(20px + 2.6 * ((100vw - 1920px) / 744));
        }

        .home_page_image_scroll_2 {
            width: calc(560px + 200 * ((100vw - 1920px) / 744));
        }
    }

    .home_page_sec_6_p {
        font-size: calc(20px + 4 * ((100vw - 1920px) / 1240));
    }

    .home_page_sec_6_h6 {
        font-size: calc(60px + 18 * ((100vw - 1920px) / 1240));
    }

    .home_page_sec_6_texts_cont {
        margin: calc(456px + 30* ((100vw - 1919px) / 744)) calc(330px + 168* ((100vw - 1919px) / 744)) auto calc(300px + 160* ((100vw - 1919px) / 744));
        display: flex;
        flex-direction: column;
        gap: calc(730px + 0* ((100vw - 1919px) / 744));
    }

    .home_page_sec_6_text_cont {
        width: calc(320px + 37* ((100vw - 1919px) / 744));
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .home_page_sec_6_image_cont {
        position: absolute;
        top: calc(50px + -144* ((100vw - 1919px) / 744));
        left: calc(0px + 0* ((100vw - 1919px) / 744));
        display: flex;
        flex-direction: column;
        gap: calc(0px + -283* ((100vw - 1919px) / 744));
    }

    .home_page_sec_6_img_cont {
        margin-left: calc(10px + 7* ((100vw - 1919px) / 744));
        position: relative;
        background: #F8F8F8;
    }

    .home_page_image_hand {
        width: calc(396px + 124* ((100vw - 1919px) / 744));
    }

    .home_page_left_hand {
        position: absolute;
        top: calc(0px + 0* ((100vw - 1919px) / 744));
        left: calc(568px + 200* ((100vw - 1919px) / 744));
    }

    .home_page_right_hand {
        position: absolute;
        top: calc(590px + -200* ((100vw - 1919px) / 744));
        left: calc(0px + 0* ((100vw - 1919px) / 744));
    }

    .home_page_sec_6_image {
        width: calc(849px + 284* ((100vw - 1919px) / 744));
    }

    .home_page_svg_color_blue {
        width: calc(394px + 120* ((100vw - 1919px) / 744));
        margin: calc(275px + 0* ((100vw - 1919px) / 744)) calc(334px + 0* ((100vw - 1919px) / 744)) calc(170px + 0* ((100vw - 1919px) / 744)) calc(227px + 80* ((100vw - 1919px) / 744));
    }

    .home_page_sec_7_img_cont {
        height: 0;
    }

    .home_page_sec_7_img {
        width: calc(958px + 617 * (100vw - 1920px) / 1240);
    }

    .home_page_sec_7_text_cont {
        margin: calc(342px + 510 * ((100vw - 1920px) / 1240)) calc(282px + 412 * ((100vw - 1920px) / 1240)) calc(340px + 510 * ((100vw - 1920px) / 1240)) 99px;
    }

    .home_page_sec_7_h4 {
        font-size: calc(60px + 21 * ((100vw - 1920px) / 1240));
    }

    .home_page_sec_7_p {
        font-size: calc(20px + 4 * ((100vw - 1920px) / 1240));
    }

    @media (max-width: 1239px) and (min-width: 744px) {
        .home_page_section_7 {
            display: none;
        }

        .home_page_section_7_tablet_mobile {
            display: block;
        }
    }

    .home_page_sec_8_text_cont {
        padding: calc(187px + 96* ((100vw - 1920px) / 744)) 0 0 calc(303px + 165* ((100vw - 1920px) / 744));
    }

    .home_page_sec_8_h4 {
        font-size: calc(60px + 13 * ((100vw - 1920px) / 744));
        line-height: calc(60px + 15* ((100vw - 1920px) / 744));
    }

    .home_page_sec_8_icons_cont {
        padding: calc(169px + 140 * ((100vw - 1920px) / 1240)) calc(236px + 390 * ((100vw - 1920px) / 1240)) calc(340px + 400 * ((100vw - 1920px) / 1240)) calc(260px + 440 * ((100vw - 1920px) / 1240));
        gap: calc(114px + 76 * ((100vw - 1920px) / 1240));
    }

    @media (max-width: 1239px) and (min-width: 744px) {

        .home_page_sec_8_icons_cont {
            display: grid;
            grid-template-columns: auto auto;
            padding: calc(169px + 181 * ((100vw - 1240px) / 744)) calc(236px + 243 * ((100vw - 1240px) / 744)) calc(340px + 310 * ((100vw - 1240px) / 744)) calc(260px + 270 * ((100vw - 1240px) / 744));
        }

        .home_page_icons_text {
            width: calc(300px + 46* ((100vw - 1240px) / 744));
        }
    }

    .home_page_sec_9_text_cont {
        margin: calc(233px + 120* ((100vw - 1919px) / 744)) calc(66px + 0* ((100vw - 1919px) / 744)) calc(156px + -76* ((100vw - 1919px) / 744)) calc(302px + 172* ((100vw - 1919px) / 744));
    }

    .home_page_sec_h4 {
        font-size: calc(60px + 13* ((100vw - 1919px) / 744));
    }

    .home_page_div_digit_text {
        margin: calc(31px + 0* ((100vw - 1919px) / 744)) calc(175px + 0* ((100vw - 1919px) / 744)) calc(31px + 0* ((100vw - 1919px) / 744)) 0;
    }

    .home_page_digit {
        margin: 0 calc(14px + 0* ((100vw - 1919px) / 744)) calc(14px + 0* ((100vw - 1919px) / 744)) 0;
        font-size: calc(60px + 7* ((100vw - 1919px) / 744));
    }

    .home_page_digit_text {
        margin-top: calc(14px + 0* ((100vw - 1919px) / 744));
        font-size: calc(20px + 4* ((100vw - 1919px) / 744));
    }

    .home_page_info_digits_texts {
        margin-right: calc(203px + 0* ((100vw - 1919px) / 744));
    }

    .home_page_info_p_1 {
        font-size: calc(30px + 5* ((100vw - 1919px) / 744));
    }

    .home_page_div_info_p_2 {
        margin-right: calc(125px + 0* ((100vw - 1919px) / 744));
    }

    .home_page_dolar_p_1 {
        font-size: calc(16px + 2* ((100vw - 1919px) / 744));
    }

    .home_page_dolar_p_2 {
        font-size: calc(40px + 9* ((100vw - 1919px) / 744));
    }

    .home_page_sec_9_text_end {
        margin-top: calc(36px + 0* ((100vw - 1919px) / 744));
    }

    .home_page_end_1 {
        margin-right: calc(63px + 0* ((100vw - 1919px) / 744));
    }

    .home_page_end_p_1 {
        font-size: calc(16px + 2* ((100vw - 1919px) / 744));
    }

    .home_page_end_p_2 {
        font-size: calc(40px + 9* ((100vw - 1919px) / 744));
    }

    .home_page_sec_9_2group {
        margin: calc(324px + 542* ((100vw - 1919px) / 1500)) calc(135px + 300* ((100vw - 1919px) / 1500)) calc(196px + 0* ((100vw - 1919px) / 1500)) 0;
        Width: calc(835px + 710* ((100vw - 1919px) / 1500));
        Height: calc(690px + 163* ((100vw - 1919px) / 1500));
    ;
    }

    @media (max-width: 1499px) {

        .home_page_section_9 {
            position: relative;
            flex-direction: column;
        }

        .home_page_sec_9_text_cont {
            margin: calc(80px + 46* ((100vw - 1499px) / 744)) 0px calc(50px + 0* ((100vw - 1499px) / 744)) calc(100px + 49* ((100vw - 1499px) / 744));
        }

        .home_page_sec_h4 {
            line-height: 39px;
        }

        .home_page_coll_info {
            width: calc(835px + 176* ((100vw - 1499px) / 744));
            position: absolute;
            top: calc(700px + 272* ((100vw - 1499px) / 744));
            left: calc(319px + 269* ((100vw - 1499px) / 744));
        }

        .home_page_div_digit_text {
            display: flex;
            justify-content: space-between;
            margin: calc(31px + 20* ((100vw - 1499px) / 744)) 0;
        }

        .home_page_sec_9_2group {
            margin: 0px 0px calc(370px + 70* ((100vw - 1499px) / 744)) calc(320px + 270* ((100vw - 1499px) / 744));
            Width: calc(835px + 176* ((100vw - 1499px) / 744));
            Height: calc(450px + 185* ((100vw - 1499px) / 744));
        }

        .home_page_in_element {
            display: flex;
            justify-content: space-between;
        }

        .home_page_div_info_p_2 {
            gap: calc(20px + 0* ((100vw - 1499px) / 744));
            margin: none;
        }

        .home_page_info_digits_texts {
            margin-right: 0;
        }
    }

    .home_page_sec_10_h4 {
        font-size: calc(60px + 21 * ((100vw - 1920px) / 1240));
    }

    .home_page_sec_10_p {
        font-size: calc(20px + 4.3 * ((100vw - 1920px) / 1240));
    }

    .home_page_sec_10_text_cont {
        margin: calc(309px + 365 * ((100vw - 1920px) / 1240)) calc(68px + 1 * ((100vw - 1920px) / 1240)) calc(306px + 389 * ((100vw - 1920px) / 1240)) calc(294px + 450 * ((100vw - 1920px) / 1240));
    }

    .home_page_parallax_cont {
        width: calc(1090px + 793* ((100vw - 1920px) / 1240));
        height: calc(1080px + 859* ((100vw - 1920px) / 1240));
        overflow: hidden;
    }

    .home_page_parallax_img {
        height: calc(1200px + 820 * ((100vw - 1920px) / 1240));
    }

    @media (max-width: 1239px) and (min-width: 744px) {

        .home_page_section_10 {
            display: none;
        }

        .home_page_section_10_tablet_mobile {
            display: block;
        }

        .home_page_sec_10_tablet_clip_path_cont {
            padding: 0 calc(394px + 128 * ((100vw - 1920px) / 744)) 27px calc(394px + 157 * ((100vw - 1920px) / 744));
            overflow: hidden;
        }

        .home_page_parallax_cont {
            width: calc(655px + 380 * (100vw - 1240px) / 744);
            height: calc(608px + 318* (100vw - 1240px) / 744);
        }

        .home_page_parallax_img {
            height: calc(750px + 350 * ((100vw - 1240px) / 744));
        }

        .home_page_sec_10_btn {
            padding: 20px 156px;
            margin-left: calc(600px + 295 * ((100vw - 1920px) / 744));
        }
    }

    .home_page_sec_11_text_cont {
        padding: calc(139px + 68* ((100vw - 1920px) / 744)) 0 calc(70px + 26* ((100vw - 1920px) / 744)) calc(300px + 176* ((100vw - 1920px) / 744));
    }

    .home_page_sec_11_h4 {
        font-size: calc(60px + 12.6 * ((100vw - 1920px) / 744));
        line-height: calc(60px + 15* ((100vw - 1920px) / 744));
    }

    .home_page_sec_11_vide_cont {
        margin: 0 calc(293px + 168 * ((100vw - 1920px) / 744)) 65px calc(300px + 175 * ((100vw - 1920px) / 744));
    }

    .video {
        width: calc(650px + 199 * ((100vw - 1920px) / 744));
    }

    .chech_video {
        width: calc(1240px + 379 * (100vw - 1920px) / 744);
        height: calc(800px + 272 * (100vw - 1920px) / 744);
    }

    .close-color {
        width: calc(80px + 13* ((100vw - 1920px) / 744));
        height: calc(80px + 13* ((100vw - 1920px) / 744));
    }

    .home_page_sec_11_p_1 {
        font-size: calc(29.1045px + 8 * ((100vw - 1920px) / 744));
    }

    .home_page_sec_11_p_2 {
        font-size: calc(19.403px + 4.6 * ((100vw - 1920px) / 744));
    }

    .cursor {
        width: calc(114px + 35 * ((100vw - 1920px) / 744));
    }

    .home_page_sec_11_btn {
        padding: 20px calc(63px + -75* ((100vw - 1920px) / 744));
    }

    .home_page_sec_12_h4 {
        font-size: calc(80px + 28.5 * ((100vw - 1920px) / 744));
    }

    .home_page_sec_12_h4_display {
        font-size: calc(80px + 28.5 * ((100vw - 1920px) / 744));
    }

    .home_page_dolar {
        margin: 0;
        font-size: calc(30px + 7.5 * ((100vw - 1920px) / 744));
    }

    .home_page_zero {
        font-size: calc(90px + 28 * ((100vw - 1920px) / 744));
    }

    .home_page_sec_12_cont {
        padding: calc(161px + 50 * ((100vw - 1920px) / 744)) calc(277px + 150 * ((100vw - 1920px) / 744)) calc(80px + 20 * ((100vw - 1920px) / 744)) calc(294px + 150 * ((100vw - 1920px) / 744));
    }

    @media (max-width: 744px) {
        .home_page_sec_12_cont_tablet {
            display: block;
            padding: 110px 30px 28px 30px;
        }

        .home_page_sec_12_cont {
            display: none;
        }
    }

    .home_page_sec_12_info {
        margin: 0 calc(300px + 190 * ((100vw - 1920px) / 744)) calc(122px + 77 * ((100vw - 1920px) / 744)) calc(300px + 190 * ((100vw - 1920px) / 744));
    }

    .home_page_sec_12_h5 {
        font-size: calc(50px + 9.4 * ((100vw - 1920px) / 744));
        line-height: calc(60px + 18* ((100vw - 1920px) / 744));
    }

    .home_page_sec_12_text_cont {
        padding: 68px calc(335px + 184 * ((100vw - 1920px) / 744)) 21px calc(335px + 184 * ((100vw - 1920px) / 744));
    }

    @media (max-width: 744px) {
        .home_page_sec_12_text_cont {
            display: none;
        }

        .home_page_sec_12_text_cont_tablet {
            display: block;
            padding: 68px 45px 21px 45px;
        }
    }

    .home_page_sec_12_p {
        font-size: calc(24px + 5 * ((100vw - 1920px) / 744));
        margin: 0 calc(395px + 248 * ((100vw - 1920px) / 744));
    }

    .home_page_cont_input {
        margin: calc(67px + 29 * ((100vw - 1920px) / 744)) calc(333px + 181 * ((100vw - 1920px) / 744)) calc(8px + 0 * ((100vw - 1920px) / 744)) calc(333px + 181 * ((100vw - 1920px) / 744));
    }

    .home_page_cont_input_2 {
        margin: 0 calc(333px + 181 * ((100vw - 1920px) / 744)) calc(8px + 0 * ((100vw - 1920px) / 744)) calc(333px + 181 * ((100vw - 1920px) / 744));
    }

    .home_page_cont_input_3 {
        margin: 0 calc(333px + 181 * ((100vw - 1920px) / 744)) calc(8px + 0 * ((100vw - 1920px) / 744)) calc(333px + 181 * ((100vw - 1920px) / 744));
    }

    .home_page_cont_input_4 {
        margin: 0 calc(333px + 181 * ((100vw - 1920px) / 744)) calc(8px + 0 * ((100vw - 1920px) / 744)) calc(333px + 181 * ((100vw - 1920px) / 744));
    }

    .home_page_sec_12_btn {
        margin: 50px calc(333px + 105 * ((100vw - 1920px) / 744)) calc(83px + 0 * ((100vw - 1920px) / 744)) calc(783px + 390 * ((100vw - 1920px) / 744));
        padding: 25px calc(71px + -65 * ((100vw - 1920px) / 744));
    }
}

@media screen and (max-width: 743px) and (min-width: 360px) {

    .home_page_section_1 {
        padding: 144px calc(177px + 147* ((100vw - 744px) / 360)) 0 calc(178px + 148* ((100vw - 744px) / 360));
        height: 800px;
    }

    .home_page_img_1 {
        width: calc(70px + 0 * ((100vw - 744px) / 360));
        transform: translateX(calc(88px + 0 * ((100vw - 1920px) / 744))) translateY(calc(63px + 0 * ((100vw - 1920px) / 744)));
    }

    .home_page_img_2 {
        width: calc(70px + 0 * ((100vw - 744px) / 360));
        transform: translateX(calc(129px + 0 * ((100vw - 1920px) / 744))) translateY(calc(59px + 0 * ((100vw - 1920px) / 744)));
    }

    .home_page_img_3 {
        width: calc(70px + 0 * ((100vw - 744px) / 360));
        transform: translateX(calc(167px + 0 * ((100vw - 1920px) / 744))) translateY(calc(56px + 0 * ((100vw - 1920px) / 744)));
    }

    .home_page_img_4 {
        width: calc(70px + 0 * ((100vw - 744px) / 360));
        transform: translateX(calc(205px + 0 * ((100vw - 1920px) / 744))) translateY(calc(53px + 0 * ((100vw - 1920px) / 744)));
    }

    .home_page_img_5 {
        width: calc(70px + 0 * ((100vw - 744px) / 360));
        transform: translateX(calc(241px + 0 * ((100vw - 1920px) / 744))) translateY(calc(50px + 0 * ((100vw - 1920px) / 744)));
    }

    .home_page_img_6 {
        width: calc(77px + 0 * ((100vw - 744px) / 360));
        transform: translateX(calc(116px + 0 * ((100vw - 1920px) / 744))) translateY(calc(101px + 0 * ((100vw - 1920px) / 744)));
    }

    .home_page_img_7 {
        width: calc(77px + 0 * ((100vw - 744px) / 360));
        transform: translateX(calc(160px + 0 * ((100vw - 1920px) / 744))) translateY(calc(96px + 0 * ((100vw - 1920px) / 744)));
    }

    .home_page_img_8 {
        width: calc(77px + 0 * ((100vw - 744px) / 360));
        transform: translateX(calc(199px + 0 * ((100vw - 1920px) / 744))) translateY(calc(92px + 0 * ((100vw - 1920px) / 744)));
    }

    .home_page_img_9 {
        width: calc(77px + 0 * ((100vw - 744px) / 360));
        transform: translateX(calc(238px + 0 * ((100vw - 1920px) / 744))) translateY(calc(88px + 0 * ((100vw - 1920px) / 744)));
    }

    .home_page_img_10 {
        width: calc(77px + 0 * ((100vw - 744px) / 360));
        transform: translateX(calc(275px + 0 * ((100vw - 1920px) / 744))) translateY(calc(84px + 0 * ((100vw - 1920px) / 744)));
    }

    .home_page_h1_cont {
        display: none;
    }

    .home_page_h1_cont_mobile {
        display: block;
    }

    .home_page_h1_text {
        font-size: 35px;
    }

    .home_page_div_image_panel {
        margin-left: 0;
        margin-top: calc(0px + -86* ((100vw - 744px) / 360));
    }

    .home_page_solar_panel {
        width: 387px;
    }

    .home_page_arev_img {
        width: 324px;
    }


    .home_page_cont_img_1_hand {
        display: none;
    }

    .home_page_cont_img_2_hand {
        display: none;
    }

    .home_page_img_hand {
        width: calc(350px + 150* ((100vw - 744px) / 360));
    }

    .home_page_hand_left {
        display: block;
        position: absolute;
        left: calc(505px + 224* ((100vw - 744px) / 360));
        top: calc(40px + -10* ((100vw - 744px) / 360));
    }

    .home_page_hand_right {
        display: block;
        position: absolute;
        left: calc(-74px + -15* ((100vw - 744px) / 360));
        top: calc(350px + -86* ((100vw - 744px) / 360));
    }

    .home_page_h1_cont_mobile {
        margin-left: calc(20px + -73 * ((100vw - 744px) / 360));
        margin-top: calc(-181px + -180 * ((100vw - 744px) / 360));
    }

    .home_page_cont_text_img {
        margin-left: calc(-72px + 66 * ((100vw - 744px) / 360));
        margin-top: calc(0px + 94 * ((100vw - 744px) / 360));
        margin-right: 0;
    }

    .home_page_solar_img_container {
        margin-top: calc(-35px + 2 * ((100vw - 744px) / 360));
        margin-left: calc(52px + -55 * ((100vw - 744px) / 360));
    }

    .home_page_section_2 {
        display: block;
    }

    .home_page_sec_2_text_h4 {
        font-size: 35px;
        line-height: 39px;
    }

    .home_page_sec_2_text_p {
        font-size: 16px;
        margin: 25px 0 0 0;
    }

    .home_page_sec_2_text_cont {
        display: none;
    }

    .home_page_sec_2_text_cont_tablet {
        display: block;
    }

    .home_page_sec_2_text_info {
        margin: 40px calc(68px + 38* ((100vw - 744px) / 360)) calc(12px + -27* ((100vw - 744px) / 360)) calc(41px + 19* ((100vw - 744px) / 360));
    }

    .home_page_sec_2_img_cont {
        width: 100%;
    }

    .home_page_sec_2_img {
        width: 100%;
        height: 800px;
    }

    .home_page_sec_2_img_cont {
        overflow: hidden;
        width: 100%;
        height: 300px;
    }

    .home_page_section_3 {
        padding: calc(22px + -58* ((100vw - 744px) / 360)) calc(42px + 20* ((100vw - 744px) / 360)) calc(101px + 16* ((100vw - 744px) / 360)) calc(43px + 20* ((100vw - 744px) / 360));
    }

    .home_page_image_home {
        width: calc(658px + 316* ((100vw - 744px) / 360));
        height: calc(433px + 208* ((100vw - 744px) / 360));
    }

    .home_page_pulse_1 {
        transform: translateX(calc(-55px + 25* ((100vw - 744px) / 360))) translateY(calc(-50px + 25* ((100vw - 744px) / 360)));
        width: calc(22px + 5* ((100vw - 744px) / 360));
        height: calc(22px + 5* ((100vw - 744px) / 360));
    }

    .home_page_pulse_2 {
        transform: translateX(calc(-57px + 25* ((100vw - 744px) / 360))) translateY(calc(-54px + 25* ((100vw - 744px) / 360)));
        width: calc(22px + 5* ((100vw - 744px) / 360));
        height: calc(22px + 5* ((100vw - 744px) / 360));
    }

    .home_page_pulse_3 {
        transform: translateX(calc(-50px + 25* ((100vw - 744px) / 360))) translateY(calc(-60px + 25* ((100vw - 744px) / 360)));
        width: calc(22px + 5* ((100vw - 744px) / 360));
        height: calc(22px + 5* ((100vw - 744px) / 360));
    }

    .home_page_pulse_info_1 {
        width: calc(170px + 45* ((100vw - 744px) / 360));
        left: none;
        top: none;
        transform: translateX(calc(0px + 0* ((100vw - 744px) / 620))) translateY(calc(-22px + 0* ((100vw - 744px) / 620)));
    }

    .home_page_pulse_info_2 {
        width: calc(170px + 45* ((100vw - 744px) / 360));
        left: none;
        top: none;
        transform: translateX(calc(-260px + -96* ((100vw - 744px) / 360))) translateY(calc(-70px + 0* ((100vw - 744px) / 360)));
    }

    .home_page_pulse_info_3 {
        width: calc(170px + 45* ((100vw - 744px) / 360));
        left: none;
        top: none;
        transform: translateX(calc(-205px + -56* ((100vw - 744px) / 360))) translateY(calc(-80px + 0* ((100vw - 744px) / 360)));
    }

    .home_page_pulse_info_1_p_1 {
        font-size: 16px;
        margin: calc(10px + 4* ((100vw - 744px) / 360)) calc(25px + 22* ((100vw - 744px) / 360)) 0 calc(20px + 14* ((100vw - 744px) / 360));
    }

    .home_page_pulse_info_1_p_2 {
        font-size: 12px;
        margin: calc(5px + 0* ((100vw - 744px) / 360)) calc(36px + 32* ((100vw - 744px) / 360)) 0 calc(20px + 14* ((100vw - 744px) / 360));
    }

    .home_page_pulse_info_img {
        margin: 0;
    }

    .home_page_pulse_img {
        width: calc(139px + 40* ((100vw - 744px) / 360));
        margin: 0 calc(13px + 3* ((100vw - 744px) / 360));
    }

    @media (max-width: 619px) and (min-width: 360px) {

        .home_page_pulse_info_1 {
            transform: translateX(calc(-186px + -57* ((100vw - 620px) / 360))) translateY(calc(-33px + 25* ((100vw - 620px) / 360)));
        }
    }

    .home_page_section_4 {
        display: none;
    }

    .home_page_section_4_tablet_mobile {
        display: block;
    }

    .home_page_sec_4_p_1 {
        font-size: 16px;
    }

    .home_page_sec_4_h3 {
        font-size: 35px;
        line-height: 40px;
    }

    .home_page_sec_4_p_2 {
        font-size: 16px;
        margin-top: calc(30px + 6* ((100vw - 744px) / 360));
    }

    .swiper-slide {
        padding: calc(10px + 10* ((100vw - 744px) / 360)) calc(38px + 0*((100vw - 744px) / 360));
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home_page_sec_5_img_cont {
        margin: 35px calc(158px + 93* ((100vw - 744px) / 360)) 0 calc(183px + 116* ((100vw - 744px) / 360));
        border: none;
    }

    .home_page_image_circle {
        width: calc(400px + 150* ((100vw - 744px) / 360));
    }

    .home_page_swiper-slide-img-cont {
        padding: 0;
    }

    .home_page_sec_4_swiper-slide-img-cont {
        padding: calc(20px + 0* ((100vw - 744px) / 360)) calc(144px + 120* ((100vw - 744px) / 360)) calc(28px + 0* ((100vw - 744px) / 360)) calc(41px + 20* ((100vw - 744px) / 360));
    }

    .home_page_swiper-slide-img-cont2 {
        position: relative;
        left: 0;
        width: calc(744px + 360* ((100vw - 744px) / 360));
        padding: calc(20px + 0* ((100vw - 744px) / 360)) calc(10px + 0* ((100vw - 744px) / 360)) calc(28px + 0* ((100vw - 744px) / 360)) calc(40px + 0* ((100vw - 744px) / 360));
    }

    .home_page_sec_4_tablet_mobile_img_cont {
        width: calc(742px + 88* ((100vw - 744px) / 360));
        overflow: hidden;
    }

    .home_page_sec_4_tablet_mobile_image {
       width: 100%;
        height: 100%;
    }

    .home_page_section_5 {
        display: none;
    }

    .home_page_sec_5_mobile_cont {
        display: flex;
        flex-direction: column-reverse;
        overflow: hidden;
    }

    .home_page_sec_5_text_p {
        font-size: 15px;
    }

    .home_page_sec_5_text_p_2 {
        font-size: 16px;
        margin: 0 0 10px 0;
    }

    .home_page_sec_5_text_h4 {
        font-size: 26px;
        line-height: 34px;
    }

    .home_page_swiper-slide-img-cont-2 {
        padding: 44px 80px 54px 18px;
    }


    @media (max-width: 744px) {
        .home_page_section_6 {
            display: none;
        }

        .home_page_section_6_tablet_mobile {
            display: block;
            position: relative;
        }

        .home_page_sec_6_tablet_mobile_texts_cont {
            width: 900%;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 100px;
            padding: 70px 140px;
        }

        .home_page_sec_6_h6 {
            font-size: 40px;
            line-height: 60px;
        }

        .home_page_sec_6_p {
            font-size: 16px;
        }

        .home_page_image_cont_sec_6 {
            display: flex;
            justify-content: center;
        }

        .swiper-slide-2 {
            padding: 20px calc(60px + 20 * ((100vw - 744px) / 360));
        }

        .swiper-slide-3 {
            padding: 0;
        }


        .svg_color_blue2 {
            position: absolute;
            left: calc(266px + 147* ((100vw - 744px) / 360));
            top: calc(231px + 47* ((100vw - 744px) / 360));
            width: calc(200px + 56* ((100vw - 744px) / 360));
            height: calc(200px + 56* ((100vw - 744px) / 360));
        }

        .home_page_sec_6_text_cont {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 270px;
        }

        .home_page_sec_6_image {
            width: calc(400px + 130* ((100vw - 744px) / 360));
        }

        .home_page_svg-cont {
            position: absolute;
            left: 100px;
            top: 300px;
        }


        .home_page_svg_blue {
            margin: 0;
            width: 200px;
            height: 200px;
        }

        .home_page_sec_6_image_cont {
            display: flex;
            position: absolute;
            top: 0px;
            left: 180px;
            gap: 100px;
        }

        .home_page_swiper-slide-img-cont3 {
            padding: 0;
            display: flex;
            flex-direction: column;
align-items: center;
        }

        .swiper-slide-img-cont3 {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .home_page_right_hand {
            position: absolute;
            top: calc(350px + 54 * (100vw - 744px) / 360);
            left: calc(-40px + 0 * (100vw - 744px) / 360);
        }

        .home_page_left_hand {
            position: absolute;
            top: calc(10px + -50 * (100vw - 744px) / 360);
            left: calc(510px + 258 * (100vw - 744px) / 360);
        }

        .home_page_image_hand {
            width: calc(300px + 131* ((100vw - 744px) / 360));
        }
    }


    .home_page_section_7 {
        display: none;
    }

    .home_page_section_7_tablet_mobile {
        display: block;
    }

    .home_page_sec_7_h4 {
        font-size: 35px;
    }

    .home_page_sec_7_p {
        font-size: 16px;
    }

    .home_page_sec_7_tablet_mobile_text_cont {
        padding: calc(80px + 18* ((100vw - 744px) / 360)) calc(73px + 48* ((100vw - 744px) / 360)) calc(81px + 17* ((100vw - 744px) / 360)) calc(36px + 16* ((100vw - 744px) / 360));
    }

    .home_page_sec_7_tablet_mobile_img_cont {
        overflow: hidden;
    }

    .home_page_sec_7_tablet_mobile_img {
        width: calc(744px + 0* ((100vw - 744px) / 360));
        height: calc(197px + -219* ((100vw - 744px) / 360));
    }

    .home_page_sec_8_text_cont {
        padding: 34px 0 0 41px;
    }

    .home_page_sec_8_h4 {
        font-size: 35px;
        line-height: 39px;
    }

    .home_page_sec_8_icons_cont {
        display: grid;
        gap: 55px;
        grid-template-columns: auto;
        padding: calc(76px + 0 * ((100vw - 744px) / 360)) calc(211px + 156 * ((100vw - 744px) / 360)) calc(61px + 0 * ((100vw - 744px) / 360)) calc(230px + 174 * ((100vw - 744px) / 360));
    }

    .home_page_icons {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home_page_icons_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: calc(300px + 29* ((100vw - 743px) / 360));
    }

    .home_page_icons {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home_page_section_9 {
        position: relative;
        flex-direction: column;
    }

    .home_page_sec_9_text_cont {
        margin: calc(50px + 22* ((100vw - 744px) / 360)) 0px calc(40px + 0* ((100vw - 744px) / 360)) calc(50px + 32* ((100vw - 744px) / 360));
    }

    .home_page_sec_h4 {
        line-height: 39px;
        font-size: 35px;
    }

    .home_page_digit {
        margin: 0;
        font-size: 50px;
    }

    .home_page_digit_text {
        margin: 0;
        font-size: 14px;
    }

    .home_page_info_p_1 {
        font-size: 22px;
    }

    .home_page_dolar_p_1 {
        font-size: 12px;
    }

    .home_page_dolar_p_2 {
        font-size: 25px;
    }

    .home_page_end_p_1 {
        font-size: 12px;
    }

    .home_page_end_p_2  {
        font-size: 25px;
    }

    .home_page_coll_info {
        width: calc(656px + 317* ((100vw - 744px) / 360));
        position: absolute;
        top: calc(430px + -14* ((100vw - 744px) / 360));
        left: calc(45px + 23* ((100vw - 744px) / 360));
    }

    .home_page_div_digit_text {
        display: flex;
        justify-content: space-between;
        margin: calc(31px + 20* ((100vw - 744px) / 360)) 0;
    }

    .home_page_sec_9_2group {
        margin: 0px 0px calc(350px + 0* ((100vw - 744px) / 360)) calc(45px + 23* ((100vw - 744px) / 360));
        Width: calc(656px + 317* ((100vw - 744px) / 360));
        Height: calc(262px + 0* ((100vw - 744px) / 360));
    }

    .home_page_in_element {
        display: flex;
        justify-content: space-between;
    }

    .home_page_div_info_p_2 {
        gap: calc(20px + 0* ((100vw - 744px) / 360));
        margin: none;
    }

    .home_page_info_digits_texts {
        margin-right: 0;
    }

    @media (max-width: 649px) {
        .home_page_in_element {
            display: flex;
            flex-direction: column;
        }

        .home_page_div_info_p_2 {
            display: flex;
            margin-right: calc(400px + 400* ((100vw - 649px) / 360));
        }

        .home_page_sec_9_2group {
            margin: 0px 0px calc(500px + 0* ((100vw - 649px) / 360)) calc(43px + 27* ((100vw - 649px) / 360));
        }
    }

    .home_page_section_10 {
        display: none;
    }

    .home_page_section_10_tablet_mobile {
        display: block;
    }

    .home_page_sec_10_h4 {
        font-size: 35px;
    }

    .home_page_sec_10_p {
        font-size: 16px;
    }

    .home_page_sec_10_tablet_clip_path_cont {
       display: flex;
        justify-content: center;
    }

    .home_page_parallax_cont {
        width: calc(401px + 0 * (100vw - 744px) / 360);
        height: calc(396px + 60 * (100vw - 744px) / 360);
    }

    .home_page_parallax_img {
        height: calc(516px + 46 * (100vw - 744px) / 360);
    }

    .home_page_sec_10_btn {
        display: flex;
        margin: auto;
        margin-top: 60px;
        padding: 20px calc(156px + 90* ((100vw - 744px) / 360));
    }

    .home_page_sec_10_tablet_text_cont {
        padding: calc(0px + 0* ((100vw - 744px) / 360)) calc(30px + 13* ((100vw - 744px) / 360)) calc(60px + -12* ((100vw - 744px) / 360)) calc(30px + 7* ((100vw - 744px) / 360));
    }

    .home_page_sec_10_p {
        margin-top: calc(30px + 9* ((100vw - 744px) / 360));
    }

    .home_page_sec_11_text_cont {
        padding: 31px 0 26px 30px;
    }

    .home_page_sec_11_vide_cont {
        margin: 0 calc(30px + 16* ((100vw - 742px) / 360));
    }

    .home_page_video_text_cont {
        display: inline-block;
        padding-bottom: 60px;
        cursor: pointer;
        margin-left: calc(0px + 147* ((100vw - 744px) / 360));
    }

    .video {
        width: calc(600px + 291* ((100vw - 744px) / 360));
    }

    .chech_video {
        width: calc(640px + 300 * ((100vw - 744px) / 360));
        height: calc(370px + 120 * ((100vw - 744px) / 360));
    }

    .close-color {
        width: calc(60px + 0* ((100vw - 744px) / 360));
        height: calc(60px + 0* ((100vw - 744px) / 360));
    }

    .full .close {
        top: calc(10px + 0* ((100vw - 744px) / 360));
        right: calc(10px + 0* ((100vw - 744px) / 360));
    }

    .home_page_sec_11_h4 {
        font-size: 35px;
        line-height: 45px;
    }

    .home_page_sec_11_p_1 {
        font-size: 16px;
        line-height: 17px;
    }

    .home_page_sec_11_p_2 {
        font-size: 12px;
        line-height: 13px;
    }

    .home_page_sec_11_btn {
        padding: 20px calc(168px + 93* ((100vw - 744px) / 360));
    }

    .cursor {
        width: calc(114px + 60* ((100vw - 744px) / 360));
    }

    .home_page_sec_12_h4 {
        font-size: 35px;
        line-height: 40px;
    }

    .home_page_sec_12_cont {
        display: none;
    }

    .home_page_sec_12_cont_tablet {
        padding: 110px 31px 28px 30px;
        display: block;
    }

    .home_page_sec_12_h4_display {
        font-size: 35px;
        line-height: 40px;
    }

    .home_page_dolar {
        margin: 0;
        font-size: 18px;
    }

    .home_page_zero {
        font-size: 45px;
    }

    .home_page_sec_12_info {
        margin: 0;
    }

    .home_page_sec_12_h5 {
        font-size: 35px;
        line-height: 40px;
    }

    .home_page_sec_12_text_cont {
        display: none;
    }

    .home_page_sec_12_text_cont_tablet {
        display: block;
        padding: 68px 45px 21px 45px;
    }

    .home_page_sec_12_p {
        font-size: 16px;
        margin: 0 calc(0px + -48* ((100vw - 744px) / 360));
    }

    .home_page_cont_input {
        margin: 21px calc(45px + 25* ((100vw - 744px) / 360)) 8px calc(45px + 24* ((100vw - 744px) / 360));
        padding: 25px 26px;
    }

    .home_page_cont_input_2 {
        margin: 0 calc(45px + 25* ((100vw - 744px) / 360)) 8px calc(45px + 24* ((100vw - 744px) / 360));
        padding: 25px 26px;
    }

    .home_page_cont_input_3 {
        margin: 0 calc(45px + 25* ((100vw - 744px) / 360)) 8px calc(45px + 24* ((100vw - 744px) / 360));
        padding: 25px 26px;
    }

    .home_page_cont_input_4 {
        margin: 0 calc(45px + 25* ((100vw - 744px) / 360)) 8px calc(45px + 24* ((100vw - 744px) / 360));
    }

    .home_page_sec_12_btn {
        margin: calc(50px + 13* ((100vw - 744px) / 360)) calc(167px + 84* ((100vw - 744px) / 360)) calc(58px + 12* ((100vw - 744px) / 360)) calc(167px + 83* ((100vw - 744px) / 360));
        padding: 25px calc(174px + 96* ((100vw - 744px) / 360));
    }

    @media (max-width: 679px) and (min-width: 360px) {
        .home_page_sec_12_cont_tablet {
            display: none;
        }

        .home_page_sec_12_cont_mobile {
            display: block;
            padding: 39px calc(160px + 162* ((100vw - 679px) / 360)) 42px calc(190px + 191* ((100vw - 679px) / 360));
        }
    }

    @media (max-width: 600px) and (min-width: 360px) {
        .home_page_sec_12_text_cont_tablet {
            display: none;
        }

        .home_page_sec_12_text_cont_mobile {
            display: block;
            padding: 27px calc(0px + -30* ((100vw - 600px) / 360)) 21px calc(0px + -30* ((100vw - 600px) / 360));
        }
    }
}
