.roof-text-hidden {
    overflow: hidden;
}

.roof-section-1 {
    width: 100%;
    max-width: 1920px;
    padding: 365px 269px 295px 300px;
    background: #F0F0F0;
}

.roof-sec-1-text-img-cont {
    display: flex;
}

.roof-texts-cont {
    display: flex;
}

.roof-sec-1-h3 {
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 116.5%;
    color: #18191E;
    transform: translateY(95px);
}

.roof-sec-1-img-tablet {
    display: none;
}

.roof-sec-1-text-img-cont {
    transform: translateY(95px);
}

.roof-texts-cont {
    transform: translateY(95px);
}

.roof-sec-1-p {
    max-width: 545px;
    margin: 12px 0px 0px 20px;
    font-family: 'Space Grotesk-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 138.5%;
    text-transform: uppercase;
    color: #18191E
}

.roof-sec-1-p-mobile {
    display: none;
    font-family: 'Space Grotesk-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 138.5%;
    text-transform: uppercase;
    color: #18191E
}

.roof-sec-1-text-cont-mobile {
    display: none;
}

.roof-section-2 {
    width: 100%;
    max-width: 1920px;
    padding: 89px 243px 138px 300px;
}

.roof-sec-2-img-text-cont {
    display: flex;
}

.roof-sec-2-h3 {
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    text-transform: uppercase;
    color: #18191E;
    transform: translateY(90px);
}

.roof-sec-2-p-1 {
    margin: 20px 66px 0 0;
    font-family: 'Space Grotesk-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 138.5%;
    color: #18191E;
}

.roof-sec-2-p-2 {
    margin-top: 20px;
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 138.5%;
    color: #18191E;
}

.roof-sec-2-yellow-cont {
    margin-top: 90px;
    background: #FFF353;
}

.roof-yellow-text-cont {
    padding: 78px 261px;
}

.roof-yellow-text-cont-tablet {
    display: none;
}

.roof-yellow-h4 {
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    color: #18191E;
    transform: translateY(90px);
}

.roof-yellow-h4-2 {
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    line-height: 31px;
    text-align: center;
    text-transform: uppercase;
    color: #18191E;
    transform: translateY(90px);
}

.roof-yellow-p {
    margin: 21px 72px 0 72px;
    font-family: 'Space Grotesk-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 132%;
    text-align: center;
    color: #18191E;
}

.roof-yellow-btn {
    margin: 36px 286px 0 286px;
    padding: 25px 56px;
    background: #18191E;
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 132%;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    outline: none;
}

.roof-yellow-btn:hover {
    background: white;
    color: #18191E;
    transition: .2s linear;
}

.roof-section-3 {
    width: 100%;
    max-width: 1920px;
    background: #18191E;
    padding: 64px 300px 111px 300px;
}

.roof-text-h3-p-cont {
    display: flex;
    transform: translateY(90px);
}

.roof-sec-3-h3 {
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 116.5%;
    color: #FFFFFF;
    transform: translateY(90px);
}

.roof-sec-3-p {
    padding: 12px 108px 0 15px;
    font-family: 'Space Grotesk-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 138.5%;
    text-transform: uppercase;
    color: #FFFFFF;
}

.roof-sec-3-img {
    margin-top: 47px;
}

.roof-counter {
    padding-top: 30px;
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 114.542px;
    line-height: 100%;
    text-align: center;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}

.roof-plyus {
    padding: 30px 0 0 9px;
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 114.542px;
    line-height: 100%;
    text-align: center;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}

.roof-item {
    margin-top: 63px;
    display: flex;
    gap: 267px;
}

#counter-box {
    display: flex;
    padding: 0 12px;
    border-top: 2.60268px solid #FFFFFF;
}

.roof-item-p {
    margin-top: 25px;
    font-family: 'Space Grotesk-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 22.9083px;
    line-height: 160%;
    color: #FFFFFF;
}

.roof-section-4 {
    width: 100%;
    max-width: 1920px;
    display: flex;
    overflow: hidden;
}

.roof-sec-4-text-cont {
    padding: 292px 0 87px 281px;
}

.roof-sec-4-text-cont-tablet {
    display: none;
}

.roof-sec-4-text-cont-mobile {
    display: none;
}

.roof-sec-4-h3 {
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: #18191E;
    transform: translateY(90px);
}

.roof-sec-4-h3-2 {
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #18191E;
    transform: translateY(90px);
}



.roof-sec-4-p {
    margin-top: 30px;
    font-family: 'Space Grotesk-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 138.5%;
    color: #18191E
}

.roof-svg-text-cont {
    margin-top: 49px;
    display: flex;
    flex-direction: column;
    gap: 27px;
}

.roof-cont {
    display: flex;
    gap: 27px;
    align-items: center;
}

.roof-cont-p {
    font-family: 'Space Grotesk-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 138.5%;
    color: #18191E;
}

.roof-sec-4-btn {
    background: #18191E;
    padding: 20px 36px;
    margin-top: 46px;
    display: flex;
    gap: 10px;
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    border: none;
    outline: none;
    cursor: pointer;
}

.roof-sec-4-btn:hover {
    background: #1931AF;
    color: #18191E;
    transition: .3s linear;
}

.roof-sec-4-btn:hover #svg-color {
    stroke: #18191E;
    transition: .3s linear;
}

.roof-sec-4-img-cont {
    width: 1095px;
    height: 1080px;
    clip-path: polygon(42% 0%, 58% 0%, 58% 30.5%, 80% 9%, 91% 21%, 70% 42%, 100% 42%, 100% 58%, 58% 58%, 58% 100%, 42% 100%, 42% 70%, 21% 91.5%, 9% 80%, 30.5% 58%, 0% 58%, 0% 42%, 30.5% 42%, 9% 21%, 21% 9%, 42% 30.5%)
}

.roof-sec-4-img {
    width: 1095px;
    height: 2000px;
}

// responsive

@media screen and (max-width: 1919px) and (min-width: 744px) {
    .roof-section-1 {
        padding: calc(365px + 141* ((100vw - 1919px) / 744)) calc(269px + 129* ((100vw - 1919px) / 744)) calc(295px + 137* ((100vw - 1991px) / 744)) calc(300px + 171* ((100vw - 1919px) / 744));
    }

    .roof-sec-1-h3 {
        font-size: calc(90px + 32* ((100vw - 1919px) / 744));
    }

    .roof-sec-1-p {
        font-size: calc(20px + 3* ((100vw - 1919px) / 744));
    }

    .roof-sec-1-img {
        width: calc(233px + 87* ((100vw - 1919px) / 744));
    }

    @media (max-width: 1800px) {
        .roof-texts-cont {
            display: inline-block;
        }

        .roof-sec-1-p {
            max-width: none;
            margin: 12px calc(447px + 208* ((100vw - 1919px) / 744)) 0px 0px;
        }
    }

    @media (max-width: 744px) {
        .roof-sec-1-img {
            display: none;
        }

        .roof-sec-1-img-tablet {
            display: block;
            width: 96px;
            position: absolute;
            top: 0px;
            left: 335px;
        }
    }
}

@media screen and (max-width: 744px) and (min-width: 360px) {
    .roof-section-1 {
        padding: calc(142px + 28* ((100vw - 744px) / 360)) calc(66px + 43* ((100vw - 744px) / 360)) calc(66px + 18* ((100vw - 744px) / 360)) calc(30px + -1* ((100vw - 744px) / 360));
    }

    .roof-sec-1-h3 {
        font-size: 40px;
        line-height: 46px;
    }

    .roof-sec-1-p {
        display: none;
    }

    .roof-sec-1-p-mobile {
        display: block;
        font-size: 16px;
        line-height: 22px;
        margin: 12px calc(108px + 101* ((100vw - 744px) / 360)) 0px 0px;

    }

    .roof-texts-cont {
        display: inline-block;
    }

    .roof-sec-1-img {
        display: none;
    }

    .roof-sec-1-img-tablet {
        display: block;
        width: 96px;
        position: absolute;
        top: 0px;
        left: 335px;
    }

    @media (max-width: 670px) {
        .roof-sec-1-text-cont {
            display: none;
        }

        .roof-sec-1-text-cont-mobile {
            display: block;
        }

        .roof-sec-1-img-mobile {
            width: calc(96px + 8* ((100vw - 670px) / 360));
        }

        .roof-text-1-img-text {
            display: flex;
        }
    }
}

@media screen and (max-width: 1919px) and (min-width: 744px) {
    .roof-section-2 {
        padding: calc(89px + 33* ((100vw - 1919px) / 744)) calc(243px + 142* ((100vw - 1919px) / 744)) calc(138px + 70* ((100vw - 1919px) / 744)) calc(300px + 171* ((100vw - 1919px) / 744));
    }

    .roof-sec-2-h3 {
        font-size: calc(60px + 19* ((100vw - 1919px) / 744));
        line-height: calc(60px + 18* ((100vw - 1919px) / 744));
    }

    .roof-sec-2-p-1 {
        margin: calc(20px + 0* ((100vw - 1919px) / 744)) calc(66px + 43* ((100vw - 1919px) / 744)) 0 0;
        font-size: calc(20px + 2* ((100vw - 1919px) / 744));
    }

    .roof-sec-2-p-2 {
        margin-top: calc(20px + 0* ((100vw - 1919px) / 744));
        font-size: calc(20px + 2* ((100vw - 1919px) / 744));
        margin-bottom: 27px;
    }

    .roof-sec-2-img {
        width: calc(761px + 288* ((100vw - 1919px) / 744));
    }

    .roof-sec-2-img-text-cont {
        align-items: center;
    }

    .roof-sec-2-yellow-cont {
        margin-top: 90px;
    }

    .roof-yellow-text-cont {
        padding: calc(78px + 26* ((100vw - 1919px) / 744)) calc(261px + 76* ((100vw - 1919px) / 744));
    }

    .roof-yellow-h4 {
        font-size: calc(60px + 18* ((100vw - 1919px) / 744));
        line-height: calc(60px + 19* ((100vw - 1919px) / 744));
    }

    .roof-yellow-p {
        margin: calc(21px + 2* ((100vw - 1919px) / 744)) calc(72px + 45* ((100vw - 1919px) / 744)) 0 calc(72px + 45* ((100vw - 1919px) / 744));
        font-size: calc(24px + 2* ((100vw - 1919px) / 744));
    }

    .roof-yellow-btn {
        margin: calc(36px + -8* ((100vw - 1919px) / 744)) calc(286px + 181* ((100vw - 1919px) / 744)) 0 calc(286px + 181* ((100vw - 1919px) / 744));
        padding: calc(25px + 4* ((100vw - 1919px) / 744)) calc(56px + -62* ((100vw - 1919px) / 744));
    }

    @media (max-width: 744px) {
        .roof-yellow-text-cont-pc {
            display: none;
        }

        .roof-yellow-text-cont-tablet {
            display: block;
        }
    }
}

@media screen and (max-width: 744px) and (min-width: 360px) {
    .roof-section-2 {
        padding: calc(36px + -8* ((100vw - 744px) / 360)) calc(18px + 1* ((100vw - 744px) / 360)) 30px calc(30px + 12* ((100vw - 744px) / 460));
    }

    .roof-sec-2-h3 {
        font-size: 30px;
        line-height: 31px;
    }

    .roof-sec-2-p-1 {
        margin: 20px 0 0 0;
        font-size: 16px;
        line-height: 22px;
    }

    .roof-sec-2-p-2 {
        margin-top: 20px;
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 27px;
    }

    .roof-sec-2-img {
        width: 306px;
    }

    .roof-sec-2-img-text-cont {
        align-items: center;
    }

    @media (max-width: 660px) {
        .roof-sec-2-img-text-cont {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    }

    .roof-sec-2-yellow-cont {
        margin: 0;
    }

    .roof-yellow-text-cont-pc {
        display: none;
    }

    .roof-yellow-text-cont-tablet {
        display: block;
    }

    .roof-yellow-text-cont {
        padding: 37px calc(167px + 141* ((100vw - 744px) / 360));
    }

    .roof-yellow-p {
        font-size: 16px;
        line-height: 21px;
        margin: 18px 0 0 0;
    }

    .roof-yellow-btn {
        padding: 19px calc(119px + 60* ((100vw - 744px) / 360));
        margin: 49px calc(0px + -27* ((100vw - 744px) / 360)) 0 calc(0px + -27* ((100vw - 744px) / 360));
    }
}

@media screen and (max-width: 1919px) and (min-width: 744px) {
    .roof-section-3 {
        padding: calc(64px + 18* ((100vw - 1919px) / 744)) calc(300px + 170* ((100vw - 1919px) / 744)) calc(111px + 71* ((100vw - 1919px) / 744)) calc(300px + 171* ((100vw - 1919px)/ 744));
    }

    .roof-sec-3-h3 {
        font-size: calc(90px + 38* ((100vw - 1919px) / 744));
    }

    .roof-sec-3-p {
        padding: 12px 0px 0 15px;
        font-size: calc(20px + 3* ((100vw - 1919px) / 744));
    }

    .roof-sec-3-img {
        width: calc(1320px + 403* ((100vw - 1919px) / 744));
    }

    .roof-counter {
        font-size: calc(114px + 27* ((100vw - 1919px) / 744));
    }

    .roof-plyus {
        font-size: calc(114px + 27* ((100vw - 1919px) / 744));
    }

    .roof-item-p {
        font-size: calc(22px + 3* ((100vw - 1919px) / 744));
    }

    @media (max-width: 1240px) {
        .roof-text-h3-p-cont {
            display: inline-block;
        }

        .roof-sec-3-p {
            padding: 12px calc(0px + -72* ((100vw - 1919px) / 744)) 0 0;
        }
    }

    .roof-sec-3-img {
        width: calc(1320px + 403* ((100vw - 1919px) / 744));
        margin-top: calc(47px + 16* ((100vw - 1919px) / 744));
    }

    .roof-item {
        margin-top: calc(63px + 24* ((100vw - 1919px) / 744));
        display: flex;
        gap: calc(267px + 126* ((100vw - 1919px) / 744));
    }
}

@media screen and (max-width: 744px) and (min-width: 360px) {

    .roof-section-3 {
        padding: calc(34px + 0* ((100vw - 744px) / 360)) calc(31px + 10* ((100vw - 744px) / 360)) 0 calc(30px + 9* ((100vw - 744px) / 360));
    }

    .roof-text-h3-p-cont {
        display: inline-block;
    }

    .roof-sec-3-h3 {
        font-size: 30px;
        line-height: 31px;
    }

    .roof-sec-3-p {
        padding: calc(12px + -28* ((100vw - 744px) / 360)) calc(85px + 76* ((100vw - 744px) / 360)) 0 0;
        font-size: 16px;
        line-height: 22px;
    }

    .roof-sec-3-img {
        margin-top: calc(47px + 21* ((100vw - 744px) / 360));
        width: calc(683px + 341* ((100vw - 744px) / 360));
        height: calc(137px + -225* ((100vw - 744px) / 360));
    }

    .roof-counter {
        font-size: 70px;
    }

    .roof-plyus {
        font-size: 70px;
    }

    .roof-item {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        gap: 72px;
    }

    .roof-item-p {
        font-size: 17px;
    }

    @media (max-width: 500px) {
        .roof-item {
            gap: 20px;
        }

        .roof-column {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

@media screen and (max-width: 1919px) and (min-width: 744px) {
    .roof-section-4 {
        position: relative;
    }

    .roof-sec-4-img-cont {
        position: absolute;
        left: 824px;
    }

    .roof-sec-4-text-cont {
        padding: calc(292px + 111* ((100vw - 1919px) / 744)) calc(0px + 0* ((100vw - 1919px) / 744)) calc(87px + 16* ((100vw - 1919px) / 744)) calc(281px + 159* ((100vw - 1919px) / 744));
    }

    .roof-sec-4-h3 {
        font-size: calc(60px + 19* ((100vw - 1919px) / 744));
        line-height: calc(60px + 18* ((100vw - 1919px) / 744));
    }

    .roof-sec-4-p {
        width: calc(545px + 127* ((100vw - 1919px) / 744));
        margin-top: calc(30px + 8* ((100vw - 1919px) / 744));
        font-size: calc(20px + 2* ((100vw - 1919px) / 744));
    }

    .roof-cont-p {
        font-size: calc(20px + 2* ((100vw - 1919px) / 744));
    }

    .roof-svg-text-cont {
        margin-top: calc(49px + 12* ((100vw - 1919px) / 744));
        display: flex;
        flex-direction: column;
        gap: calc(27px + 11* ((100vw - 1919px) / 744));
    }

    .roof-sec-4-btn {
        padding: calc(20px + 2* ((100vw - 1919px) / 744)) calc(36px + -50* ((100vw - 1919px) / 744));
    }

    .roof-sec-4-img-cont {
        position: absolute;
        left: calc(824px + 228* ((100vw - 1919px) / 744));
        width: calc(1095px + 269* ((100vw - 1919px) / 744));
        height: calc(1080px + 265* ((100vw - 1919px) / 744));
    }

    @media (max-width: 745px) {
        .roof-sec-4-text-cont-pc {
            display: none;
        }

        .roof-sec-4-text-cont-tablet {
            display: block;
        }
    }
}

@media screen and (max-width: 744px) and (min-width: 360px) {

    .roof-section-4 {
        display: flex;
        flex-direction: column-reverse;
    }

    .roof-sec-4-p {
        width: calc(341px + 14* ((100vw - 744px) / 360));
        font-size: 16px;
        line-height: 22px;
    }

    .roof-sec-4-text-cont {
        padding: calc(117px + 79* ((100vw - 744px) / 360)) 0 calc(61px + -10* ((100vw - 744px) / 360)) calc(30px + 11* ((100vw - 744px) / 360));
    }

    .roof-sec-4-img-cont {
        width: 744px;
        height: 660px;
    }

    .roof-sec-4-text-cont-pc {
        display: none;
    }

    .roof-sec-4-text-cont-mobile {
        display: block;
    }

    .roof-sec-4-btn {
        padding: calc(16px + -4* ((100vw - 744px) / 360)) calc(115px + 75* ((100vw - 744px) / 369));
        margin-left: calc(0px + -35* ((100vw - 744px) / 360));
    }

    .roof-sec-4-img-cont {
        width: calc(744px + 360* ((100vw - 744px) / 360));
        height: calc(660px + 276* ((100vw - 744px) / 360));
    }

    .roof-svg-text-cont {
        width: calc(437px + 100* ((100vw - 744px) / 360));
    }
}
