.services-text-hidden {
    overflow: hidden;
}

.services-section-1 {
    width: 100%;
    max-width: 1920px;
    background: #F0F0F0;
    padding: 435px 269px 330px 300px;
}

.services-section-1-tablet {
    display: none;
    background: #F0F0F0;
}

.services-section-1-mobile {
    display: none;
    background: #F0F0F0;
}

.services-sec-1-text {
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 116.5%;
    color: #18191E;
    transform: translateY(90px);
}

.services-text-and-image {
    display: flex;
    position: relative;
}

.services-pos-left {
    margin-left: 275px;
}

.services-sec-1-img {
    position: absolute;
    left: 469px;
    top: 40px;
}

.services-dis-flex {
    display: flex;
}

.services-sec-1-text-s {
    margin: 15px 38px 0 50px;
    font-family: 'Space Grotesk-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 138.5%;
    text-transform: uppercase;
    color: #18191E;
    transform: translateY(90px);
}

.services-section-2 {
    width: 100%;
    max-width: 1920px;
    background: #1931AF;
    position: relative;
    overflow: hidden;
}

.services-text-cont-1 {
    padding: 79px 578px 0 246px;
}

.services-sec-2-h3 {
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 110%;
    text-transform: uppercase;
    color: #FFFFFF;
    transform: translateY(90px);
}

.services-text-cont-2 {
    padding: 22px 357px 0 1040px;
}

.services-panel-3 {
    padding: 330px 416px 212px 107px;
    display: flex;
}

.services-panel-3-text-cont {
    margin: 230px 0 0 65px;
}

.services-panel-3-text-p-cont {
    margin-right: 17px;
}

.services-wrapper {
    display: flex;
    width: 300%;
}

.services-panel {
    width: 100vw;
    height: 1080px;
}

.services-img-cont {
    position: absolute;
    top: 169px;
}

.services-sec-2-img-text-cont {
    display: flex;
}

.services-sec-2-text-cont-2 {
    margin: 238px 363px 348px 918px;
}

.services-sec-2-text {
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 110%;
    color: #FFFFFF;
}

.services-sec-2-text-2 {
    margin-top: 25px;
    font-family: 'Space Grotesk-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 110%;
    color: #FFFFFF;
}

.services-sec-2-text-p-cont {
    margin-right: 136px;
}

.services-sec-2-text-p-cont-2 {
    margin-top: 64px;
}

.services-panel-2 {
    padding: 487px 125px 191px 246px;
    display: flex;
}

.services-panel-2-text-cont {
    padding-right: 297px;
}

.services-panel-2-img-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-section-3 {
    width: 100%;
    max-width: 1920px;
    padding: 118px 300px 209px 300px;
}

.services-sec-3-text-cont {
    display: flex;
}

.services-sec-3-h3 {
    margin-right: 1037px;
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 104%;
    color: #18191E;
    transform: translateY(90px);
}

.services-sec-3-p {
    font-family: 'Space Grotesk-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 138.5%;
    text-transform: uppercase;
    color: #18191E;
}

.services-sec-3-img-cont {
    margin: 98px 80px 0 166px;
}

.services-section-4 {
    width: 100%;
    max-width: 1920px;
    background: #1931AF;
    display: flex;
    padding: 200px 300px 207px 302px;
}

.services-sec-4-text-cont {
    margin: 140px 101px 132px 0;
}

.services-sec-4-h3 {
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: #FFFFFF;
    transform: translateY(90px);
}

.services-sec-4-p-2 {
    margin-top: 30px;
    font-family: 'Space Grotesk-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 138.5%;
    color: #FFFFFF;
}

.services-section_5 {
    width: 100%;
    max-width: 1920px;
}

.services-sec-5-text-cont {
    padding: 112px 266px 185px 308px;
}

.services-sec-5-text-cont-tablet {
    display: none;
}

.services-sec-5-text-cont-mobile {
    display: none;
}

.services-sec-5-h3-cont {
    display: flex;
}

.services-sec-5-h3 {
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 104%;
    text-transform: uppercase;
    color: #18191E;
    transform: translateY(90px);
}

.services-sec-5-h3-2 {
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    text-transform: uppercase;
    color: #18191E;
    transform: translateY(90px);
}

.services-sec-5-h3-color-blue {
    color: #1931AF;
    margin: 0 15px;
}

.services-sec-5-h3-p-cont {
    display: flex;
    transform: translateY(90px);
}

.services-sec-5-h3-p {
    font-family: 'Space Grotesk-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 138.5%;
    text-transform: uppercase;
    color: #18191E;
    margin: 8px 200px 8px 20px;
}

.services-sec_12_info {
    margin: 0 300px 122px 300px;
    background: #FFF353;
}

.services-sec_12_text_cont {
    padding: 68px 335px 21px 335px;
}

.services-sec_12_text_cont_tablet {
    display: none;
}

.services-sec_12_text_cont_mobile {
    display: none;
}

.services-sec_12_h5 {
    font-family: "Space Grotesk-Regular";
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    color: #18191E;
    transform: translateY(90px);
}

.services-sec_12_h5-2 {
    font-family: "Space Grotesk-Regular";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 39px;
    text-align: center;
    text-transform: uppercase;
    color: #18191E;
    transform: translateY(90px);
}

.services-sec_12_p {
    margin: 0 395px;
    font-family: "Space Grotesk-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 132%;
    text-align: center;
    color: #000000;
}

.services-cont_input {
    margin: 67px 333px 8px 333px;
    padding: 16px 26px;
    background: #EFE011;
}

.services-cont_input_2 {
    margin: 0px 333px 8px 333px;
    padding: 16px 26px;
    background: #EFE011;
}

.services-cont_input_3 {
    margin: 0px 333px 8px 333px;
    padding: 16px 26px;
    background: #EFE011;
}

.services-cont_input_3 {
    margin: 0px 333px 8px 333px;
    padding: 16px 26px;
    background: #EFE011;
}

.services-cont_input_4 {
    margin: 0px 333px 0px 333px;
    padding: 16px 26px;
    background: #EFE011;
}

.services-sec_12_input {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: none;
    outline: none;
    font-family: "Space Grotesk-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 132%;
}

.services-sec_12_input::-moz-placeholder {
    color: #A89D0D;
}

.services-sec_12_input::placeholder {
    color: #A89D0D;
}

.services-sec_12_input_2::-moz-placeholder {
    color: #A89D0D;
}

.services-sec_12_input_2::placeholder {
    color: #A89D0D;
}

.services-sec_12_input_2 {
    width: 100%;
    height: 111px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: none;
    outline: none;
    resize: none;
    font-family: "Space Grotesk-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 132%;
}

.services-sec_12_input_2::-webkit-input-placeholder {
    padding-top: 85px;
}

.services-sec_12_btn {
    margin: 50px 333px 83px 783px;
    padding: 25px 71px;
    border: none;
    outline: none;
    background: #1931AF;
    font-family: "Space Grotesk-Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 132%;
    color: #FFFFFF;
    cursor: pointer;
}

.services-sec_12_btn:hover {
    background: black;
    transition: 0.2s linear;
}

// Responsive

@media screen and (max-width: 1919px) and (min-width: 744px) {
    .services-section-1 {
        padding: calc(435px + 143* ((100vw - 1919px) / 744)) calc(269px + 158* ((100vw - 1919px) / 744)) calc(330px + 189* ((100vw - 1919px) / 744)) calc(300px + 187* ((100vw - 1919px) / 744));
    }

    .services-sec-1-text {
        font-size: calc(90px + 32* ((100vw - 1919px) / 744));
    }

    .services-sec-1-text-s {
        font-size: calc(20px + 2* ((100vw - 1919px) / 744));
    }

    .services-sec-1-img {
        position: absolute;
        left: calc(469px + 360* ((100vw - 1919px) / 1460));
        top: calc(40px + -47* ((100vw - 1919px) / 1460));
        width: calc(312px + 261* ((100vw - 1919px) / 1460));
    }

    .services-pos-left {
        margin-left: calc(275px + 335* ((100vw - 1919px) / 1460));
    }

    @media (max-width: 1460px) and (min-width: 744px) {
        .services-section-1 {
            display: none;
        }

        .services-section-1-tablet {
            display: block;
            padding: calc(347px + 144* ((100vw - 1460px) / 744)) calc(171px + 156* ((100vw - 1460px) / 744)) calc(213px + 190* ((100vw - 1460px) / 744)) calc(158px + 135* ((100vw - 1460px) / 744));
        }

        .services-sec-1-img {
            position: absolute;
            left: calc(115px + 110* ((100vw - 1460px) / 744));
            top: calc(486px + 159* ((100vw - 1460px) / 744));
            width: calc(230px + 100* ((100vw - 1460px) / 744));
        }

        .services-marg-left {
            margin-left: calc(145px + 51* ((100vw - 1460px) / 744));
        }

        .services-sec-1-text-s {
            margin: calc(0px + -15* ((100vw - 1460px) / 744)) calc(140px + -189* ((100vw - 1460px) / 744)) 0 0;
        }
    }
}

@media screen and (max-width: 743px) and (min-width: 360px) {

    .services-section-1 {
        display: none;
    }

    .services-section-1-tablet {
        display: block;
        padding: 208px 20px 30px 28px;
    }

    .services-sec-1-text {
        font-size: 40px;
        line-height: 46px;
    }

    .services-sec-1-text-s {
        font-size: 16px;
        line-height: 22px;
        margin: 14px calc(339px + 624* ((100vw - 743px) / 628)) 0 0px;
    }

    .services-sec-1-img {
        position: absolute;
        top: 333px;
        left: 6px;
        width: 133px;
    }

    .services-marg-left {
        margin-left: 94px;
    }

    @media (max-width: 627px) and (min-width: 360px) {
        .services-section-1-tablet {
            display: none;
        }

        .services-section-1-mobile {
            display: block;
            padding: calc(208px + 35* ((100vw - 628px) / 360)) 20px 30px 28px;
        }

        .services-sec-1-img {
            position: absolute;
            top: calc(381px + 38* ((100vw - 628px) / 360));
            left: 6px;
            width: 133px;
        }

        .services-marg-left {
            margin-left: 93px;
        }

        .services-sec-1-text-s {
            font-size: 16px;
            line-height: 22px;
            margin: 14px calc(339px + 449* ((100vw - 628px) / 360)) 0 0px;
        }
    }
}

@media screen and (max-width: 1919px) and (min-width: 744px) {
    .services-sec-2-h3 {
        font-size: calc(100px + 44* ((100vw - 1919px) / 744));
    }

    .services-text-cont-1 {
        padding: calc(79px + 27* ((100vw - 1919px) / 744)) calc(578px + 256* ((100vw - 1919px) / 744)) 0 calc(246px + 23* ((100vw - 1919px) / 744));
    }

    .services-text-cont-2 {
        padding: calc(22px + 12* ((100vw - 1919px) / 744)) calc(357px + 60* ((100vw - 1919px) / 744)) 0 calc(1040px + 467* ((100vw - 1919px) / 744));
    }

    .services-sec-2-text {
        font-size: calc(40px + 9* ((100vw - 1919px) / 744));
    }

    .services-sec-2-text-2 {
        font-size: calc(20px + 2* ((100vw - 1919px) / 744));
    }

    .services-sec-2-img {
        width: calc(1138px + 469* ((100vw - 1919px) / 744));
    }

    .services-sec-2-text-p-cont {
        margin-right: 0px;
    }

    .services-img-cont {
        position: absolute;
        top: calc(125px + -50* ((100vw - 1919px) / 1240));
    }

    @media (max-width: 1239px) and (min-width: 746px) {
        .services-img-cont {
            position: absolute;
            top: calc(210px + -45* ((100vw - 1919px) / 746));
        }
    }

    @media (max-width: 1919px) and (min-width: 746px) {
        .services-sec-2-text-cont-2 {
            margin: calc(238px + 0* ((100vw - 1919px) / 746)) calc(363px + 236* ((100vw - 1919px) / 764)) calc(348px + 0* ((100vw - 1919px) / 746)) calc(918px + 365* ((100vw - 1919px) / 746));
        }

        .services-sec-2-text-2 {
            margin-top: calc(25px + 12* ((100vw - 1919px) / 746));
        }

        .services-sec-2-text-p-cont-2 {
            margin-top: calc(64px + 25* ((100vw - 1919px) / 746));
        }
    }

    @media (max-width: 746px) and (min-width: 744px) {
        .services-text-cont-1 {
            padding: 30px 0px 0 206px;
        }

        .services-img-cont {
            position: absolute;
            top: 250px;
            left: 210px;
        }

        .services-sec-2-text-cont-2 {
            margin: 500px 0px 0px 40px;
            display: grid;
            grid-template-columns: auto auto;
        }

        .services-sec-2-text-p-cont-2 {
            margin-top: 0px;
        }

        .services-sec-2-text-2 {
            margin-top: 15px;
            margin-right: 16px;
        }
    }

    .services-panel-2-img {
        width: calc(771px + 237* ((100vw - 1919px) / 744));
    }

    .services-panel-2 {
        padding: calc(487px + 93* ((100vw - 1919px) / 746)) calc(125px + 137* ((100vw - 1919px) / 746)) calc(191px + -120* ((100vw - 1919px) / 746)) calc(246px + 140* ((100vw - 1919px) / 746));
    }

    .services-panel-2-text-cont {
        padding-right: 0px;
    }

    .services-panel-2-img-cont {
        margin-right: calc(0px + 48* ((100vw - 1919px) / 746));
        margin-bottom: calc(0px + -35* ((100vw - 1919px) / 746));
    }

    @media (max-width: 746px) and (min-width: 744px) {
        .services-panel-2-img-cont {
            position: absolute;
            left: 200px;
        }

        .services-panel-2-text-cont {
            display: flex;
            margin-top: 270px;
        }
    }

    .services-panel-3-img {
        width: calc(722px + 206* ((100vw - 1919px) / 744));
    }

    .services-panel-3 {
        padding: calc(330px + 100* ((100vw - 1919px) / 746)) calc(416px + 255* ((100vw - 1919px) / 746)) calc(212px + -52* ((100vw - 1919px) / 746)) calc(107px + 55* ((100vw - 1919px) / 746));
    }

    @media (max-width: 1400px) and (min-width: 746px) {
        .services-panel-3 {
            padding-top: calc(260px + -100* ((100vw - 1000px) / 746));
        }
    }

    .services-panel-3-text-cont {
        margin: calc(230px + 117* ((100vw - 1919px) / 746)) 0 0 calc(65px + 41* ((100vw - 1919px) / 746));
    }

    .services-panel-3-img-cont {
        margin-left: calc(0px + 40* ((100vw - 1919px) / 746));
    }

    @media (max-width: 746px) and (min-width: 744px) {
        .services-panel-3 {
            display: block;
            padding: 253px 14px 0px 20px;
        }

        .services-panel-3-img-cont {
            margin-left: 120px;
        }

        .services-panel-3-text-cont {
            margin: -37px 0 0 0;
            display: flex;
        }

        .services-sec-2-text-2 {
            margin-right: 0;
        }
    }

}

@media screen and (max-width: 743px) and (min-width: 360px) {
    .services-sec-2-h3 {
        font-size: 30px;
        line-height: 33px;
    }

    .services-text-cont-1 {
        padding: calc(36px + 0* ((100vw - 744px) / 360)) calc(170px + 174* ((100vw - 744px) / 360)) 0 calc(213px + 200* ((100vw - 744px) / 360));
    }

    .services-text-cont-2 {
        padding: calc(0px + 0* ((100vw - 744px) / 360)) calc(260px + 221* ((100vw - 744px) /360)) 0 calc(305px + 188* ((100vw - 744px) / 360));
    }

    .services-sec-2-text {
        font-size: 25px;
        line-height: 27px;
    }

    .services-sec-2-text-2 {
        font-size: 16px;
        line-height: 20px;
    }

    .services-sec-2-text-cont-2 {
        margin: calc(501px + 120* ((100vw - 744px) / 360)) calc(60px + 40* ((100vw - 744px) / 360)) 0px calc(40px + 10* ((100vw - 744px) / 360));
    }

    .services-sec-2-text-p-cont-2 {
        margin-top: 20px;
    }

    .services-sec-2-text-2 {
        margin-top: 0px;
        margin-right: 0px;
    }

    .services-sec-2-text-p-cont {
        margin-right: 0px;
    }

    .services-sec-2-img {
        width: calc(500px + 187* ((100vw - 744px) / 360));
    }

    .services-img-cont {
        position: absolute;
        top: calc(180px + -10* ((100vw - 744px) / 360));
        left: calc(140px + 85* ((100vw - 744px) / 360));
    }

    .services-panel-2 {
        padding: 248px 10px 288px 10px;
        display: flex;
        flex-direction: column-reverse;
    }

    .services-panel-2-text-cont {
        padding-right: 0px;
        margin-bottom: 12px;
    }

    .services-panel-2-img-cont {
        margin-left: calc(140px + 73* ((100vw - 744px) / 360));
    }

    .services-panel-2-img {
        width: calc(500px + 115* ((100vw - 744px) / 360));
    }

    .services-panel-3-img {
        width: calc(400px + 180* ((100vw - 744px) /360));
    }

    .services-panel-3 {
        padding: 237px calc(40px + 24* ((100vw - 744px) / 360)) 0px calc(40px + 24* ((100vw - 744px) / 360));
        display: inline-block;
    }

    .services-panel-3-text-cont {
        margin: calc(-47px + -50* ((100vw - 744px) / 360)) 0 0 0px;
    }

    .services-panel-3-img-cont {
        margin-left: calc(120px + 70* ((100vw - 744px) / 360));
    }
}

@media screen and (max-width: 1919px) and (min-width: 744px) {
    .services-section-3 {
        padding: calc(118px + 51* ((100vw - 1919px) / 744)) calc(300px + 180* ((100vw - 1919px) / 744)) calc(209px + 109* ((100vw - 1919px) / 744)) calc(300px + 171* ((100vw - 1919px) / 744));
    }

    .services-sec-3-h3 {
        font-size: calc(90px + 37.9* ((100vw - 1919px)/ 744));
    }

    .services-sec-3-p {
        font-size: calc(20px + 2* ((100vw - 1919px) / 744));
    }

    .services-sec-3-img {
        width: calc(1074px + 478* ((100vw - 1919px) / 744));
    }

    @media (max-width: 1240px) and (min-width: 744px) {
        .services-section-3 {
            display: flex;
            align-items: center;
        }

        .services-sec-3-text-cont {
            display: inline-block;
            width: calc(370px + 49 * ((100vw - 1240px) / 744));
        }

        .services-sec-3-img-cont {
            margin: 0px 0px 0 60px;
        }

        .services-sec-3-p {
            margin-top: 20px;
        }
    }
}

@media screen and (max-width: 744px) and (min-width: 36px) {
    .services-sec-3-h3 {
        font-size: 30px;
        line-height: 31px
    }

    .services-sec-3-p {
        font-size: 16px;
        line-height: 22px;
    }

    .services-sec-3-text-cont {
        display: inline-block;
        width: calc(680px + 338* ((100vw - 744px) / 360));
    }

    .services-section-3 {
        padding: calc(37px + -14* ((100vw - 744px) / 360)) calc(15px + -5* ((100vw - 744px) / 360)) calc(36px + -43* ((100vw - 744px) / 360)) calc(29px + 8* ((100vw - 744px) / 360));
    }

    .services-sec-3-p {
        margin-top: 20px;
    }

    .services-sec-3-img {
        width: 380px;
    }

    .services-sec-3-img-cont {
        margin: 60px calc(80px + 75* ((100vw - 744px) / 360)) 0 calc(160px + 172* ((100vw - 744px) / 360));
    }
}

@media screen and (max-width: 1919px) and (min-width: 744px) {

    .services-sec-4-h3 {
        font-size: calc(60px + 19* ((100vw - 1919px) / 744));
    }

    .services-sec-4-p-2 {
        margin: 0;
        font-size: calc(20px + 2.6* ((100vw - 1919px) / 744));
    }

    .services-sec-4-img {
        width: calc(670px + 255* ((100vw - 1919px) / 744));
    }

    .services-section-4 {
        padding: calc(200px + 100* ((100vw - 1919px) / 744)) calc(300px + 164* ((100vw - 1919px) / 744)) calc(207px + 98* ((100vw - 1919px) / 744)) calc(302px + 164* ((100vw - 1919px) / 744));
        align-items: center;
    }

    .services-sec-4-text-cont {
        margin: 0 53px 0 0;
    }
}

@media screen and (max-width: 743px) and (min-width: 360px) {
    .services-section-4 {
        display: inline-block;
        padding: calc(42px + 5* ((100vw - 744px) / 360)) calc(20px + 0* ((100vw - 744px) / 360)) calc(52px + 48* ((100vw - 744px) / 360)) calc(42px + 20* ((100vw - 744px) / 360));
    }

    .services-sec-4-img {
        width: 267px;
    }

    .services-sec-4-h3 {
        font-size: 30px;
        line-height: 31px;
    }

    .services-sec-4-p-2 {
        margin: 20px 0 0 0;
        font-size: 16px;
        line-height: 22px;
    }

    .services-sec-4-text-cont {
        margin: 0;
    }
}

@media screen and (max-width: 1919px) and (min-width: 744px) {

    .services-sec-5-h3 {
        font-size: calc(90px + 32* ((100vw - 1919px) / 744));
    }

    .services-sec-5-h3-p {
        font-size: calc(20px + 2.5* ((100vw - 1919px) / 744));
        margin: calc(8px + 8* ((100vw - 1919px) / 1000)) calc(200px + 216* ((100vw - 1919px) / 1000)) 8px 20px;
    }

    .services-sec-5-h3-color-blue {
        margin: 0 calc(15px + 12* ((100vw - 1919px) / 1001));
    }

    .services-sec-5-text-cont {
        padding: calc(112px + 48* ((100vw - 1919px) / 744)) calc(266px + 87* ((100vw - 1919px) / 744)) calc(185px + 66* ((100vw - 1919px) / 744)) calc(308px + 170* ((100vw - 1919px) / 744));
    }

    @media (max-width: 1000px) {

        .services-sec-5-text-cont {
            display: none;
        }

        .services-sec-5-text-cont-tablet {
            display: block;
            padding: calc(52px + 46* ((100vw - 1000px) / 744)) calc(158px + 87* ((100vw - 1000px) / 744)) calc(103px + 66* ((100vw - 1000px) / 744)) calc(98px + 171* ((100vw - 1000px) / 744));
        }

        .services-sec-5-h3-p {
            margin: 8px 0 0 0;
        }
    }
}

@media screen and (max-width: 743px) and (min-width: 360px) {

    .services-sec-5-text-cont {
        display: none;
    }

    .services-sec-5-text-cont-tablet {
        display: block;
        padding: 36px 128px 80px 39px;
    }

    .services-sec-5-h3-p {
        margin: 8px 0 0 0;
        font-size: 16px;
        line-height: 22px;
    }

    @media (max-width: 630px) {
        .services-sec-5-text-cont-tablet {
            display: none;
        }

        .services-sec-5-text-cont-mobile {
            display: block;
            padding: 58px 28px 43px 30px;
        }
    }
}

@media screen and (max-width: 1919px) and (min-width: 744px) {

    .services-sec_12_cont {
        padding: calc(161px + 50 * ((100vw - 1920px) / 744)) calc(277px + 150 * ((100vw - 1920px) / 744)) calc(80px + 20 * ((100vw - 1920px) / 744)) calc(294px + 150 * ((100vw - 1920px) / 744));
    }

    @media (max-width: 744px) {
        .services-sec_12_cont_tablet {
            display: block;
            padding: 110px 30px 28px 30px;
        }

        .services-sec_12_cont {
            display: none;
        }
    }

    .services-sec_12_info {
        margin: 0 calc(300px + 190 * ((100vw - 1920px) / 744)) calc(122px + 77 * ((100vw - 1920px) / 744)) calc(300px + 190 * ((100vw - 1920px) / 744));
    }

    .services-sec_12_h5 {
        font-size: calc(50px + 9.4 * ((100vw - 1920px) / 744));
        line-height: calc(60px + 18* ((100vw - 1920px) / 744));
    }

    .services-sec_12_text_cont {
        padding: 68px calc(335px + 184 * ((100vw - 1920px) / 744)) 21px calc(335px + 184 * ((100vw - 1920px) / 744));
    }

    @media (max-width: 744px) {
        .services-sec_12_text_cont {
            display: none;
        }

        .services-sec_12_text_cont_tablet {
            display: block;
            padding: 68px 45px 21px 45px;
        }
    }

    .services-sec_12_p {
        font-size: calc(24px + 5 * ((100vw - 1920px) / 744));
        margin: 0 calc(395px + 248 * ((100vw - 1920px) / 744));
    }

    .services-cont_input {
        margin: calc(67px + 29 * ((100vw - 1920px) / 744)) calc(333px + 181 * ((100vw - 1920px) / 744)) calc(8px + 0 * ((100vw - 1920px) / 744)) calc(333px + 181 * ((100vw - 1920px) / 744));
    }

    .services-cont_input_2 {
        margin: 0 calc(333px + 181 * ((100vw - 1920px) / 744)) calc(8px + 0 * ((100vw - 1920px) / 744)) calc(333px + 181 * ((100vw - 1920px) / 744));
    }

    .services-cont_input_3 {
        margin: 0 calc(333px + 181 * ((100vw - 1920px) / 744)) calc(8px + 0 * ((100vw - 1920px) / 744)) calc(333px + 181 * ((100vw - 1920px) / 744));
    }

    .services-cont_input_4 {
        margin: 0 calc(333px + 181 * ((100vw - 1920px) / 744)) calc(8px + 0 * ((100vw - 1920px) / 744)) calc(333px + 181 * ((100vw - 1920px) / 744));
    }

    .services-sec_12_btn {
        margin: 50px calc(333px + 105 * ((100vw - 1920px) / 744)) calc(83px + 0 * ((100vw - 1920px) / 744)) calc(783px + 390 * ((100vw - 1920px) / 744));
        padding: 25px calc(71px + -65 * ((100vw - 1920px) / 744));
    }
}

@media screen and (max-width: 744px) and (min-width: 360px) {

    .services-sec_12_cont {
        display: none;
    }

    .services-sec_12_cont_tablet {
        padding: 110px 31px 28px 30px;
        display: block;
    }

    .services-sec_12_info {
        margin: 0;
    }

    .services-sec_12_text_cont {
        display: none;
    }

    .services-sec_12_text_cont_tablet {
        display: block;
        padding: 68px 45px 21px 45px;
    }

    .services-sec_12_p {
        font-size: 16px;
        margin: 0 calc(0px + -48* ((100vw - 744px) / 360));
    }

    .services-cont_input {
        margin: 21px calc(45px + 25* ((100vw - 744px) / 360)) 8px calc(45px + 24* ((100vw - 744px) / 360));
        padding: 25px 26px;
    }

    .services-cont_input_2 {
        margin: 0 calc(45px + 25* ((100vw - 744px) / 360)) 8px calc(45px + 24* ((100vw - 744px) / 360));
        padding: 25px 26px;
    }

    .services-cont_input_3 {
        margin: 0 calc(45px + 25* ((100vw - 744px) / 360)) 8px calc(45px + 24* ((100vw - 744px) / 360));
        padding: 25px 26px;
    }

    .services-cont_input_4 {
        margin: 0 calc(45px + 25* ((100vw - 744px) / 360)) 8px calc(45px + 24* ((100vw - 744px) / 360));
    }

    .services-sec_12_btn {
        margin: calc(50px + 13* ((100vw - 744px) / 360)) calc(167px + 84* ((100vw - 744px) / 360)) calc(58px + 12* ((100vw - 744px) / 360)) calc(167px + 83* ((100vw - 744px) / 360));
        padding: 25px calc(174px + 96* ((100vw - 744px) / 360));
    }

    @media (max-width: 679px) and (min-width: 360px) {
        .services-sec_12_cont_tablet {
            display: none;
        }

        .services-sec_12_cont_mobile {
            display: block;
            padding: 39px calc(160px + 162* ((100vw - 679px) / 360)) 42px calc(190px + 191* ((100vw - 679px) / 360));
        }
    }

    @media (max-width: 600px) and (min-width: 360px) {
        .services-sec_12_text_cont_tablet {
            display: none;
        }

        .services-sec_12_text_cont_mobile {
            display: block;
            padding: 27px calc(0px + -30* ((100vw - 600px) / 360)) 21px calc(0px + -30* ((100vw - 600px) / 360));
        }
    }
}
