.blog-single-text-hidden {
    overflow: hidden;
}

.blog-single-section-1 {
    width: 100%;
    max-width: 1920px;
    overflow: hidden;
}

.blog-single-sec-1-text-cont {
    position: absolute;
    top: 382px;
    left: 300px;
    right: 300px;
    bottom: 213px;
}

.blog-single-sec-1-text-cont-mobile {
    display: none;
}

.blog-single-h3-color-cont {
    display: flex;
    gap: 20px;
}

.blog-single-sec-1-h3-color-yellow {
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 116.5%;
    text-align: center;
    text-transform: uppercase;
    color: #FFF353;
    transform: translateY(90px);
}

.blog-single-sec-1-h3 {
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 116.5%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    transform: translateY(90px);
}

.blog-single-icon-text-cont {
    display: flex;
    gap: 57px;
    margin: 59px 443px 0 443px;
}

.blog-single-icon-text {
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 132%;
    color: #FFFFFF;
}

.blog-single-icon-text-cont-1 {
    display: flex;
    gap: 10px;
    align-items: center;
}

.blog-single-icon-text-cont-2 {
    display: flex;
    gap: 13px;
    align-items: center;
}

.blog-single-section-2 {
    width: 100%;
    max-width: 1920px;
    padding: 167px 300px 197px 120px;
}

.blog-single-sec-2-h3 {
    margin-left: 185px;
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 110%;
    text-transform: uppercase;
    color: #18191E;
    transform: translateY(90px);
}

.blog-single-svg-img-cont {
    margin-top: 65px;
    display: flex;
    gap: 146px;
}

.blog-single-icons {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 117px;
}

.blog-single-sec-2-p-1 {
    margin: 74px 803px 0 185px;
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
    text-transform: uppercase;
    color: #18191E;
}

.blog-single-sec-2-p-2 {
    margin: 34px 0 0 185px;
    font-family: 'Space Grotesk-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 132%;
    color: #18191E;
}

.blog-single-collaj {
    display: flex;
    gap: 42px;
    margin: 204px 0 0 180px;
}

.blog-single-col-p {
    margin-top: 41px;
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
    text-transform: uppercase;
    color: #18191E;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.blog-single-col-p-2 {
    margin-top: 27px;
    font-family: 'Space Grotesk-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 132%;
    color: #18191E;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.blog-single-coll-2 {
    margin-top: 115px;
}

.blog-single-cont-mega-p {
    margin-top: 158px;
}

.blog-single-sec-2-mega-p {
    margin-left: 179px;
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 116.5%;
    text-transform: uppercase;
    color: #18191E;
    transform: translateY(90px);
}

.blog-single-sec-2-mega-p-2 {
    margin-left: 179px;
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 33px;
    text-transform: uppercase;
    color: #18191E;
    transform: translateY(90px);
}

.blog-single-sec-2-text-cont-tablet {
    display: none;
}

.blog-single-sec-2-img-panel {
    margin-left: 185px;
    margin-top: 104px;
}

.blog-single-sec-2-p-3 {
    margin: 88px 803px 0 185px;
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
    text-transform: uppercase;
    color: #18191E;
}

.blog-single-sec-2-p-4 {
    margin: 34px 0 0 185px;
    font-family: 'Space Grotesk-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 132%;
    color: #18191E;
}

.blog-single-section-3 {
    width: 100%;
    max-width: 1920px;
    background: #F0F0F0;
    opacity: 0.92;
    padding: 71px 295px 127px 300px;
}

.blog-single-sec-3-h3 {
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 110%;
    text-transform: uppercase;
    color: #18191E;
    transform: translateY(90px);
}

.blog-single-sec-3-collaj {
    display: flex;
    gap: 30px;
    margin-top: 97px;
}

.blog-single-sec-3-p-1 {
    margin-top: 40px;
    font-family: 'Space Grotesk-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    color: #18191E;
}

.blog-single-sec-3-p-2 {
    margin-top: 18px;
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 132%;
    color: #18191E;
}

.blog-single-sec-3-yellow {
    margin-top: 152px;
    background: #FFF353;
}

.blog-single-text-yellow-p {
    padding: 68px 333px 0 333px;
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 110%;
    text-align: center;
    text-transform: uppercase;
    color: #18191E;
}

.blog-single-text-yellow-p-2 {
    padding: 21px 395px 0 395px;
    font-family: 'Space Grotesk-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 132%;
    text-align: center;
    color: #18191E;
}

.blog-single-inp-btn-cont {
    padding: 77px 333px 57px 333px;
    display: flex;
}

.blog-single-inp-cont {
    background: #EFE011;
}

.blog-single-inp-email {
    background: #EFE011;
    padding: 25px 297px 25px 26px;
    border: none;
    outline: none;
    font-family: 'Space Grotesk-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 132%;
    color: #18191E;
}

.blog-single-inp-email::placeholder {
    font-family: 'Space Grotesk-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 132%;
    background: #EFE011;
}

.blog-single-sec-3-btn {
    padding: 25px 52px;
    background: #18191E;
    border: none;
    outline: none;
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 132%;
    color: #FFFFFF;
    cursor: pointer;
}

.blog-single-sec-3-btn:hover {
    background: #FFFFFF;
    color: #18191E;
    transition: .3s linear;
}

// responsive

@media screen and (max-width: 1919px) and (min-width: 744px) {
    .blog-single-sec-1-img {
        width: calc(1920px + 742* ((100vw - 1919px) / 744));
        height: calc(1080px + 348* ((100vw - 1919px) / 744));
    }

    .blog-single-sec-1-text-cont {
        position: absolute;
        top: calc(382px + 130* ((100vw - 1919px) / 744));
        left: calc(300px + 139* ((100vw - 1919px) / 744));
        right: calc(300px + 146* ((100vw - 1919px) / 744));
        bottom: calc(213px + -110* ((100vw - 1919px) / 744));
    }

    .blog-single-h3-color-cont {
        gap: calc(20px + 9* ((100vw - 1919px) / 744));
    }

    .blog-single-sec-1-h3-color-yellow {
        font-size: calc(90px + 31.6* ((100vw - 1919px) / 744));
    }

    .blog-single-sec-1-h3 {
        font-size: calc(90px + 31.6* ((100vw - 1919px) / 744));
    }

    .blog-single-icon-text-cont {
        display: flex;
        gap: calc(57px + 25* ((100vw - 1919px) / 744));
        margin: calc(59px + 19* ((100vw - 1919px) / 744)) calc(443px + 263* ((100vw - 1919px) / 744)) 0 calc(443px + 179* ((100vw - 1919px) / 744));
    }

    .blog-single-icon-text-cont-1 {
        gap: calc(10px + 4* ((100vw - 1919px) / 744));
    }

    .blog-single-icon-text {
        font-size: calc(20px + 3.7* ((100vw - 1919px) / 744));
    }
}

@media screen and (max-width: 743px) and (min-width: 360px) {
    .blog-single-sec-1-img {
        width: calc(748px + 0* ((100vw - 743px) / 360));
        height: calc(530px + 179* ((100vw - 743px) / 360));
    }

    .blog-single-sec-1-text-cont {
        position: absolute;
        top: calc(184px + 80* ((100vw - 743px) / 360));
        left: calc(76px + 171* ((100vw - 743px) / 360));
        right: calc(76px + 191* ((100vw - 743px) / 360));
        bottom: calc(222px + -130* ((100vw - 743px) / 360));
    }

    .blog-single-h3-color-cont {
        gap: 10px;
    }

    .blog-single-sec-1-h3-color-yellow {
        font-size: 40px;
        line-height: 46px;
    }

    .blog-single-sec-1-h3 {
        font-size: 40px;
        line-height: 46px;
    }

    .blog-single-icon-text-cont {
        display: flex;
        gap: 26px;
        margin: calc(29px + 0* ((100vw - 743px) / 260)) calc(46px + 0* ((100vw - 743px) / 360)) 0 calc(165px + 60* ((100vw - 743px) / 369));
    }

    .blog-single-icon-text-cont-1 {
        gap: 5px;
    }

    .blog-single-icon-text {
        font-size: 14px;
    }

    @media (max-width: 599px) {
        .blog-single-sec-1-text-cont-pc {
            display: none;
        }

        .blog-single-sec-1-text-cont-mobile {
            display: inline-block;
        }

        .blog-single-sec-1-img {
            width: calc(748px + 0* ((100vw - 599px) / 360));
            height: calc(570px + 0* ((100vw - 599px) / 360));
        }

        .blog-single-sec-1-text-cont {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .blog-single-icon-text-cont {
            display: flex;
            gap: 26px;
            margin: calc(20px + 0* ((100vw - 599px) / 360)) calc(0px + 0* ((100vw - 599px) / 360)) 0 calc(0px + 0* ((100vw - 599px) / 360));
        }

        .blog-single-sec-1-text-cont {
            position: absolute;
            top: calc(145px + 0* ((100vw - 599px) / 360));
            left: calc(0px + 0* ((100vw - 599px) / 360));
            right: calc(0px + 0* ((100vw - 599px) / 360));
            bottom: calc(126px + 0* ((100vw - 599px) / 360));
        }
    }
}

@media screen and (max-width: 1919px) and (min-width: 744px) {

    @media (max-width: 744px) {
        .blog-single-icons {
            display: none;
        }
    }

    .blog-single-section-2 {
        padding: calc(167px + 106* ((100vw - 1919px) / 744)) calc(300px + 166* ((100vw - 1919px) / 744)) calc(197px + 98* ((100vw - 1919px) / 744)) calc(120px + 57* ((100vw - 1919px) / 744));
    }

    .blog-single-sec-2-h3 {
        margin-left: calc(185px + 76* ((100vw - 1919px) / 744));
        font-size: calc(60px + 19* ((100vw - 1919px) / 744));
    }

    .blog-single-svg-img-cont {
        margin-top: calc(65px + 19* ((100vw - 1919px) / 744));
        gap: calc(146px + 75* ((100vw - 1919px) / 744));
    }

    .blog-single-sec-2-img {
        width: calc(1320px + 448* ((100vw - 1919px) / 744));
    }

    .blog-single-sec-2-p-1 {
        margin: calc(74px + 25* ((100vw - 1919px) / 744)) calc(803px + 358* ((100vw - 1919px) / 744)) 0 calc(185px + 79* ((100vw - 1919px) / 744));
        font-size: calc(40px + 6* ((100vw - 1919px) / 744));
    }

    .blog-single-sec-2-p-2 {
        margin: calc(34px + 0* ((100vw - 1919px) / 744)) 0 0 calc(185px + 76* ((100vw - 1919px) / 744));
        font-size: calc(24px + 5* ((100vw - 1919px) / 744));
    }

    .blog-single-cont-mega-p {
        margin-top: calc(158px + 54* ((100vw - 1919px) / 744));
    }

    .blog-single-sec-2-mega-p {
        margin-left: calc(179px + 74* ((100vw - 1919px) / 744));
        font-size: calc(90px + 37* ((100vw - 1919px) / 744));
    }

    .blog-single-sec-2-img-panel {
        margin-left: calc(185px + 78* ((100vw - 1919px) / 744));
        margin-top: calc(104px + 48* ((100vw - 1919px) / 744));
    }

    .blog-single-sec-2-p-3 {
        margin: calc(88px + 33* ((100vw - 1919px) / 744)) calc(803px + 357* ((100vw - 1919px) / 744)) 0 calc(185px + 79* ((100vw - 1919px) / 744));
        font-size: calc(40px + 6* ((100vw - 1919px) / 744));
    }

    .blog-single-sec-2-p-4 {
        margin: calc(34px + 0* ((100vw - 1919px) / 744)) 0 0 calc(185px + 78* ((100vw - 1919px) / 744));
        font-size: calc(24px + 5* ((100vw - 1919px) / 744));
    }
}

@media screen and (max-width: 743px) and (min-width: 360px) {

    .blog-single-icons {
        display: none;
    }

    .blog-single-section-2 {
        padding: 42px calc(38px + 21* ((100vw - 743px) / 360)) calc(42px + 63* ((100vw - 743px) / 360)) calc(30px + 14* ((100vw - 743px) / 360));
    }

    .blog-single-sec-2-h3 {
        margin-left: 0px;
        font-size: 30px;
        line-height: 31px;
    }

    .blog-single-svg-img-cont {
        margin-top: 35px;
    }

    .blog-single-sec-2-img {
        width: calc(657px + 308* ((100vw - 744px) / 360));
    }

    .blog-single-sec-2-p-1 {
        margin: calc(35px + 0* ((100vw - 744px) / 360)) calc(0px + 0* ((100vw - 744px) / 360)) 0 calc(0px + 0* ((100vw - 744px) / 360));
        font-size: 30px;
        line-height: 33px;
    }

    .blog-single-sec-2-p-2 {
        margin: 35px 0 0 0;
        font-size: 16px;
        line-height: 24px;
    }

    .blog-single-cont-mega-p {
        margin-top: 35px;
    }

    .blog-single-sec-2-mega-p-2 {
        margin-left: 0px;
        font-size: 30px;
        line-height: 33px;
    }

    .blog-single-sec-2-img-panel {
        margin-left: 0px;
        margin-top: 35px;
    }

    .blog-single-sec-2-p-3 {
        margin: 35px calc(0px + 0* ((100vw - 744px) / 360)) 0 calc(0px + 0* ((100vw - 744px) / 360));
        font-size: 30px;
        line-height: 33px;
    }

    .blog-single-sec-2-p-4 {
        margin: 35px 0 0 0;
        font-size: 16px;
    }

    @media (max-width: 480px) {
        .blog-single-sec-2-text-cont-pc {
            display: none;
        }

        .blog-single-sec-2-text-cont-mobile {
            display: block;
        }
    }
}

@media screen and (max-width: 1919px) and (min-width: 744px) {
    .blog-single-section-3 {
        padding: calc(71px + 21* ((100vw - 1919px) / 744)) calc(295px + 159* ((100vw - 1919px) / 744)) calc(127px + -13* ((100vw - 1919px) / 744)) calc(300px + 171* ((100vw - 1919px) / 744));
    }

    .blog-single-sec-3-h3 {
        font-size: calc(60px + 19* ((100vw - 1919px) / 744));
    }

    .blog-single-sec-3-collaj {
        gap: calc(30px + 0* ((100vw - 1919px) / 744));
        margin-top: calc(97px + 42* ((100vw - 1919px) / 744));
    }

    .blog-single-sec-3-img {
        width: calc(643px + 201* ((100vw - 1919px) / 744));
    }

    .blog-single-sec-3-coll-reverse {
        display: flex;
        flex-direction: column-reverse;
    }

    .blog-single-sec-3-p-1 {
        margin-top: calc(40px + 0* ((100vw - 1919px) / 744));
        font-size: calc(16px + 0 * ((100vw - 1919px) / 744));
    }

    .blog-single-sec-3-p-2 {
        margin-top: calc(18px + -5* ((100vw - 1919px) / 744));
        font-size: calc(30px + 6* ((100vw - 1919px) / 744));
    }

    .blog-single-sec-3-yellow {
        margin-top: calc(152px + 56* ((100vw - 1919px) /744));
    }

    .blog-single-text-yellow-p {
        padding: 68px calc(333px + 179* ((100vw - 1919px) / 744)) 0 calc(333px + 179* ((100vw - 1919px) / 744));
        font-size: calc(50px + 0* ((100vw - 1919px) / 744));
    }

    .blog-single-text-yellow-p-2 {
        padding: calc(21px + 0* ((100vw - 1919px) / 744)) calc(395px + 202* ((100vw - 1919px) / 744)) 0 calc(395px + 202* ((100vw - 1919px) / 744));
        font-size: calc(24px + 0* ((100vw - 1919px) / 744));
    }

    .blog-single-inp-btn-cont {
        padding: calc(77px + 0* ((100vw - 1919px) / 744)) calc(333px + 188* ((100vw - 1919px) / 744)) calc(57px + 0* ((100vw - 1919px) / 744)) calc(333px + 188* ((100vw - 1919px) / 744));
    }

    .blog-single-inp-email {
        padding: calc(25px + 0* ((100vw - 1919px) / 744)) calc(297px + 74* ((100vw - 1919px) / 744)) calc(25px + 0* ((100vw - 1919px) / 744)) calc(26px + 0* ((100vw - 1919px) / 744));
    }
}

@media screen and (max-width: 743px) and (min-width: 360px) {
    .blog-single-section-3 {
        padding: calc(38px + -7* ((100vw - 743px) / 360)) calc(43px + 29* ((100vw - 743px) / 360)) calc(150px + 0* ((100vw - 743px) / 360)) calc(30px + 16* ((100vw - 743px) / 360));
    }

    .blog-single-sec-3-h3 {
        font-size: 30px;
        line-height: 33px;
    }

    .blog-single-sec-3-collaj {
        margin-top: 30px;
    }

    .blog-single-sec-3-img {
        width: calc(324px + 173* ((100vw - 743px) / 360));
    }

    .blog-single-sec-3-coll-reverse {
        display: flex;
        flex-direction: column-reverse;
    }

    .blog-single-sec-3-p-1 {
        margin-top: 11px;
        font-size: 16px;
    }

    .blog-single-sec-3-p-2 {
        margin-top: 25px;
        font-size: 20px;
    }

    .blog-single-sec-3-yellow {
        margin-top: calc(78px + 0* ((100vw - 743px) /360));
    }

    .blog-single-text-yellow-p {
        padding: 45px calc(0px + -14* ((100vw - 743px) / 360)) 0 calc(0px + -14* ((100vw - 743px) / 360));
        font-size: calc(50px + 18* ((100vw - 743px) / 360));
    }

    .blog-single-text-yellow-p-2 {
        padding: calc(21px + 0* ((100vw - 743px) / 360)) calc(178px + 130* ((100vw - 743px) / 360)) 0 calc(177px + 136* ((100vw - 743px) / 360));
        font-size: calc(24px + 5* ((100vw - 1919px) / 744));
    }

    .blog-single-inp-btn-cont {
        padding: calc(77px + 52* ((100vw - 743px) / 360)) calc(36px + 21* ((100vw - 743px) / 360)) calc(57px + 32* ((100vw - 743px) / 360)) calc(36px + 18* ((100vw - 743px) / 360));
    }

    .blog-single-inp-email {
        padding: calc(25px + 9* ((100vw - 743px) / 360)) calc(178px + 166* ((100vw - 743px) / 360)) calc(25px + 8* ((100vw - 743px) / 360)) calc(26px + 10* ((100vw - 743px) / 360));
        width: calc(430px + 236* ((100vw - 743px) / 360));
        font-size: 16px;
    }

    .blog-single-inp-email::placeholder {
        font-size: calc(18px + 4* ((100vw - 743px) / 360));
    }

    .blog-single-sec-3-btn {
        padding: calc(25px + 9* ((100vw - 743px) / 360)) calc(52px + 19* ((100vw - 743px) / 360));
    }

    @media (max-width: 579px) {
        .blog-single-sec-3-collaj {
            margin-top: 30px;
            flex-direction: column;
        }

        .blog-single-sec-3-coll-1 {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .blog-single-sec-3-coll-2 {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .blog-single-sec-3-img {
            width: 324px;
        }
    }
}
