.career-text-hidden {
    overflow: hidden;
}

.career-section-1 {
    width: 100%;
    max-width: 1920px;
    padding: 192px 300px 126px 106px;
}

.career-sec-1-h3 {
    margin: 0 0 0 195px;
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #001833;
    transform: translateY(90px);
}

.career-sec-1-texts-cont {
    display: flex;
    gap: 178px;
    margin: 64px 0 147px 195px;
}

.career-text-cont-p {
    margin-bottom: 26px;
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #001833;
}

.career-svg-text-cont {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.career-horizontal {
    display: flex;
    align-items: center;
    gap: 15px;
}

.career-svg-text {
    font-family: 'Space Grotesk-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #001833;
}

.career-back-btn {
    border: 1.33125px solid #E6E6E6;
    border-radius: 1329.92px;
    padding: 11px 32px 11px 11px;
    margin-bottom: 73px;
    background: none;
    cursor: pointer;
}

.career-back-btn:hover {
    background: #1931AF;
    transition: .3s linear;
}

.career-back-btn:hover .career-btn-text {
    transition: .3s linear;
    color: white;
}

.career-back-btn:hover #stroke-svg {
    stroke: white;
    transition: .3s linear;
}

.career-back-btn:hover #fill-svg {
    fill: #1931AF;
}

.career-el-btn {
    display: flex;
    align-items: center;
}

.career-btn-text {
    margin-left: 11px;
    font-family: 'Space Grotesk-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 21.3px;
    line-height: 32px;
    color: #333333;
}

.career-back-a {
    text-decoration: none;
}

.career-info-cont {
    margin-left: 195px;
}

.career-info-p {
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 64px;
    letter-spacing: -0.02em;
    color: #000000;
    transform: translateY(90px);
}

.career-inputs-cont {
    margin-top: 64px;
}

.career-inp-cont {
    width: 873px;
    margin-top: 39px;
    border-bottom: 2px solid #676767;
}

.career-inp-text {
    padding-bottom: 13px;
    width: 100%;
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 53.25px;
    line-height: 64px;
    letter-spacing: -0.02em;
    color: black;
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

.career-inp-text::placeholder {
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 53.25px;
    line-height: 64px;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.3);
}

.career-inp-file {
    margin: 67px 691px 0 0;
    position: relative;
}

.career-file {
    opacity: 0;
    z-index: 1;
    position: relative;
    padding: 22px;
    cursor: pointer;
}

.career-file-new {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 0px;
}

.career-file-text {
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 64px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #000000;
}

.career-btn {
    margin-top: 41px;
    padding: 25px 64px;
    display: flex;
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 132%;
    color: #FFFFFF;
    background: #18191E;
    cursor: pointer;
    border: none;
    outline: none;
}

.career-btn-svg {
    margin-left: 10px;
}

.career-btn:hover {
    background: #1931AF;
    color: #000000;
    transition: .3s linear;
}

.career-btn:hover #btn-svg {
    stroke: #000000;
    transition: .3s linear;
}

.career-sec-6-info {
    margin: 117px 0 0 194px;
}

.career-info-text {
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 64px;
    letter-spacing: -0.02em;
    color: #000000;
    transform: translateY(90px);
}

.career-info-group {
    display: flex;
    gap: 62px;
    margin-top: 68px;
}

.career-info-group-top {
    margin-top: 50px;
}

.career-info-1 {
    border-bottom: 1.57143px solid #B3B3B3;
}

.career-sec-6-text-1-cont {
    margin: 0 553px 22px 0;
    padding: 6px 12px;
    background: rgba(255, 243, 83, 0.37);
    border: 1px solid #1A1B1F;
    border-radius: 6.28571px;
}

.career-sec-6-text-1 {
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #18191E;
}

.career-sec-6-text-2 {
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 50px;
    letter-spacing: -0.01em;
    color: #000000;
}

.career-text-circle-cont {
    display: flex;
}

.career-sec-6-text-3 {
    font-family: 'Space Grotesk-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 38px;
    color: #333333;
}

.career-svg-circle {
    margin: 19px 12px;
}

.career-sec-6-click {
    margin-top: 37px;
    margin-bottom: 37px;
    display: flex;
    text-decoration: none;
}

.career-click-text {
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 38px;
    color: #333333;
}

.career-sec-6-icon {
    margin: 7px 0 7px 5px;
}

// responsive

@media screen and (max-width: 1919px) and (min-width: 744px) {

    .career-section-1 {
        padding: calc(192px + -5* ((100vw - 1919px) / 744)) calc(300px + 169* ((100vw - 1919px) / 744)) calc(126px + -16* ((100vw - 1919px) / 744)) calc(106px + 48* ((100vw - 1919px) / 744));
    }

    .career-back-btn {
        padding: calc(11px + 0* ((100vw - 1919px) / 744)) calc(32px + 0* ((100vw - 1919px) / 744)) calc(11px + 0* ((100vw - 1919px) / 744)) calc(11px + 0* ((100vw - 1919px) / 744));
    }

    .career-btn-text {
        margin-left: calc(11px + 0* ((100vw - 1919px) / 744));
    }

    .career-sec-1-h3 {
        margin: 0 0 0 calc(195px + 124* ((100vw - 1919px) / 744));
    }

    .career-sec-1-texts-cont {
        display: flex;
        gap: calc(178px + 113* ((100vw - 1919px) / 744));
        margin: calc(64px + 0* ((100vw - 1919px) / 744)) 0 calc(147px + 24* ((100vw - 1919px) / 744)) calc(195px + 124* ((100vw - 1919px) / 744));
    }

    @media (max-width: 744px) {
        .career-back-btn {
            display: none;
        }

        .career-sec-1-texts-cont {
            display: flex;
            flex-direction: column;
            gap: 60px;
            margin: calc(64px + -4* ((100vw - 1919px) / 744)) 0 calc(147px + 0* ((100vw - 1919px) / 744)) calc(195px + 124* ((100vw - 1919px) / 744));
        }
    }

    .career-info-cont {
        margin-left: calc(195px + 124* ((100vw - 1919px) / 744));
    }

    .career-inputs-cont {
        margin-top: calc(64px + 60* ((100vw - 1919px) / 744));
    }

    .career-inp-cont {
        width: calc(873px + 121* ((100vw - 1919px) / 744));
        margin-top: calc(39px + 0* ((100vw - 1919px) / 744));
    }

    .career-inp-text {
        font-size: calc(53px + 10* ((100vw - 1919px) / 744));
    }

    .career-inp-text::placeholder {
        font-size: calc(53px + 15* ((100vw - 1919px) / 744));
    }

    .career-inp-file {
        margin: calc(67px + 18* ((100vw - 1919px) / 744)) calc(691px + 217* ((100vw - 1919px) / 744)) 0 0;
    }

    .career-btn {
        margin: calc(41px + 0* ((100vw - 1919px) / 744)) calc(0px + 0* ((100vw - 1919px) / 744)) 0 calc(0px + -87* ((100vw - 1919px) / 744));
        padding: calc(25px + 0* ((100vw - 1919px) / 744)) calc(64px + -59* ((100vw - 1919px) / 744));
    }

    .career-sec-6-info {
        margin: calc(117px + -15* ((100vw - 1919px) / 744)) 0 0 calc(194px + 123* ((100vw - 1919px) / 744));
    }

    .career-info-group {
        gap: calc(62px + 0* ((100vw - 1919px) / 744));
        margin-top: calc(68px + 0* ((100vw - 1919px) / 744));
    }

    .career-sec-6-text-1-cont {
        margin: 0 calc(553px + 202* ((100vw - 1919px) / 744)) calc(22px + 0* ((100vw - 1919px) / 744)) 0;
    }

    .career-sec-6-click {
        margin-top: calc(37px + 0* ((100vw - 1919px) / 744));
    }
}

@media screen and (max-width: 744px) and (min-width: 360px) {

    .career-back-btn {
        display: none;
    }

    .career-section-1 {
        padding: calc(199px + 0* ((100vw - 743px) / 360)) calc(33px + 12* ((100vw - 743px) / 360)) calc(151px + 21* ((100vw - 743px) / 360)) calc(30px + 9* ((100vw - 743px) / 360));
    }

    .career-sec-1-h3 {
        margin: 0;
    }

    .career-sec-1-texts-cont {
        display: flex;
        flex-direction: column;
        gap: 60px;
        margin: 60px 0 calc(123px + 70* ((100vw - 743px) / 360)) 0px;
    }

    .career-info-p {
        font-size: calc(40px + 11* ((100vw - 743px) / 360));
        letter-spacing: -0.08em;
    }

    .career-info-cont {
        margin-left: 0;
    }

    .career-inputs-cont {
        margin-top: -21px;
    }

    .career-inp-cont {
        width: calc(678px + 338* ((100vw - 743px) / 360));
    }

    .career-inp-text {
        font-size: 30px;
    }

    .career-inp-text::placeholder {
        font-size: 30px;
    }

    .career-inp-file {
        margin: 36px 0 0 0;
    }

    .career-btn {
        margin: 41px 0 0 calc(137px + 125* ((100vw - 743px) / 360));
        padding: 25px calc(157px + 46* ((100vw - 743px) / 360));
    }

    .career-info-text {
        letter-spacing: -0.08em;
    }

    .career-sec-6-info {
        margin: calc(141px + 67* ((100vw - 743px) / 360)) 0 0 0px;
    }

    .career-info-group {
        margin-top: 42px;
        flex-direction: column;
    }

    .career-sec-6-text-1-cont {
        margin: 0 calc(605px + 340* ((100vw - 743px) / 360)) 22px 0;
    }
}
