.examples-text-hidden {
    overflow: hidden;
}

.examples-section-1 {
    width: 100%;
    max-width: 1920px;
    padding: 365px 300px 188px 300px;
}

.examples-sec-1-h3 {
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 116.5%;
    text-transform: uppercase;
    color: #18191E;
    transform: translateY(90px);
}

.examples-category-cont {
    margin-top: 180px;
    margin-bottom: 73px;
    display: flex;
    gap: 31px;
}

.examples-swiper-container {
    display: none;
}

.examples-category-p {
    position: relative;
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 132%;
    color: #18191E;
    cursor: pointer;
}

.examples-category-p::after {
    content: "";
    width: 100%;
    display: block;
    border-bottom: 1.5px solid #000000;
    margin-bottom: 7px;
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    transition: opacity .2s linear;
}

.examples-category-p:hover::after {
    opacity: 1;
    transition: opacity .2s linear;
}

.examples-blog-cont {
    display: flex;
    gap: 30px;
    margin-top: 60px;
}

.examples-blog-cont-top {
    margin-top: 72px;
}

.examples-blog-info-p-1 {
    margin-top: 40px;
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    color: #18191E;
}

.examples-blog-info-p-2 {
    margin-top: 18px;
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 132%;
    color: #18191E;
}

.examples-sec-1-btn {
    background: #18191E;
    border: none;
    outline: none;
    padding: 20px 57px;
    margin: 114px 556px 0 551px;
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    cursor: pointer;
}

.examples-sec-1-btn:hover {
    background-color: #1931AF;
    color: #000000;
    transition: .3s linear;
}

.examples-blog-a {
    text-decoration: none;
}

.examples-sec-1-text-mobile {
    display: none;
}

#off-items-bucket {
    display: none;
}

// responsive


@media screen and (max-width: 1919px) and (min-width: 744px) {
    .examples-section-1 {
        padding: calc(365px + 141* ((100vw - 1919px) / 744)) calc(300px + 171* ((100vw - 1919px) / 744)) calc(188px + 75* ((100vw - 1919px) / 744)) calc(300px + 171* ((100vw - 1919px) / 744));
    }

    .examples-sec-1-h3 {
        font-size: calc(90px + 32* ((100vw - 1919px) / 744));
    }

    .examples-category-cont {
        margin-top: calc(180px + 80* ((100vw - 1919px) / 744));
        margin-bottom: calc(73px + -1* ((100vw - 1919px) / 74));
        gap: calc(31px + 0* ((100vw - 1919px) / 744));
    }

    .examples-category-p {
        font-size: calc(24px + 3* ((100vw - 1919px) / 744));
    }

    .examples-sec-1-img {
        width: calc(643px + 201* ((100vw - 1919px) / 744));
    }

    .examples-blog-info-p-1 {
        margin-top: calc(40px + 10* ((100vw - 1919px) / 744));
        font-size: calc(16px + 3* ((100vw - 1919px) / 744));
    }

    .examples-blog-info-p-2 {
        margin-top: calc(18px + 5* ((100vw - 1919px) / 744));
        font-size: calc(30px + 6* ((100vw - 1919px) / 744));
    }

    .examples-sec-1-btn {
        padding: calc(20px + 0* ((100vw - 1919px) / 744)) calc(57px + -63* ((100vw - 1919px)/ 744));
        margin: calc(114px + 15* ((100vw - 1919px) / 744)) calc(556px + 266* ((100vw - 1919px) / 744)) 0 calc(551px + 266* ((100vw - 1919px) / 744));
    }

    @media (max-width: 1050px) {
        .examples-category-cont {
            display: none;
        }

        .examples-swiper-container {
            display: flex;
            margin: 59PX 0 73px 0px;
            cursor: grab;
        }

        .examples-swiper-container:active {
            cursor: grabbing;
        }


        .examples-swiper-wrapper {
            display: flex;
        }

        .examples-category-width {
            width: 50px;
        }

        .examples-category-width-2 {
            width: 300px;
        }
    }
}

@media screen and (max-width: 744px) and (min-width: 360px) {

    .examples-category-cont {
        display: none;
    }

    .examples-swiper-container {
        display: flex;
        margin: 59px 0 73px 0px;
        cursor: grab;
    }

    .examples-swiper-container:active {
        cursor: grabbing;
    }


    .examples-swiper-wrapper {
        display: flex;
    }

    .examples-category-width {
        width: 50px;
    }

    .examples-category-width-2 {
        width: 300px;
    }


    .examples-section-1 {
        padding: calc(142px + 20* ((100vw - 744px) / 360)) calc(30px + 13* ((100vw - 744px) / 360)) calc(70px + -48* ((100vw - 744px) / 360)) calc(30px + 9* ((100vw - 744px) / 360));
    }

    .examples-sec-1-h3 {
        font-size: 40px;
        line-height: 46px;
    }

    .examples-category-cont {
        margin-top: 54px;
        margin-bottom: 89px;
    }

    .examples-category-p {
        font-size: 20px;
    }

    .examples-sec-1-img {
        width: calc(324px + 163* ((100vw - 744px) / 360));
    }

    .examples-blog-info-p-1 {
        margin-top: 25px;
        font-size: 10px;
    }

    .examples-blog-info-p-2 {
        margin-top: 11px;
        font-size: 20px;
    }

    .examples-sec-1-btn {
        padding: 20px calc(157px + 94* ((100vw - 744px) / 360));
        margin: calc(90px + 33* ((100vw - 744px) / 360)) calc(136px + 78* ((100vw - 744px) / 360)) 0 calc(136px + 78* ((100vw - 744px) / 360));
    }

    @media (max-width: 610px) {
        .examples-sec-1-text-cont {
            display: none;
        }

        .examples-sec-1-text-mobile {
            display: block;
        }
    }

    @media (max-width: 600px) {
        .examples-blog-cont {
            flex-direction: column;
        }

        .examples-blog-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .examples-sec-1-img {
            width: 324px;
        }
    }
}
