.get-in-touch-text-hidden {
    overflow: hidden;
}

.get-in-touch-section-1 {
    width: 100%;
    max-width: 1920px;
    background: #F0F0F0;
    display: flex;
}

.get-in-touch-text-map {
    margin: 192px 108px 96px 101px;
}

.get-in-touch-text-h3 {
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 116.5%;
    text-transform: uppercase;
    color: #18191E;
    transform: translateY(90px);
}

.get-in-touch-text-p {
    margin: 16px 9px 0 16px;
    font-family: 'Space Grotesk-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 138.5%;
    text-transform: uppercase;
    color: #18191E;
}

.get-in-touch-map {
    margin-left: 20px;
    margin-top: 53px;
}

.get-in-touch-map-tablet {
    display: none;
}

.get-in-touch-info-cont {
    margin: 171px 137px 89px 0;
}

.get-in-touch-info-p {
    margin-bottom: 64px;
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 64px;
    letter-spacing: -0.02em;
    color: #000000;
}

.get-in-touch-inp-cont {
    width: 873px;
    margin-top: 39px;
    border-bottom: 2px solid #676767;
;
}

.get-in-touch-inp-text {
    padding-bottom: 13px;
    width: 100%;
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 53.25px;
    line-height: 64px;
    letter-spacing: -0.02em;
    color: black;
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

.get-in-touch-inp-text::placeholder {
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 53.25px;
    line-height: 64px;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.3);
}

.get-in-touch-inp-top {
    margin-top: 71px;
}

.get-in-touch-btn {
    margin-top: 44px;
    padding: 25px 64px;
    display: flex;
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 132%;
    color: #FFFFFF;
    background: #18191E;
    cursor: pointer;
    border: none;
    outline: none;
}

.get-in-touch-btn-svg {
    margin-left: 10px;
}

.get-in-touch-btn:hover {
    background: #1931AF;
    color: #000000;
    transition: .3s linear;
}

.get-in-touch-btn:hover #btn-svg {
    stroke: #000000;
    transition: .3s linear;
}

// responsive

@media screen and (max-width: 1919px) and (min-width: 744px) {
    .get-in-touch-text-h3 {
        font-size: calc(90px + 32* ((100vw - 1919px) / 744));
    }

    .get-in-touch-text-p {
        margin: calc(16px + 18* ((100vw - 1919px) / 744)) calc(9px + -53* ((100vw - 1919px) / 744)) 0 calc(16px + 17* ((100vw - 1919px) / 744));
        font-size: calc(20px + 2* ((100vw - 1919px) / 744));
    }

    .get-in-touch-info-p {
        margin-bottom: calc(64px + 0* ((100vw - 1919px) / 744));
        font-size: calc(40px + 6* ((100vw - 1919px) / 744));
    }

    .get-in-touch-inp-text {
        padding-bottom: 0px;
        font-size: calc(53px + 20* ((100vw - 1919px) / 744));
    }

    .get-in-touch-inp-text::placeholder {
        font-size: calc(53px + 20* ((100vw - 1919px) / 744));
    }

    .get-in-touch-text-map {
        margin: calc(192px + 20* ((100vw - 1919px) / 744)) calc(108px + 0* ((100vw - 1919px) / 744)) calc(96px + 0* ((100vw - 1919px) / 744)) calc(101px + 68* ((100vw - 1919px) / 744));
    }

    .get-in-touch-info-cont {
        margin: calc(171px + 0* ((100vw - 1919px)/ 744)) calc(137px + 115* ((100vw - 1919px) / 744)) calc(89px + 0* ((100vw - 1919px) / 744)) 0;
    }

    .get-in-touch-map {
        margin-left: calc(20px + 22* ((100vw - 1919px) / 744));
        margin-top: calc(53px + 0* ((100vw - 1919px) / 744));
        margin-right: calc(0px + -88* ((100vw - 1919px) / 744));
    }

    .get-in-touch-inp-cont {
        width: calc(873px + 330* ((100vw - 1919px) / 744));
        margin-top: 39px;
        border-bottom: 2px solid #676767;
    }

    @media (max-width: 1239px) {
        .get-in-touch-section-1 {
            display: inline-block;
        }

        .get-in-touch-map {
            display: none;
        }

        .get-in-touch-map-tablet {
            display: block;
            margin: 0 32px 43px 32px;
        }

        .get-in-touch-info-cont {
            margin: calc(0px + 0* ((100vw - 1919px)/ 744)) calc(71px + 0* ((100vw - 1919px) / 744)) calc(99px + 0* ((100vw - 1919px) / 744)) calc(30px + 0* ((100vw - 1919px) / 744));
        }

        .get-in-touch-text-map {
            margin: calc(192px + 36* ((100vw - 1919px) / 744)) calc(0px + 0* ((100vw - 1919px) / 744)) calc(26px + 0* ((100vw - 1919px) / 744)) calc(30px + 0* ((100vw - 1919px) / 744));
        }

        .get-in-touch-info-p {
            margin-bottom: calc(26px + 0* ((100vw - 1919px) / 744));
            font-size: calc(40px + 6* ((100vw - 1919px) / 744));
        }

        .get-in-touch-inp-cont {
            width: 100%;
            margin-top: 39px;
            border-bottom: 2px solid #676767;
        }

        .get-in-touch-btn {
            margin: 44px auto;
            padding: 25px 157px;
        }

        .get-in-touch-text-p {
            margin: calc(16px + 3* ((100vw - 1919px) / 744)) calc(9px + -36* ((100vw - 1919px) / 744)) 0 calc(0px + 0* ((100vw - 1919px) / 744));
        }
    }
}

@media screen and (max-width: 744px) and (min-width: 360px) {
    .get-in-touch-section-1 {
        display: inline-block;
    }

    .get-in-touch-map {
        display: none;
    }

    .get-in-touch-map-tablet {
        margin: 0px 32px 43px 32px;
        display: inline-block;
    }

    .get-in-touch-text-h3 {
        font-size: 40px;
        line-height: 46px;
    }

    .get-in-touch-text-p {
        font-size: 16px;
        line-height: 22px;
        margin: 16px 0px 0px 0px;
    }

    .get-in-touch-info-cont {
        margin: 0px calc(65px + 49* ((100vw - 744px) / 369)) calc(99px + 59* ((100vw - 744px) / 360)) calc(25px + 9* ((100vw - 744px) / 360));
    }

    .get-in-touch-inp-cont {
        width: 100%;
    }

    .get-in-touch-inp-top {
        margin-top: 39px;
    }

    .get-in-touch-info-p {
        font-size: 30px;
        line-height: 63px;
        margin-bottom: calc(64px + 35* ((100vw - 744px) / 360));
        letter-spacing: -0.07em;
    }

    .get-in-touch-inp-text {
        padding-bottom: 0px;
        font-size: 30px;
        line-height: 36px;
    }

    .get-in-touch-inp-text::placeholder {
        font-size: 30px;
        line-height: 36px;
    }

    .get-in-touch-btn {
        margin: 44px auto;
        padding: 25px calc(157px + 44* ((100vw - 744px) / 360));
    }

    .get-in-touch-text-map {
        margin: 122px calc(91px + 64* ((100vw - 744px) / 360)) calc(36px + 18* ((100vw - 744px) / 360)) calc(30px + 9* ((100vw - 744px) / 360));
    }
}
