.examples-single-text-hidden {
    overflow: hidden;
}

.section-1 {
    width: 100%;
    max-width: 1920px;
    position: relative;
}

.sec-1-img-cont {
    height: 1027px;
}

.sec-1-h3 {
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 116.5%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    transform: translateY(90px);
}

.sec-1-text-cont {
    position: absolute;
    top: 439px;
    left: 610px;
}

.section-2 {
    width: 100%;
    max-width: 1920px;
    display: flex;
}

.yellow-sec {
    background: #FFF353;
    padding: 81px 197px 81px 303px;
}

.sec-2-h3 {
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: #18191E;
    transform: translateY(90px)
}

.blue-text-cont {
    display: flex;
    gap: 6px;
}

.sec-2-p {
    margin-top: 27px;
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 60px;
    text-transform: uppercase;
    color: #18191E;
}

.texts {
    margin-top: 27px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.blue-text {
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: #1931AF;
}

.min-text {
    font-family: 'Space Grotesk-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 60px;
    color: #18191E;
}

.min-text-cont {
    margin-top: 54px;
}

.text-blue-cont {
    display: flex;
}

.text-1 {
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #18191E;
}

.text-blue {
    color: #1931AF;
}

.map {
    width: 830px;
    height: 904px;
}

.section-3 {
    width: 100%;
    max-width: 1920px;
    padding: 152px 300px 160px 300px;
}

.blog-cont {
    display: flex;
    gap: 30px;
    margin-top: 54px;
}

.blog-cont-top {
    margin-top: 72px;
}

.blog-info-p-1 {
    margin-top: 40px;
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    color: #18191E;
}

.blog-info-p-2 {
    margin-top: 18px;
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 132%;
    color: #18191E;
}

.sec-1-btn {
    background: #18191E;
    border: none;
    outline: none;
    padding: 20px 57px;
    margin: 114px 556px 0 551px;
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    cursor: pointer;
}

.sec-1-btn:hover {
    background-color: #1931AF;
    color: #000000;
    transition: .3s linear;
}

.blog-a {
    text-decoration: none;
}

.sec-3-h3 {
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 116.5%;
    color: #18191E;
    transform: translateY(90px)
}

#off-items-bucket {
    display: none;
}
