* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ScrollSmoother-wrapper {
    display: none;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 40px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.gsap-marker-end,
.gsap-marker-start,
.gsap-marker-scroller-end,
.gsap-marker-scroller-start {
    display: none;
    opacity: 0;
}
