<template>
    <section class="home_page_section_9">
        <div class="home_page_sec_9_text_cont">
            <div class="home_page_sec_9_h4_cont">
                <div class="home_page_text_hidden">
                    <h4 class="home_page_sec_h4">Your estimated</h4>
                </div>
                <div class="home_page_text_hidden">
                    <h4 class="home_page_sec_h4">saving with solar</h4>
                </div>
            </div>
            <div class="home_page_coll_info">
                <div class="home_page_div_digit_text">
                    <p class="home_page_digit">$135,931</p>
                    <p class="home_page_digit_text">over 25 years</p>
                </div>
                <div class="home_page_in_element">
                    <div class="home_page_info_digits_texts">
                        <p class="home_page_info_p_1">Per kWh</p>
                        <div class="home_page_div_info_p_2">
                            <div class="home_page_dolar_1">
                                <p class="home_page_dolar_p_1">Per-solar</p>
                                <p class="home_page_dolar_p_2">$0.37</p>
                            </div>
                            <div class="home_page_dolar_1">
                                <p class="home_page_dolar_p_1">Post-solar</p>
                                <p class="home_page_dolar_p_2">$0.07</p>
                            </div>
                        </div>
                    </div>
                    <div class="home_page_sec_9_text_end">
                        <div class="home_page_end_1">
                            <div class="home_page_end_icon">
                                <svg width="29" height="29" viewBox="0 0 29 29" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="14.5" cy="14.5" r="14.5" fill="white"/>
                                    <g clip-path="url(#clip0_937_1512)">
                                        <path d="M14.5 6.52441V22.4744" stroke="#18191E" stroke-width="2"
                                              stroke-linecap="round" stroke-linejoin="round"/>
                                        <path
                                            d="M18.1244 9.4248H12.6869C12.0139 9.4248 11.3685 9.69215 10.8926 10.168C10.4168 10.6439 10.1494 11.2893 10.1494 11.9623C10.1494 12.6353 10.4168 13.2807 10.8926 13.7566C11.3685 14.2325 12.0139 14.4998 12.6869 14.4998H16.3119C16.9849 14.4998 17.6303 14.7671 18.1062 15.243C18.5821 15.7189 18.8494 16.3643 18.8494 17.0373C18.8494 17.7103 18.5821 18.3557 18.1062 18.8316C17.6303 19.3075 16.9849 19.5748 16.3119 19.5748H10.1494"
                                            stroke="#18191E" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round"/>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_937_1512">
                                            <rect width="17.4" height="17.4" fill="white"
                                                  transform="translate(5.7998 5.7998)"/>
                                        </clipPath>
                                    </defs>
                                </svg>
                            </div>
                            <p class="home_page_end_p_1">Year {{currentYear}} Annual Savings</p>
                            <p class="home_page_end_p_2">$ {{ yearSaving }}</p>
                        </div>
                        <div class="home_page_end_2">
                            <div class="home_page_end_icon">
                                <svg width="29" height="29" viewBox="0 0 29 29" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="14.5" cy="14.5" r="14.5" fill="white"/>
                                    <path d="M14.5078 20.3011L14.5078 13" stroke="#18191E" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M14.5078 9.42578H14.4987" stroke="#18191E" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                            <p class="home_page_end_p_1">Payback period</p>
                            <p class="home_page_end_p_2">Year 5</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="home_page_sec_9_2group">
            <apexchart
                type="bar"
                :options="chartOptions()"
                :series="series"
            />
        </div>

    </section>
</template>

<script>
export default {
    name: "home-page-chart",
    props: ['propPerSolar', 'propPostSolar', 'propYears'],
    data: () => ({
        currentYear: 1,
        series: [
            {
                name: 'Per-solar',
                data: []
            },
            {
                name: 'Post-solar',
                data: []
            }
        ],
        xaxisCategories: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25],
    }),
    mounted() {
        this.series[0].data = this.propPerSolar
        this.series[1].data = this.propPostSolar
        this.xaxisCategories = this.propYears
        this.currentYear = this.series[0].data.length;
    },
    computed: {
        currentPerSolar() {
          return this.series[0].data[this.currentYear - 1]
        },
        currentPostSolar() {
          return this.series[1].data[this.currentYear - 1]
        },
        saving() {
            return parseInt(this.currentPerSolar) - parseInt(this.currentPostSolar)
        },
        yearSaving() {
            return this.saving * 12
        }
    },
    methods: {
        chartOptions() {
            return {
                chart: {
                    id: 'barchart',
                    toolbar: {
                        show: false
                    },
                    events: {
                        mouseMove: (event, chartContext, config) => {
                            const idx = config.dataPointIndex
                            if (idx > -1) {
                                this.currentYear = idx + 1
                            }
                        }
                    }
                },
                xaxis: {
                    categories: this.xaxisCategories,
                    axisTicks: {
                        show: false
                    }
                },
                tooltip: {
                    custom: () => {
                        return '<div class="apexcharts-custom-tooltip">' +
                            '<p> Year ' + this.currentYear + '</p>' +
                            '<div class="tooltip-row"> <div class="tooltip-flex">\n' +
                            '                    <div class="circle per-circle"></div>\n' +
                            '                    <span>Per-solar</span>\n' +
                            '                </div> <span> $' + this.currentPerSolar + '</span>' +
                            '</div>' +
                            '<div class="tooltip-row underline"> <div class="tooltip-flex">\n' +
                            '                    <div class="circle post-circle"></div>\n' +
                            '                    <span>Post-solar</span>\n' +
                            '                </div> <span> $' + this.currentPostSolar + '</span>' +
                            '</div>' +
                            '<div class="tooltip-row"> <div class="tooltip-flex">\n' +
                            '                    <span>Savings</span>\n' +
                            '                </div> <span> $' + this.saving + '</span>' +
                            '</div>' +
                            '</div>'
                    }
                },
                colors: ['#3E414E', '#6e7280'],
                grid: {
                    show: false,
                },
                dataLabels: {
                    enabled: false,
                },
                plotOptions: {
                    bar: {
                        borderRadius: 5,
                        borderRadiusApplication: 'around',
                    }
                }
            }
        }
    }
}
</script>

<style>
.apexcharts-custom-tooltip {
    background: #ffffff;
    width: 200px;
    border-radius: 4px;
}
.tooltip-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}
.tooltip-flex {
    display: flex;
    align-items: center;
}
.circle {
    height: 8px;
    width: 8px;
    margin-right: 8px;
}
.per-circle {
    background: #3E414E;
}
.post-circle {
    background: #6e7280;
}
.underline {
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(112, 118, 129);
}

</style>
