<template>
    <div>
        <div class="sec_11_text_cont">
            <div class="text_hidden">
                <h4 class="sec_11_h4">What Our Clients Say</h4>
            </div>
            <div class="text_hidden">
                <h4 class="sec_11_h4">About Our Work</h4>
            </div>
        </div>
        <div class="items-wrapper">
            <div id="on-items-bucket"></div>
            <div id="off-items-bucket">
                <div class="sec_11_vide_cont item">
                    <div class="video_text_cont">
                        <div class="video_text_cont_1">
                            <div class="single-portfolio">
                                <svg class="cursor" width="114" height="114" viewBox="0 0 114 114" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="57" cy="57" r="57" fill="#FFFDFD" fill-opacity="0.55" />
                                    <path d="M73 55.5L49.75 68.0574L49.75 42.9426L73 55.5Z" fill="#402B2B" />
                                </svg>
                                <img class="video" src="images/static/Rectangle 13.png" alt="">
                                <div class="full">
                                    <div class="center">
                                        <div class="close">
                                            <svg class="close-color" height="80px" fill="blue" version="1.1"
                                                 viewBox="0 0 512 512" width="80px" xml:space="preserve"
                                                 xmlns="http://www.w3.org/2000/svg"
                                                 xmlns:xlink="http://www.w3.org/1999/xlink">
                                                        <path
                                                            d="M443.6,387.1L312.4,255.4l131.5-130c5.4-5.4,5.4-14.2,0-19.6l-37.4-37.6c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4  L256,197.8L124.9,68.3c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4L68,105.9c-5.4,5.4-5.4,14.2,0,19.6l131.5,130L68.4,387.1  c-2.6,2.6-4.1,6.1-4.1,9.8c0,3.7,1.4,7.2,4.1,9.8l37.4,37.6c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1L256,313.1l130.7,131.1  c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1l37.4-37.6c2.6-2.6,4.1-6.1,4.1-9.8C447.7,393.2,446.2,389.7,443.6,387.1z" />
                                                    </svg>
                                        </div>
                                        <iframe width="1268" height="713"
                                                src="https://www.youtube.com/embed/FkqJ-EnKUxM?list=PLOQDek48BpZFzxKS-2sLAeSBB83x-xILB"
                                                title="Урок GSAP 3.6 - Начало работы - Эпизод 1" frameborder="0"
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                                allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                            <div class="sec_11_p_1">Dave Goldblatt</div>
                            <div class="sec_11_p_2">CEO of Wavecut</div>
                        </div>
                        <div class="video_text_cont_1">
                            <div class="single-portfolio">
                                <svg class="cursor" width="114" height="114" viewBox="0 0 114 114" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="57" cy="57" r="57" fill="#FFFDFD" fill-opacity="0.55" />
                                    <path d="M73 55.5L49.75 68.0574L49.75 42.9426L73 55.5Z" fill="#402B2B" />
                                </svg>
                                <img class="video" src="images/static/Rectangle 12.png" alt="">
                                <div class="full">
                                    <div class="center">
                                        <div class="close">
                                            <svg class="close-color" height="80px" fill="blue" version="1.1"
                                                 viewBox="0 0 512 512" width="80px" xml:space="preserve"
                                                 xmlns="http://www.w3.org/2000/svg"
                                                 xmlns:xlink="http://www.w3.org/1999/xlink">
                                                        <path
                                                            d="M443.6,387.1L312.4,255.4l131.5-130c5.4-5.4,5.4-14.2,0-19.6l-37.4-37.6c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4  L256,197.8L124.9,68.3c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4L68,105.9c-5.4,5.4-5.4,14.2,0,19.6l131.5,130L68.4,387.1  c-2.6,2.6-4.1,6.1-4.1,9.8c0,3.7,1.4,7.2,4.1,9.8l37.4,37.6c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1L256,313.1l130.7,131.1  c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1l37.4-37.6c2.6-2.6,4.1-6.1,4.1-9.8C447.7,393.2,446.2,389.7,443.6,387.1z" />
                                                    </svg>
                                        </div>
                                        <iframe width="1268" height="713"
                                                src="https://www.youtube.com/embed/FkqJ-EnKUxM?list=PLOQDek48BpZFzxKS-2sLAeSBB83x-xILB"
                                                title="Урок GSAP 3.6 - Начало работы - Эпизод 1" frameborder="0"
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                                allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                            <div class="sec_11_p_1">Dave Goldblatt</div>
                            <div class="sec_11_p_2">CEO of Wavecut</div>
                        </div>
                    </div>
                </div>
                <div class="sec_11_vide_cont item">
                    <div class="video_text_cont">
                        <div class="video_text_cont_1">
                            <div class="single-portfolio">
                                <svg class="cursor" width="114" height="114" viewBox="0 0 114 114" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="57" cy="57" r="57" fill="#FFFDFD" fill-opacity="0.55" />
                                    <path d="M73 55.5L49.75 68.0574L49.75 42.9426L73 55.5Z" fill="#402B2B" />
                                </svg>
                                <img class="video" src="images/static/Rectangle 13.png" alt="">
                                <div class="full">
                                    <div class="center">
                                        <div class="close">
                                            <svg class="close-color" height="80px" fill="blue" version="1.1"
                                                 viewBox="0 0 512 512" width="80px" xml:space="preserve"
                                                 xmlns="http://www.w3.org/2000/svg"
                                                 xmlns:xlink="http://www.w3.org/1999/xlink">
                                                        <path
                                                            d="M443.6,387.1L312.4,255.4l131.5-130c5.4-5.4,5.4-14.2,0-19.6l-37.4-37.6c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4  L256,197.8L124.9,68.3c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4L68,105.9c-5.4,5.4-5.4,14.2,0,19.6l131.5,130L68.4,387.1  c-2.6,2.6-4.1,6.1-4.1,9.8c0,3.7,1.4,7.2,4.1,9.8l37.4,37.6c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1L256,313.1l130.7,131.1  c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1l37.4-37.6c2.6-2.6,4.1-6.1,4.1-9.8C447.7,393.2,446.2,389.7,443.6,387.1z" />
                                                    </svg>
                                        </div>
                                        <iframe width="1268" height="713"
                                                src="https://www.youtube.com/embed/FkqJ-EnKUxM?list=PLOQDek48BpZFzxKS-2sLAeSBB83x-xILB"
                                                title="Урок GSAP 3.6 - Начало работы - Эпизод 1" frameborder="0"
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                                allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                            <div class="sec_11_p_1">Dave Goldblatt</div>
                            <div class="sec_11_p_2">CEO of Wavecut</div>
                        </div>
                        <div class="video_text_cont_1">
                            <div class="single-portfolio">
                                <svg class="cursor" width="114" height="114" viewBox="0 0 114 114" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="57" cy="57" r="57" fill="#FFFDFD" fill-opacity="0.55" />
                                    <path d="M73 55.5L49.75 68.0574L49.75 42.9426L73 55.5Z" fill="#402B2B" />
                                </svg>
                                <img class="video" src="images/static/Rectangle 12.png" alt="">
                                <div class="full">
                                    <div class="center">
                                        <div class="close">
                                            <svg class="close-color" height="80px" fill="blue" version="1.1"
                                                 viewBox="0 0 512 512" width="80px" xml:space="preserve"
                                                 xmlns="http://www.w3.org/2000/svg"
                                                 xmlns:xlink="http://www.w3.org/1999/xlink">
                                                        <path
                                                            d="M443.6,387.1L312.4,255.4l131.5-130c5.4-5.4,5.4-14.2,0-19.6l-37.4-37.6c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4  L256,197.8L124.9,68.3c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4L68,105.9c-5.4,5.4-5.4,14.2,0,19.6l131.5,130L68.4,387.1  c-2.6,2.6-4.1,6.1-4.1,9.8c0,3.7,1.4,7.2,4.1,9.8l37.4,37.6c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1L256,313.1l130.7,131.1  c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1l37.4-37.6c2.6-2.6,4.1-6.1,4.1-9.8C447.7,393.2,446.2,389.7,443.6,387.1z" />
                                                    </svg>
                                        </div>
                                        <iframe width="1268" height="713"
                                                src="https://www.youtube.com/embed/FkqJ-EnKUxM?list=PLOQDek48BpZFzxKS-2sLAeSBB83x-xILB"
                                                title="Урок GSAP 3.6 - Начало работы - Эпизод 1" frameborder="0"
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                                allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                            <div class="sec_11_p_1">Dave Goldblatt</div>
                            <div class="sec_11_p_2">CEO of Wavecut</div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="sec_11_btn" id="load-more">
                <p class="sec_11_p">See More</p>
            </button>
        </div>
    </div>
</template>

<script>
export default {
    name: "team",

}
</script>

<style scoped>

</style>
