.footer_text_hidden {
    overflow: hidden;
}

.footer {
    width: 100%;
    max-width: 1920px;
    background: #1931AF;
}

.footer_logo_text_cont {
    padding: 166px 608px 218px 608px;
}

.footer_svg_logo {
    margin: 0 258px;
}

.footer_h4_cont {
    margin-top: 52px;
}

.footer_h4 {
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    transform: translateY(90px);
}

.footer_p {
    margin-top: 11px;
    font-family: 'Space Grotesk-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.footer_group_2 {
    margin: 0 103px 231px 94px;
    display: flex;
}

.footer_table_1 {
    margin-right: 261px;
    display: flex;
    flex-direction: column;
}

.footer_h6 {
    margin-bottom: 1px;
    font-family: 'Space Grotesk-Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer_a {
    text-decoration: none;
    margin-top: 15px;
    font-family: 'Space Grotesk-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.6;
}

.footer_btn_h6 {
    font-family: 'Space Grotesk-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 150%;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer_btn_p {
    margin-top: 11px;
    font-family: 'Space Grotesk-Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
}

.footer_cont_inp_btn {
    margin-top: 26px;
    display: flex;
}

.footer_cont_inp_email {
    background: #192B86;
}

.footer_inp_email::placeholder {
    color: #FFFFFF;
    opacity: 0.5;
}

.footer_inp_email {
    padding: 24px 28px;
    font-family: 'Space Grotesk-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    background: none;
    appearance: none;
    border: none;
    outline: none;
}

.footer_btn {
    padding: 22px 40px;
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #1D2130;
    cursor: pointer;
    border: none;
    outline: none;
}

.footer_btn:hover {
    background: #FFF353;
    transition: .2s linear;
}

.footer_foo {
    padding: 0 94px 71px 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_foo_text {
    margin: 4px 0;
    font-family: 'Space Grotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    text-align: justify;
    color: rgba(255, 255, 255, 0.9);
}

.footer_svg_left_right {
    margin: 0 18px;
}

// Responsive

@media screen and (max-width: 1919px) and (min-width: 744px) {

    .footer_svg_logo {
        width: calc(188px + 62 * ((100vw - 1920px) / 744));
        height: calc(185px + 61 * ((100vw - 1920px) / 744));
        margin: 0 calc(258px + 85* ((100vw - 1920px) / 744));
    }

    .footer_logo_text_cont {
        padding: calc(166px + 77 * ((100vw - 1920px) / 744)) calc(608px + 257 * ((100vw - 1919px) / 744)) calc(218px + 103 * ((100vw - 1920px) / 744)) calc(608px + 257 * ((100vw - 1920px) / 744));
    }

    .footer_h4 {
        font-size: calc(60px + 19 * ((100vw - 1920px) / 744));
        line-height: calc(60px + 19 * ((100vw - 1920px) / 744));
    }

    .footer_p {
        font-size: calc(18px + 1.3 * ((100vw - 1920px) / 744));
        margin-top: calc(11px + 4 * ((100vw - 1920px) / 744));
    }

    .footer_h4_cont {
        margin-top: calc(52px + 26 * ((100vw - 1920px) / 744));
    }

    .footer_btn_h6 {
        font-size: calc(46px + 10 * ((100vw - 1920px) / 744));
    }

    .footer_btn_p {
        margin-top: calc(11px + 4.4 * ((100vw - 1920px) / 744));
        font-size: calc(18px + 1.3 * ((100vw - 1920px) / 744));
    }

    .footer_cont_inp_btn {
        margin-top: calc(26px + 10 * ((100vw - 1920px) / 744));
    }

    .footer_group_2 {
        margin: 0 calc(103px + 33 * ((100vw - 1920px) / 744)) calc(231px + 101 * ((100vw - 1920px) / 744)) calc(94px + 25 * ((100vw - 1920px) / 744));
    }

    .footer_table_1 {
        margin-right: calc(261px + 345 * ((100vw - 1920px) / 1240));
    }

    .footer_table_1 {
        width: 140px;
    }

    .footer_table_1 {
        width: 160px;
    }

    .footer_table_3 {
        width: 170px;
    }

    .footer_foo {
        padding: 0 calc(94px + 32* ((100vw - 1920px) / 744)) calc(71px + 4* ((100vw - 1920px) / 744)) calc(95px + 33* ((100vw - 1920px) / 744));
    }

    @media (max-width: 1239px) and (min-width: 744px) {

        .footer_group_2 {
            display: grid;
            grid-template-columns: auto auto auto;
        }

        .footer_table_1 {
            margin-right: 261px;
        }

        .footer_table_2 {
            margin-left: calc(60px + 290 * ((100vw - 1920px) / 744));
        }

        .footer_table_3 {
            margin-left: calc(0px + 105 * ((100vw - 1920px) / 744));
        }

        .footer_text_btn_cont {
            margin-top: calc(0px + -19 * ((100vw - 1920px) / 744));
        }

        .footer_btn {
            padding: calc(22px + 4.4 * ((100vw - 1920px) / 744)) calc(40px + -33 * ((100vw - 1920px) / 744));
        }

        .footer_inp_email {
            padding: 24px calc(28px + -86 * ((100vw - 1920px) / 744)) 24px calc(28px + -5 * ((100vw - 1920px) / 744));
        }
    }
}


@media screen and (max-width: 744px) and (min-width: 360px) {
    .footer_h4 {
        font-size: 30px;
        line-height: 32px;
    }

    .footer_foo_text {
        font-size: calc(16px + 5.6* ((100vw - 743px) / 360));
    }

    .footer_h4_cont {
        margin-top: 25px;
    }

    .footer_p {
        font-size: 13px;
        margin-top: 5px;
    }

    .footer_table_1 {
        margin-right: 0;
    }

    .footer_btn_h6 {
        font-size: 30px;
        line-height: 45px;
    }

    .footer_btn_p {
        margin-top: 4px;
        font-size: 16px;
        line-height: 24px;
    }

    .footer_cont_inp_btn {
        margin-top: 8px;
    }

    .footer_btn {
        padding: 15px 92px;
    }

    .footer_text_btn_cont {
        margin-left: 0;
    }

    .footer_foo {
        padding: 0 44px 65px 42px;
        display: flex;
    }

    @media (max-width: 743px) and (min-width: 600px) {
        .footer_group_2 {
            margin: 0px calc(54px + 160* ((100vw - 744px) / 600)) 76px calc(51px + 120* ((100vw - 744px) / 600));
            display: grid;
            grid-template-columns: auto auto auto;
        }

        .footer_table_2 {
            margin-left: calc(-405px + -28* ((100vw - 744px) / 600));
        }

        .footer_table_3 {
            margin-left: calc(-167px + 100* ((100vw - 744px) / 600));
        }

        .footer_text_btn_cont {
            margin-left: 0;
            margin-top: calc(0px + 30* ((100vw - 744px) / 600));
        }

        .footer_cont_inp_email {
            padding: 20px calc(178px + 270* ((100vw - 744px) / 600));
        }

        .footer_inp_email {
            margin-left: calc(-154px + -225* ((100vw - 744px) / 600));
            padding: 0;
        }

        .footer_logo_text_cont {
            padding: 44px calc(202px + 260* ((100vw - 744px) / 600)) 55px calc(202px + 155* ((100vw - 744px) / 360));
        }

        .footer_svg_logo {
            width: 90px;
            height: 88px;
            margin: 0 calc(124px + 42* ((100vw - 744px) / 600));
        }
    }

    @media (max-width: 599px) and (min-width: 360px) {
        .footer_logo_text_cont {
            padding: 44px 10px 55px 10px;
        }

        .footer_svg_logo {
            margin: 0 calc(243px + 181* ((100vw - 599px) / 360));
            width: 90px;
            height: 88px;
        }

        .footer_group_2 {
            margin: 0 0 72px 25px;
            display: flex;
            flex-direction: column;
            gap: 38px;
        }

        .footer_foo {
            padding: 0 22px 55px 20px;
            display: flex;
        }

        .footer_btn {
            padding: 15px calc(92px + 102* ((100vw - 599px) / 360));
        }

        .footer_inp_email {
            padding: calc(24px + 19* ((100vw - 599px) / 360)) calc(28px + 43* ((100vw - 599px) / 360)) calc(24px + 16* ((100vw - 599px) / 360)) calc(28px + 16* ((100vw - 599px) / 360));
        }
    }
}
