.header-pc {
    width: 100%;
    max-width: 1920px;
    background: #E6E4E4;
    -webkit-backdrop-filter: blur(14.5px);
    backdrop-filter: blur(14.5px);
    padding: 11.5px 50px 11.5px 94px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo_svg_black {
    margin: 11.5px 0 12.18px 0;
    cursor: pointer;
}

.logo_svg_black:hover #logo_svg_yellow {
    fill: #FFF353;
    transition: 0.2s linear;
}

.menu {
    display: flex;
    gap: 45px;
}

.menu_a {
    position: relative;
    padding: 10px;
    text-decoration: none;
    font-family: "Space Grotesk-Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
    color: #18191E;
}

.menu_a::after {
    content: "";
    width: 100%;
    display: block;
    color: #1931AF;
    border-bottom: 2px solid;
    margin-bottom: 7px;
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    transition: opacity 0.2s linear;
}

.menu_a:hover {
    color: #1931AF;
}

.menu_a:hover::after {
    opacity: 1;
}

.get {
    text-decoration: none;
}

.svg_text_inner {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.svg_text {
    font-family: "Space Grotesk-Regular";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
    color: #1931AF;
}

.svg_text_inner:hover #svg_bg_yellow {
    transition: 0.2s linear;
}

.svg_text_inner:hover #fill {
    fill: #FFF353;
    transition: 0.2s linear;
}

.svg_text_inner:hover .svg_text {
    color: #FFF353;
    transition: 0.2s linear;
}

.header-mobile {
    padding: 9px 20px;
    background: #E6E4E4;
    -webkit-backdrop-filter: blur(14.5px);
    backdrop-filter: blur(14.5px);
    position: fixed;
    display: none;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    width: 100%;
}

.mobile-header-menu {
    cursor: pointer;
}

.dis-none {
    display: none;
    cursor: pointer;
}

.mobile-menu {
    padding: 54px 82px 85px 82px;
    background: #E5E4E4;
    position: absolute;
    top: 100%;
    left: 0;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    display: none;
}

// Responsive

@media screen and (max-width: 1919px) and (min-width: 360px) {

    .header-pc {
        padding: 9px 20px;
    }

    .menu {
        margin: auto;
    }

    @media (max-width: 1100px) {
        .header-mobile {
            display: flex;
        }

        .header-pc {
            display: none;
        }
    }
}
