@font-face {
    font-family: "Space Grotesk-Regular";
    src: url("/fonts/Space_Grotesk/static/SpaceGrotesk-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Space Grotesk-Bold";
    src: url("/fonts/Space_Grotesk/static/SpaceGrotesk-Bold.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Space Grotesk-SemiBold";
    src: url("/fonts/Space_Grotesk/static/SpaceGrotesk-SemiBold.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Space Grotesk-Medium";
    src: url("/fonts/Space_Grotesk/static/SpaceGrotesk-Medium.ttf");
    font-weight: normal;
}
